
{% load static %}

<section id="who" class="defineFloat">
        <div class="container">    
          
            <div class="row">
          
            <div class="col-sm-12 col-xs-12 noPad">
              <div class="col-md-3 col-sm-3 col-sm-offset-1 col-xs-12 whoLeft wow fadeInUp" style="visibility: hidden; animation-name: none;">
                <hr>
                <h2>Who We Are</h2>
              </div>
              <div class="col-md-7 col-sm-8 col-xs-12 whoRight wow fadeInUp" style="visibility: hidden; animation-name: none;">
                <p>We are an <span>Award Winning Digital Marketing Company</span> with a mission to put your business in front of ready-to-buy customers.</p>
                <hr>
                <div class="defineFloat whoInner">
                  <p>With extensive industry experience and customer-centric
     approach, we ensure your brand, website and marketing campaigns perform
     exceptionally, every time. We are an experienced team of professionals 
    that stands at the forefront of all emerging trends in digital 
    marketing. Understanding that every business has a different set of 
    challenges and unique requirements, we deliver custom Internet Marketing
     Solutions that meet their specific needs. Together, we help diverse 
    industry clients to stay ahead of their competition.
                  </p>
                </div>
                
                <div class="defineFloat whoLinks"> <a href="#" title="" data-original-title="Know more about us"><span>Know more about us</span><img src="images/rightArrow.png" alt="" class="img-responsive"></a> <a href="#" id="jQueryButtons2" title="" data-original-title="What makes us different? "><span>What makes us different?</span> <img src="images/rightArrow.png" alt="" class="img-responsive"></a></div>
              </div>
            </div>
          </div>
        </div>
      </section>