
{% extends 'home/base.html' %}
{% load static %}
<body class="aboutPage">
{% block nav %}{% include 'home/nav-section.html' %}{% endblock nav %}
{% block about %}
	
<section id="sliderInner" class="defineFloat aboutSlider"> <img src="{% static 'home/images/aboutSlider.jpg' %}" class="img-responsive" alt="" />
		<div class="slideContent servicesButton">
			<h2>About SEO Experts India</h2>
			<p>We are an expert Internet Marketing Company delivering game-changing results for great brands worldwide. Leveraging our large knowledge base, we deliver internet marketing solutions that meet customers' needs, business and budget expectations. </p>
			<a href="javascript:void(0);" id="jQueryButtons" class="btn btn-default whiteButton ">Why we are Different?</a> </div>
	</section>
	
	<section class="defineFloat" id="aboutSeo">
		<div class="container ">
			<div class="row">
				<div class="col-sm-12 col-xs-12 noPad aboutSeoFirst ">
					<div class="col-sm-6 col-xs-6 asfLeft wow fadeIn" >
						<h2>SEO Experts India exists<br>
							because of its love for SEO,<br>
							Online Marketing & <br>
							the Internet!</h2>
						<hr>
					</div>
					<div class="col-sm-6 col-xs-6 asfRight wow fadeIn" >
						<p>With extensive industry experience and customer-centric approach, we ensure your brand, website and marketing campaigns perform exceptionally, every time. </p>
						<p>We are an experienced team of professionals that stands at the forefront of all emerging trends in digital marketing. Understanding that every business has a different set of challenges and unique requirements, we deliver custom Internet Marketing Solutions.</p>
			
						<ul class="list-unstyled">	
							<li><a id="marketLink" href="http://www.seoexpertsindia.com/#marketing" title="">Our services <img src="{% static 'home/images/arrowRight.png' %}" alt="" class="img-responsive" /></a></li>
							<li><a href="ranking.html" title="">OUr Work <img src="{% static 'home/images/arrowRight.png' %}" alt="" class="img-responsive" /></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12 col-xs-12 aboutSlides">
			
			<div class="home-demo">
				<div class="row">
				<div class="large-12 columns">
					
					<div class="owl-carousel">
					<div class="item">
						<img src="{% static 'home/images/abslide-1.jpg' %}" alt="..."> 
					</div>
					<div class="item">
					 <img src="{% static 'home/images/abslide-2.jpg' %}" alt="..."> 
					</div>
					<div class="item">
					 <img src="{% static 'home/images/abslide-3.jpg' %}" alt="..."> 
					</div>
					<div class="item">
						<img src="{% static 'home/images/abslide-4.jpg' %}" alt="..."> 
					</div>
					<div class="item">
					 <img src="{% static 'home/images/abslide-5.jpg' %}" alt="..."> 
					</div>
					<div class="item">
						<img src="{% static 'home/images/abslide-6.jpg' %}" alt="..."> 
					</div>
					</div>
				</div>
				</div>
			</div>
	
	</div>
			
		
				</div>
				</div>
	</section>
	
	<section class="defineFloat" id="aboutSeoExperts">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12 text-center assHeading">
					<h2>Why SEO Experts India?</h2>
					<hr>
				</div>
				<div class="col-sm-12 col-xs-12 noPad assOute">
					<div class="col-sm-6 col-xs-6 assLeft">
						<div class="col-sm-12 col-xs-12 noPad assIn wow fadeIn">
							<div class="asslImage"> <img src="{% static 'home/images/ass1.png' %}" class="img-responsive" alt="" /> </div>
							<div class="asslContent">
								<h3>Strong & Talented team of<br>
									70+ Professionals</h3>
								<p>Our team carries a unique blend of unparalleled background experience from diverse industry segments to deliver best-in-class SEO & Internet Marketing Services.</p>
							</div>
						</div>
						<div class="col-sm-12 col-xs-12 noPad assIn wow fadeIn">
							<div class="asslImage"> <img src="{% static 'home/images/ass2.png' %}" class="img-responsive" alt="" /> </div>
							<div class="asslContent">
								<h3>100% Ethical, Transparent & <br>
									White Hat Practices</h3>
								<p>By virtue of working in the field of SEO & Internet Marketing for quite some time now, we have put together a set of highly efficient & effective processes and techniques that are among the primary reasons for our high ROI project delivery.</p>
							</div>
						</div>
						<div class="col-sm-12 col-xs-12 noPad assIn wow fadeIn">
							<div class="asslImage"> <img src="{% static 'home/images/ass3.png' %}" class="img-responsive" alt="" /> </div>
							<div class="asslContent">
								<h3>Proven SEO Strategies with around<br>
									7 Year of Domain Experience</h3>
								<p>Be it technical skills or domain knowledge or experience of dealing with overseas clients, we've got all the experience & expertise to deliver end-to-end SEO & Online Marketing Solutions for our clients.</p>
							</div>
						</div>
						<div class="col-sm-12 col-xs-12 noPad assIn wow fadeIn">
							<div class="asslImage"> <img src="{% static 'home/images/ass4.png' %}" class="img-responsive" alt="" /> </div>
							<div class="asslContent">
								<h3>Price Competitiveness</h3>
								<p>We take pride in our Competitive Price Quotes! Get one now » We enjoy rendering maximum ROI for our customers at the lowest cost possible. Our quotes are highly competitive & hence we love to boast about that!</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-xs-6 assRight">
						<div class="col-sm-12 col-xs-12 noPad assIn wow fadeIn">
							<div class="assrImage"> <img src="{% static 'home/images/ass5.png' %}" class="img-responsive" alt="" /> </div>
							<div class="assrContent">
								<h3>Global Presence with Clients in<br>
									20+ Countries</h3>
								<p>90% percent of our clients are overseas & we've worked for clients in more than 20+ countries as a result of which our team has been enriched with better know-how of cross cultural differences.</p>
							</div>
						</div>
						<div class="col-sm-12 col-xs-12 noPad assIn wow fadeIn">
							<div class="assrImage"> <img src="{% static 'home/images/ass6.png' %}" class="img-responsive" alt="" /> </div>
							<div class="assrContent">
								<h3>ISO 9001 Certified<br>
									company</h3>
								<p>We are an ISO 9001:2008 certified company having a sharp focus on quality of work. We favor quality above quantity and constantly strive to render projects with the highest quality standards possible.</p>
							</div>
						</div>
						<div class="col-sm-12 col-xs-12 noPad assIn wow fadeIn">
							<div class="assrImage"> <img src="{% static 'home/images/ass7.png' %}" class="img-responsive" alt="" /> </div>
							<div class="assrContent">
								<h3>One stop shop for all of SEO, Internet Marketing, <br>
									Creative Design and Web/Mobile Applications</h3>
								<p>We're a one-stop provider you can depend on for all your design, programming & Internet Marketing requirements. Be it web design or web development, graphic design or online marketing - we have the required expertise & experience to do it all.</p>
							</div>
						</div>
						<div class="col-sm-12 col-xs-12 noPad assIn wow fadeIn">
							<div class="assrImage"> <img src="{% static 'home/images/ass8.png' %}" class="img-responsive" alt="" /> </div>
							<div class="assrContent">
								<h3>Quality of Work</h3>
								<p>Our customers speak high about our work and we take pride in it!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<section id="company" class="defineFloata aboutCounter">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-xs-12">
						<div class="defineFloat achOut wow fadeInUp">
							<div class="col-sm-12 col-xs-12 text-center achHeading ">
								<h2>SEO Experts India at a Glance.</h2>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-3 achievedKHM text-center">
								<h2>
									<label class="aboutCount" id="800">0</label>
									<span>+</span></h2>
								<p>Successful Projects/Campaigns</p>
					
							</div>
							<div class="col-md-3 col-sm-3 col-xs-3 achievedKHM text-center">
								<h2>
									<label class="aboutCount" id="350">0</label>
									<span>+</span></h2>
								<p> Satisfied Customers</p>
					
							</div>
							<div class="col-md-3 col-sm-3 col-xs-3 achievedKHM text-center">
								<h2>
									<label class="aboutCount" id="2500">0</label> <span>+</span>
								</h2>
								<p>Page #1 Rankings</p>
					
							</div>
							<div class="col-md-3 col-sm-3 col-xs-3 achievedKHM text-center">
								<h2>
									<label class="aboutCount" id="10">0</label>
									<span>X</span></h2>
								<p>Growth in the last 5 Years</p>
				 
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
	
	
	<section class="defineFloat animatedMap" id="aboutPartner">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12 text-center apHeading wow fadeIn">
					<h2> We've partnered with over 350+ businesses &
						30+ Resellers from around the world.</h2>
					<hr>
				</div>
				<!--div class="col-sm-12 col-xs-12 text-center apImage"> <img src="{% static 'home/images/apMap.png' %}" class="img-responsive" alt="" /> </div-->
			<div class="col-sm-12 col-xs-12 text-center">
				<div class="mapPic">
					<img class="mapNormal resMap" src="{% static 'home/images/apMap.png' %}" alt="">
					<img class="mapNormal deskMap" src="{% static 'home/images/desktopmap.png' %}" alt="">
					<div class="marker marker1">
						<div class="pin"></div>
						<div class="pin-effect pin-effect1"></div>
					</div>
					<div class="marker marker2">
						<div class="pin"></div>
						<div class="pin-effect pin-effect2"></div>
					</div>
					<div class="marker marker3">
						<div class="pin"></div>
						<div class="pin-effect pin-effect3"></div>
					</div>
					<div class="marker marker4">
						<div class="pin"></div>
						<div class="pin-effect pin-effect4"></div>
					</div>
					<div class="marker marker5">
						<div class="pin"></div>
						<div class="pin-effect pin-effect5"></div>
					</div>
					<div class="marker marker6">
						<div class="pin"></div>
						<div class="pin-effect pin-effect6"></div>
					</div>
					<div class="marker marker7">
						<div class="pin"></div>
						<div class="pin-effect pin-effect7"></div>
					</div>
					<div class="marker marker8">
						<div class="pin"></div>
						<div class="pin-effect pin-effect8"></div>
					</div>
					<div class="marker marker9">
						<div class="pin"></div>
						<div class="pin-effect pin-effect9"></div>
					</div>
					<div class="marker marker10">
						<div class="pin"></div>
						<div class="pin-effect pin-effect10"></div>
					</div>
					<div class="marker marker11">
						<div class="pin"></div>
						<div class="pin-effect pin-effect11"></div>
					</div>
					<div class="marker marker12">
						<div class="pin"></div>
						<div class="pin-effect pin-effect12"></div>
					</div>
					<div class="marker marker13">
						<div class="pin"></div>
						<div class="pin-effect pin-effect13"></div>
					</div>
					<div class="marker marker14">
						<div class="pin"></div>
						<div class="pin-effect pin-effect14"></div>
					</div>
					<div class="marker marker15">
						<div class="pin"></div>
						<div class="pin-effect pin-effect15"></div>
					</div>
					<div class="marker marker16">
						<div class="pin"></div>
						<div class="pin-effect pin-effect16"></div>
					</div>
					<div class="marker marker17">
						<div class="pin"></div>
						<div class="pin-effect pin-effect17"></div>
					</div>
					<div class="marker marker18">
						<div class="pin"></div>
						<div class="pin-effect pin-effect18"></div>
					</div>
					<div class="marker marker19">
						<div class="pin"></div>
						<div class="pin-effect pin-effect19"></div>
					</div>
					<div class="marker marker20">
						<div class="pin"></div>
						<div class="pin-effect pin-effect20"></div>
					</div>
					<div class="marker marker21">
						<div class="pin"></div>
						<div class="pin-effect pin-effect21"></div>
					</div>
					<div class="marker marker22">
						<div class="pin"></div>
						<div class="pin-effect pin-effect22"></div>
					</div>
					<div class="marker marker23">
						<div class="pin"></div>
						<div class="pin-effect pin-effect23"></div>
					</div>
					<div class="marker marker24">
						<div class="pin"></div>
						<div class="pin-effect pin-effect24"></div>
					</div>
					<div class="marker marker25">
						<div class="pin"></div>
						<div class="pin-effect pin-effect25"></div>
					</div>
					<div class="marker marker26">
						<div class="pin"></div>
						<div class="pin-effect pin-effect26"></div>
					</div>
					<div class="marker marker27">
						<div class="pin"></div>
						<div class="pin-effect pin-effect27"></div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="container-fluid apOut">
			<div class="container">
				<div class="row">
					<div class="col-lg-offset-1 col-lg-11 col-sm-12 col-xs-12 aboutPartnerList">
						<ul class="list-unstyled wow fadeIn">
							<li><img src="{% static 'home/images/ap1.png' %}" class="img-responsive" alt="" /></li>
							<li><img src="{% static 'home/images/ap2.png' %}" class="img-responsive" alt="" /></li>
							<li><img src="{% static 'home/images/ap3.png' %}" class="img-responsive" alt="" /></li>
							<li><img src="{% static 'home/images/ap4.png' %}" class="img-responsive" alt="" /></li>
							<li><img src="{% static 'home/images/ap5.png' %}" class="img-responsive" alt="" /></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="testimonial" class="defineFloat aboutReviewSection">
		<div class="container">
			<div class="row wow fadeInUp">
				<div class="col-sm-12 col-xs-12 testOuter testimonialDots">
					<h2>What our Clients Say About Us</h2>
					<div class="bx-wrapper" style="max-width: 100%;">
						<div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height:auto !important;">
							<div class="defineFloat bxslider" style="width: auto; position: relative;">
					<!-- part 1 -->
					<div class="col-sm-12 col-xs-12 testContent text-center noPad" style="float: none; list-style: outside none none; position: absolute; width: 1140px; z-index: 0; display: none;"> 
						<p>The major factors that lead me straight into the path of SEOExperts India were their own Google ranking and the competitive price they were offering. To top it off , their process was very good and efficient with prompt service and I’m getting good rankings in Google for my site. The team is very professional and have an excellent skillset. Overall, the quality of service and the cost was very good and if I were to recommend their service to anyone, I would describe them to expect excellent service.</p>
						<h3>- Neeraj Parson,  www.fishertondentalcare.co.uk</h3>
					</div>
					<!-- part 2 -->
					<div class="col-sm-12 col-xs-12 testContent text-center noPad" style="float: none; list-style: outside none none; position: absolute; width: 1140px; z-index: 50; display: block;"> 
						<p>I have been very satisfied with the service and quality of work of SEOExperts. They provided a very high standard of work for a very competitive price. Everything was explained and there were no hidden costs. They were also very easy to communicate with. I would definitely recommend them to anyone seeking a high quality and very reasonably priced service.</p>
						<h3>- Moira Williamson,  www.trulymedicalgetaways.com</h3>
					</div>
					<!-- part 3 -->
					<div class="col-sm-12 col-xs-12 testContent text-center noPad" style="float: none; list-style: outside none none; position: absolute; width: 1140px; z-index: 50; display: block;"> 
						<p>The staff at Seo Experts India are friendly, efficient and reliable. In the fast changing world of internet marketing, they are always ahead of the game. I can gladly recommend them for search engine optimization services.</p>
						<h3>- Beverly Hui,  www.capetownsplendour.com</h3>
					</div>
					<!-- part 4 -->
					<div class="col-sm-12 col-xs-12 testContent text-center noPad" style="float: none; list-style: outside none none; position: absolute; width: 1140px; z-index: 50; display: block;"> 
						<p>One of the major factors that lead me to SEOExperts India was their top Ranking in search engines for certain terms related to SEO in addition to that the marketing team’s friendly approach gained my interest further to discuss the project. SEO experts have achieved the anticipated results though they have not disclosed the processes involved. I would like to give a good rating for the skills being showcased while commencing the project. </p>
						<h3>Anu Kishan, www.annexmed.com</h3>
					</div>
					<!-- part 5 -->
					<div class="col-sm-12 col-xs-12 testContent text-center noPad" style="float: none; list-style: outside none none; position: absolute; width: 1140px; z-index: 50; display: block;"> 
						<p>I discovered SEOExperts India over the internet & with all the information I found about them, they seemed like a reliable choice. In fact, after looking at the well-defined and organized campaign, the 1st impression I got was that they could deliver results . Moreover the questions they directed at me were directly related to the SEO campaign and their suggestions were accurate. Also their pricing structure was very competitive & the timeframe they provided was spot on!</p>
						<h3>Ross Huntley, www.muscle-science-australia.com </h3>
					</div>
					
					
					
							</div>
						</div>
					</div>
					<div class="defineFloat lbTest text-center">
						<div class="defineFloat text-center lbtImage"></div>
						<a href="reviews.html" class="btn btn-defaul commonInnerButton simpleHover hvr-grow">
						READ MORE REVIEWS <i class="fa fa-angle-double-right" aria-hidden="true"></i>
						</a> <span class="defineFloat text-center"><a href="javascript:void(0);" title="+1 (646) 808 0229">Call us on +1 (646) 808 0229</a></span> </div>
				</div>
			</div>
		</div>
	</section>
	<section class="defineFloat" id="becomeReseller">
		<div class="container">
			<div class="row wow fadeIn">
				<div class="col-sm-12 col-xs-12 text-center brHeading">
					<h2>Become a Reseller</h2>
				</div>
				<div class="col-sm-12 col-xs-12 text-center brContent">
					<p>Since its inception, <span class="themeColor">SEO Experts India has believed in forming long-term partnerships</span>. We believe that the strength of an organization depends on the strength of its relationships with employees, customers, vendors, partners & other stakeholders.</p>
					<p>Over the years, SEO Experts India has formed various partners across the globe in countries like The United States, United Kingdom, Germany, Australia, Canada, New Zealand etc. Be it marketing companies, web design agencies, or simply individuals, we have different partnership propositions for all! <span class="themeColor">Our 3 Unique Partnership Programs</span> have been designed to make it possible for you grow your company and boost its profitability, no matter what its present size.</p>
				</div>
				<div class="col-sm-12 col-xs-12 text-center brButton wow fadeInUp"> <a href="reseller-seo.html" class="btn btn-primary simpleHover buttonGetInformation" >
					Get more Information
					</a> </div>
			</div>
		</div>
	</section>
	<section id="higherRating" class="defineFloat">
		<div class="container" id="contForm">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 formOuter wow fadeIn">
					<div class="defineFloat text-center ">
						<h2> Don't Wait Any Longer for Higher Rankings. Get Started Today!</h2>
						<p>Call us: <a href="javascript:void(0);" title="+1 (646) 808 0229">+1 (646) 808 0229</a>, email us: <span class="salesEmail"></span> OR just fill up the form below. </p>
					</div>
						<form class="contactPageform" id="mainMobileform" method="post">
		 <div class="containermessage"><p></p></div>
							<div class="form-group col-sm-4 col-xs-4">
								<input id="exampleInputName1" value="" name="txtName" type="text" class="form-control validate[required,custom[onlyLetterSp],minSize[3],maxSize[30]]" placeholder="Name" autocomplete="off">
							</div>
							<div class="form-group col-sm-4 col-xs-4">
								<input id="exampleInputEmail1" value="" name="txtEmail" type="email" class="form-control validate[required, custom[email]]" placeholder="Email" autocomplete="off">
							</div>
							<div class="form-group col-sm-4 col-xs-4">
								<input id="exampleInputNumber1" value="" name="txtPhone" type="text" class="form-control validate[required ,custom[phone] , minSize[10] , maxSize[12]]" placeholder="Phone(With Country &amp; AreaCode)" autocomplete="off">
							</div>
							<div class="form-group col-sm-12 col-xs-12">
								<textarea name="txtMessage"  class="form-control validate[required]" placeholder="Your Message">			</textarea>
							</div>
							<div class="form-group submit col-sm-12 col-xs-12">
								
								<p class="help-block"><input name="txtAccept" value="Yes" type="checkbox"> I'd like to get 1 Hour Free Consultation and also a Price Estimate. </p>
								<button type="submit" class="btn btn-default">Send</button>
							</div>
						</form>
				</div>
			</div>
		</div>
	</section>
	<script>
		$('#myCarousel').carousel({
			interval: 10000
		})
	
		$('.carousel .item').each(function(){
			var next = $(this).next();
			if (!next.length) {
			next = $(this).siblings(':first');
			}
			next.children(':first-child').clone().appendTo($(this));
			
			if (next.next().length>0) {
			next.next().children(':first-child').clone().appendTo($(this));
			}
			else {
			$(this).siblings(':first').children(':first-child').clone().appendTo($(this));
			}
		});
	</script>

{% endblock about %}
{% block footer %}{% include 'home/footer-section.html' %}{% endblock footer %}