{% load static %}

<!DOCTYPE html>
<html class=" js no-touch" lang="en">
    {% include 'home/head.html' %}
    
        {% block nav %}{% endblock nav %}
        {% block hero %} {% endblock hero %}
        {% block about %} {% endblock about %}
        {% block contact %} {% endblock contact %}
        {% block cta %} {% endblock cta %}
        {% block exports %} {% endblock exports %}
        {% block imports %} {% endblock imports %}
        {% block logistics %} {% endblock logistics %}
        {% block articles %} {% endblock articles %}
        {% block detail %} {% endblock detail %}
        {% block testimonial %} {% endblock testimonial %}
        {% block partners %} {% endblock partners %}
        {% block team %} {% endblock team %}
        {% block posts %} {% endblock posts %}    
        {% block form %} {% endblock form %}
        {% block footer %}{% endblock footer %}       
        {% include 'home/js.html' %}
    </body>
</html>