{% extends 'home/base.html' %} {% load static %}

<body class="reviews">
	{% block nav %}{% include 'home/nav-section.html' %}{% endblock nav %} {% block contact %}

	<section id="sliderInner" class="defineFloat commonSlider formbannerArrow">
		<h4 class="hide">removing error</h4>
		<!--img src="{% static 'home/images/getInTouch.jpg" class="img-responsive" alt="" /-->
	</section>

	<section class="defineFloat" id="getInTouch">
		<div class="container">
			<div class="row">
				<div id="contForm" class="col-sm-12 col-xs-12 text-center getHeading">
					<h2>Enough about us, let's talk about you now!</h2>
					<hr>
					<p>We would love to work with you and are waiting for you to drop us a line! Please fill out the form below to get in touch
						with us or
						<a href="get-a-quote.html">request for a quote here</a>. We’ll be sure to get back to you as soon as we can.
					</p>
				</div>
				<div class="col-sm-12 col-xs-12 getOuter">
					<div class="col-sm-12 col-xs-12">
						<div class="defineFloat getOut">
							<div class="col-md-8 col-sm-7 col-xs-12 noPad getLeft">
								<form class="contactPageform" id="mainform" method="post">
									<div class="form-group">
										<label>Name</label>
										<input name="txtName" type="text" class="form-control validate[required,custom[onlyLetterSp],minSize[3],maxSize[30]]" value="">
									</div>
									<div class="form-group">
										<label>Email</label>
										<input name="txtEmail" type="email" class="form-control validate[required, custom[email]]" value="">
										<div class="formSmExtLine mailExt">*Please make sure the Email ID shared from your end is valid.</div>
									</div>
									<div class="form-group">
										<label>Phone Number</label>
										<input name="txtPhone" type="text" class="form-control validate[required ,custom[phone] , minSize[10] , maxSize[12]]" value="">
									</div>
									<div class="form-group">
										<label>Company</label>
										<input name="txtCompany" type="text" class="form-control validate[required]" value="">
									</div>
									<div class="form-group">
										<label>Website</label>
										<input name="txtUrl" type="text" class="form-control validate[required,custom[urlmine]]" value="">
									</div>
								
									<div class="form-group">
										<label>Your Message</label>
										<textarea name="txtMessage" class="form-control validate[required]"></textarea>
									</div>
									<!-- <div class="form-group">
										<label>Security</label>
										<div class="capchapic col-lg-7 col-md-8 col-sm-8 col-xs-8 noPad">
											<script src='https://www.google.com/recaptcha/api.js'></script>
											<div class="g-recaptcha" data-sitekey="6Le1nT0UAAAAAEZRy5RhVCj9rig8QCyRjzfmIdVU"></div>
										</div>
									</div> -->
									<button type="submit" class="btn btn-default">Send Message
										<i class="fa fa-angle-double-right ctnBtn" aria-hidden="true"></i>
									</button>
								</form>
							</div>

							<div class="col-md-4 col-sm-5 col-xs-12 getRight">
								<div class="defineFloat getRightOut">
									<div class="defineFloat getRightIn">
										<h3>If you prefer a more tangible
											<br> form of communication we're here:</h3>
										<hr>
										<div class="defineFloat sameCode">
											<p>CPA Center 4th floor:</p>
											<span> Thika Road
												<br>Next to KCA University </span>
										</div>
										
										<div class="defineFloat sameCode">
											<p>Contact Us:</p>
											<ul class="list-unstyled">
												<li> +254 (0)20 2004959
													<img src="{% static 'home/images/gf1.png' %}" class="img-responsive" alt="" />
												</li>
												<li>+254 (0)20 2004959
													<img src="{% static 'home/images/gf2.png' %}" class="img-responsive" alt="" />
												</li>
												<li>+254 (0)20 2004959
													<img src="{% static 'home/images/fla4.png' %}" class="img-responsive" alt="" />
												</li>
												<li>+254 (0)20 2004959
													<img src="{% static 'home/images/GF3.png' %}" class="img-responsive" alt="" />
												</li>
												<li>
													<span class="infoEmail"> </span>
												</li>
												<li>
													<span class="salesEmail"> </span>
												</li>
											</ul>
										</div>
										<div class="defineFloat sameCode">
											<p>For HR and other enquiries:</p>
											<ul class="list-unstyled">
												<li>+254 (0)20 2004959
													<img src="{% static 'home/images/GF3.png' %}" class="img-responsive" alt="" />
												</li>
												<li>+254 (0)20 2004959
													<img src="{% static 'home/images/GF3.png' %}" class="img-responsive" alt="" />
												</li>
											</ul>
										</div>
										<div class="defineFloat sameCode last-child">
											<p>More options to reach us:</p>
											<ul class="list-unstyled">
												<li>
													<a href="get-in-touch.html">Get in Touch »</a>
												</li>
												<li>
													<a href="get-a-quote.html">Get a Quote »</a>
												</li>
												<li>
													<a href="request-for-proposal.html">Request a Proposal »</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% endblock contact %} {% block footer %}{% include 'home/footer-section.html' %}{% endblock footer %}