 {% load static %}

<section id="BEF" class="defineFloat">
  <div class="defineFloat">
    <div class="container">
      <div class="row wow fadeInUp" style="visibility: hidden; animation-name: none;">
        <div class="col-md-12 col-sm-12 col-xs-12 businessInner text-center">
          <h2>Looking For Import Or Export Services?</h2>
          <p>If your looking for import, export, logistics or it services click the button below</p>
        </div>
        <div class="defineFloat divide text-center wow fadeIn" style="visibility: hidden; animation-name: none;">
          <hr>
        </div>
        <div class="defineFloat text-center businessButton wow zoomIn" style="visibility: hidden; animation-name: none;">
          <a href="{% url 'contact' %}" class="popUpFormThree btn btn-primary yellowButton hvr-grow getAudit" id="auditbtn">get free consultation</a>
        </div>
        <div class="defineFloat text-center businessLink">
          <a>Have a question?
            <span>Call us on +254 (0) 202 004 959</span>
          </a>
        </div>

      </div>
    </div>
  </div>
</section>