
{% load static %}

<section id="exports" class="defineFloat outsource text-center">
        <div class="container demo">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading bottomStrip" id="headingOne">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> <i class="fa fa-plus"></i>Advantages of Outsourcing Search Engine Optimization To India </a> </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body blackColor">
                    <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12 whyOutSource-textCoulmn">
                If you have decided to outsource your search engine optimization 
    campaign to an SEO agency in India, then you have taken a smart business
     decision. Outsourcing makes a good business choice when you know 
    nothing about optimization and the role it plays in taking your website 
    to the top of Google search. <br>
    By choosing India as the outsourced destination and by picking up the 
    best cost-saving SEO packages you take the right step towards 
    establishing your digital presence. Business firms from the United 
    States, Canada, UK, Australia and other European countries can actually 
    save 60-80% by outsourcing their projects to Indian offshore SEO 
    consulting companies but without compromising the quality of service.<br>
     
    If you are wondering why outsource to offshore SEO agencies in India and
     not to some other countries then the answer is this. Indian SEO 
    specialists have the requisite knowledge to develop a diverse range of 
    ethical search engine optimization solutions. Once the campaign is 
    outsourced to a top SEO service provider company in India, you can 
    expect best quality on-page and off-page optimization that helps 
    increase organic traffic to the site. Indian consultants of these top 
    firms work tirelessly to add credibility to the site with detailed 
    keyword research, and SEO compliance plans.<br> 
    SEO Experts India, a premier SEO company in India, brings much more to 
    the table besides the above outsourcing benefits at amazingly affordable
     prices. Our low-cost packages, designed by dedicated professionals are 
    guaranteed to match client’s demands and budget. With industry specific 
    local search engine optimization services and regular reviews, we help 
    the company stay ahead of competitors in the market. Hire our SEO 
    specialist to boost your website ranking. Let us know your SEO strategy,
     and we can provide a proposal for free. 
                    </div>
                </div>
                
              </div>
            </div>
          </div>
          <!-- panel-group --> 
          
        </div>
        <!-- container --> 
      </section>
      <section id="company" class="defineFloat">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 companyHeading text-center wow fadeIn" style="visibility: hidden; animation-name: none;">
              <p>Our Imports</p>
              <h2>get the equipment you need</h2>
              <span>There are reasons why you should choose us for your next Internet Marketing Project.</span> </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-xs-12 col-md-4 companyKhm blue text-center"> 
              <div class="cKhm col-sm-12 col-xs-6 noPad wow fadeIn" style="visibility: hidden; animation-name: none;">
                <div class="col-md-12 col-sm-12 col-xs-12 KHM-2" id="1">
                  <div class="col-sm-12 col-xs-12 KHM-2-mobImage"><img src="{% static 'home/images/seven.png' %}" class="img-responsive" alt=""></div>
                  <h3>More than 7 Years <span>of Experience</span><i class="fa fa-plus" aria-hidden="true"></i></h3>
                  <p id="i_1">We have acquired unmatched technical expertise
     and developed proven methodologies for delivering projects of any size 
    and complexity.</p>
                </div>
              </div>
              <div class="cKhm col-sm-12 col-xs-6 noPad wow fadeIn" style="visibility: hidden; animation-name: none;">
                <div class="col-md-12 col-sm-12 col-xs-12 KHM-2" id="2">
                  <div class="col-sm-12 col-xs-12 KHM-2-mobImage"><img src="{% static 'home/images/nineEight.png' %}" class="img-responsive" alt=""></div>
                  <h3>98% Customer <span>Satisfaction</span><i class="fa fa-plus" aria-hidden="true"></i></h3>
                  <p id="i_2">We have delivered over 800 successful projects
     to 350+ clients. We feel proud when they keep coming back to us for 
    more services.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12 col-md-4 companyKhm orange text-center">
              <div class="cKhm col-sm-12 col-xs-6 noPad wow fadeIn" style="visibility: hidden; animation-name: none;">
                <div class="col-md-12 col-sm-12 col-xs-12 KHM-2" id="3">
                  <div class="col-sm-12 col-xs-12 KHM-2-mobImage"><img src="{% static 'home/images/team.png' %}" class="img-responsive" alt=""></div>
                  <h3>Skilled Team<span> We know what Google wants!</span><i class="fa fa-plus" aria-hidden="true"></i></h3>
                  <p id="i_3">We have a team of 150+ highly trained and 
    experienced professionals that is well-versed with the SEO Tactics 
    required for high rankings.</p>
                </div>
              </div>
              <div class="cKhm col-sm-12 col-xs-6 noPad wow fadeIn" style="visibility: hidden; animation-name: none;">
                <div class="col-md-12 col-sm-12 col-xs-12 KHM-2" id="4">
                  <div class="col-sm-12 col-xs-12 KHM-2-mobImage"><img src="{% static 'home/images/tick-new.png' %}" class="img-responsive" alt=""></div>
                  <h3>Proven Results<i class="fa fa-plus" aria-hidden="true"></i></h3>
                  <p id="i_4">With our customer-centric approach and proven 
    methodologies, we have helped hundreds of businesses optimize their 
    online performance.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12 col-md-4 companyKhm silver text-center">
              <div class="cKhm col-sm-12 col-xs-6 noPad wow fadeIn" style="visibility: hidden; animation-name: none;">
                <div class="col-md-12 col-sm-12 col-xs-12 KHM-2" id="5">
                  <div class="col-sm-12 col-xs-12 KHM-2-mobImage"><img src="{% static 'home/images/share.png' %}" class="img-responsive" alt=""></div>
                  <h3>Performance<span> Tracking</span><i class="fa fa-plus" aria-hidden="true"></i></h3>
                  <p id="i_5"> Through our regular updates and monthly 
    reports, our clients can easily monitor the progress of their campaigns 
    and seek changes if required.</p>
                </div>
              </div>
              <div class="cKhm col-sm-12 col-xs-6 noPad wow fadeIn" style="visibility: hidden; animation-name: none;">
                <div class="col-md-12 col-sm-12 col-xs-12 KHM-2" id="6">
                  <div class="col-sm-12 col-xs-12 KHM-2-mobImage"><img src="{% static 'home/images/dollarStar.png' %}" class="img-responsive" alt=""></div>
                  <h3>Competitive <span>Pricing</span><i class="fa fa-plus" aria-hidden="true"></i></h3>
                  <p id="i_6"> We aim at delivering maximum value to our customers from their investments with our flexible engagement model.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row wow fadeInUp" style="visibility: hidden; animation-name: none;">
            <div class="col-sm-12 col-xs-12">
              <div class="defineFloat divideImage text-center wow zoomIn" style="visibility: hidden; animation-name: none;"> <img src="{% static 'home/images/divideImage4.png' %}" class="img-responsive" alt=""> </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 achieved text-center">
              <h2>What <span>we've traded in</span> for the last <span>1 Year</span></h2>
            </div>
            <div class="col-sm-12 col-xs-12 noPad">
            
            
              <div class="col-md-3 col-sm-3 col-xs-3 achievedKHM text-center">
                <h2>
                  <label class="homecount">800</label>
                  
                  <span>+</span></h2>
                <p>Successful Projects/Campaigns</p>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 achievedKHM text-center">
                <h2>
                  <label class="homecount">350</label>
                  <span>+</span></h2>
                <p> Satisfied Customers</p>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 achievedKHM text-center">
                <h2>
                  <label class="homecount">2500</label>
                  <span>+</span></h2>
                <p>Page #1 Rankings</p>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 achievedKHM text-center">
                <h2>
                  <label class="homecount">10</label>
                  <span>X</span></h2>
                <p>Growth in the last 5 Years</p>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-xs-12 superCharge text-center">
              <div class="defineFloat scInner">
                <h2>Supercharge Your SEO Campaign Today!</h2>
                <p>Get Free Consultation from our Internet Marketing Experts!</p>
              </div>          
              <button onclick="return lh_inst.lh_openchatWindow()" class="btn btn-primary yellowButton hvr-grow" type="button">CHAT Live NOW! <span><img src="{% static 'home/images/chat-box.png' %}" class="img-responsive" alt=""></span></button>
             </div>
          </div>
        </div>
      </section>