{% extends 'home/base.html' %} 
{% load static %}
<body class="reviews">
{% block nav %}{% include 'home/nav-section.html' %}{% endblock nav %} 
{% block exports %}

<section id="sliderInner" class="defineFloat commonSlider reviewPageSlide">

  <img src="{% static 'home/images/reviewslider.jpg' %}" class="img-responsive" alt="">
  <div class="tHeading reviewBannerExt servicesButton">
    <h2>What People Say about SEO Experts India</h2>
    <p>Our valuable customers have shared their gratitude through their reviews</p>
  </div>
</section>

<section class="defineFloat" id="reviews">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12 text-center tContent wow fadeIn">
        <h3 class="hide">Hide title</h3>
        <p>We have a myriad of clients spread all over the globe, and we have been serving them for several years now. With
          ever changing industry, the algorithms and the competition have changed drastically. But, we at
          <span class="themeColor">SEO Experts India</span>, has always believed in maintaining our service as well as project management standards
          to the optimum. </p>
        <p>We are committed to
          <span class="themeColor">offering top-notch SEO services</span>, while delivering complete customer satisfaction with great customer retention
          rate.We pride ourselves to announce that we have received tremendous support, and our
          <span class="themeColor">valuable customers</span> have shared their gratitude through their reviews for our exceptional services. </p>
        <div class="getHeading reviewDividerline">
          <hr>
        </div>

      </div>
      <div class="col-sm-12 col-xs-12 tOuter">
        <div class="defineFloat reviewsContent wow fadeIn">
          <div class="defineFloat leftTest">
            <p>"The major factors that lead me straight into the path of SEOExperts India were their own Google ranking and
              the competitive price they were offering. To top it off , their process was very good and efficient with prompt
              service and I’m getting good rankings in Google for my site. The team is very professional and have an excellent
              skillset. Overall, the quality of service and the cost was very good and if I were to recommend their service
              to anyone, I would describe them to expect excellent service. “</p>
            <span>
              <img src="{% static 'home/images/testSend.png' %}" class="img-responsive" alt="" />151 Fisherton Street, Salisbury- SP1 3ES, UK</span>
            <span>
              <img src="{% static 'home/images/testPhone.png' %}" class="img-responsive" alt="" />+44 7779578582</span>
          </div>
          <div class="defineFloat text-center rightTest rightBlue">
            <div class="rightImage">
              <img src="{% static 'home/images/test1.png' %}" class="img-responsive" alt="" />
            </div>
            <hr>
            <label>Neeraj Parson</label>
            <span>Fisherton Dental Care</span>
          </div>
        </div>
        <div class="defineFloat reviewsContent wow fadeIn">
          <div class="defineFloat leftTest">
            <p>"I have been reviewing the SEO reports sent to me recently for my business website.I want to tell you that you
              brought the new website to the first page within just 7 weeks. Before we hired your company, the website was
              just started and we were sometimes on page three but not any closer to page one. Now we are on page one for
              several of our keywords. WE are receiving more calls and interest in the service we provide.I recall having
              a technical issue with the way I built the website. I brought this to your attention and almost immediately
              a technician from your development team contacted me and suggested a way to correction the problem. Thank you
              for the professional and prompt service you and your company provides. Certainly your team of experts provide
              a cost effective process for web services and SEO. My thanks to you and your team" </p>
            <span>
              <img src="{% static 'home/images/testSend.png' %}" class="img-responsive" alt="" />7050 Winkler Road Suite 119, Fort Myers, 33919, United States</span>
            <span>
              <img src="{% static 'home/images/testPhone.png' %}" class="img-responsive" alt="" />+1 239-565-4025, +1 239 209 3609</span>
            <span>
              <img src="{% static 'home/images/testFb.png' %}" class="img-responsive" alt="" />connect with Frank via
              <a class="fbLink" href="https://www.facebook.com/fortmyersphotographer" target="_blank">facebook</a>
            </span>
          </div>
          <div class="defineFloat text-center rightTest rightGrey">
            <div class="rightImage">
              <img src="{% static 'home/images/test2.png' %}" class="img-responsive" alt="" />
            </div>
            <hr>
            <label>Frank Simonetti</label>
            <span>Fort Myers Photography</span>
          </div>
        </div>
        <div class="defineFloat reviewsContent wow fadeIn">
          <div class="defineFloat leftTest">
            <p>"I have been very satisfied with the service and quality of work of SEOExperts. They provided a very high standard
              of work for a very competitive price. Everything was explained and there were no hidden costs. They were also
              very easy to communicate with. I would definitely recommend them to anyone seeking a high quality and very
              reasonably priced service."</p>
            <span>
              <img src="{% static 'home/images/testSend.png' %}" class="img-responsive" alt="" />Perth, Western Australia, Australia</span>
            <span>
              <img src="{% static 'home/images/testPhone.png' %}" class="img-responsive" alt="" />+61 415676909</span>
          </div>
          <div class="defineFloat text-center rightTest rightGreen">
            <div class="rightImage">
              <img src="{% static 'home/images/test3.png' %}" class="img-responsive" alt="" />
            </div>
            <hr>
            <label>Moira Williamson</label>
            <span>Truly Medical Getaways</span>
          </div>
        </div>
        <div class="defineFloat reviewsContent wow fadeIn">
          <div class="defineFloat leftTest">
            <p>"One of the major factors that lead me to SEOExperts India was their High Ranking over Google search engines
              in addition to that the professionalism conveyed through emails & phone was second to none. I was getting quality
              end results from time to time which was my major concern since the beginning. If I had to rate them I would
              give them a 7 or 8 easily for the professional communication & quality end results. To sum it up , the response
              that I have received from the team was very prompt & on –point with good understanding of our goals & objectives.
              SEOExperts India is a company constituting of serious professionals which will deliver good results & always
              present you with a clear picture going forward."</p>
            <span>
              <img src="{% static 'home/images/testSend.png' %}" class="img-responsive" alt="" />Naturkraften i Stockholm AB, Vikdalsvägen 50,131 40 Nacka</span>
            <span>
              <img src="{% static 'home/images/testPhone.png' %}" class="img-responsive" alt="" />+46 736191980</span>
          </div>
          <div class="defineFloat text-center rightTest rightGrey">
            <div class="rightImage">
              <img class="logoSpace img-responsive" src="{% static 'home/images/la.png' %}" alt="" />
            </div>
            <hr>
            <label>Jonas Lundkvist</label>
            <span>MD Lundkvist Agentur AB</span>
          </div>
        </div>
        <div class="defineFloat reviewsContent wow fadeIn">
          <div class="defineFloat leftTest">
            <p>"The staff at Seo Experts India are friendly, efficient and reliable. In the fast changing world of internet
              marketing, they are always ahead of the game. I can gladly recommend them for search engine optimization services"</p>
            <span>
              <img src="{% static 'home/images/testSend.png' %}" class="img-responsive" alt="" />Cape Town, South Africa</span>
            <span>
              <img src="{% static 'home/images/testPhone.png' %}" class="img-responsive" alt="" />+27 021 902 0351</span>
          </div>
          <div class="defineFloat text-center rightTest rightLightBlue">
            <div class="rightImage">
              <img src="{% static 'home/images/capetown.png' %}" class="img-responsive" alt="" />
            </div>
            <hr>
            <label>Beverly Hui</label>
            <span>Cape Town Splendour</span>
          </div>
        </div>
        <div class="defineFloat reviewsContent wow fadeIn">
          <div class="defineFloat leftTest">
            <p>"I discovered SEOExperts India over the internet & with all the information I found about them, they seemed like
              a reliable choice. In fact, after looking at the well-defined and organized campaign, the 1st impression I
              got was that they could deliver results . Moreover the questions they directed at me were directly related
              to the SEO campaign and their suggestions were accurate. Being overseas, I didn’t actually see them work but
              I was able to measure the results I got and You get an impression that they knew what they were doing. Also
              their pricing structure was very competitive & the timeframe they provided was spot on! Although, the response
              rate is slow but they are a reliable company and they can be depended upon to deliver the results"</p>
            <span>
              <img src="{% static 'home/images/testSend.png' %}" class="img-responsive" alt="" />Millennium Corporation PO Box 1551, Noosaville 4566, Australia</span>
            <span>
              <img src="{% static 'home/images/testPhone.png' %}" class="img-responsive" alt="" />+61 423117644</span>
          </div>
          <div class="defineFloat text-center rightTest rightLightOrange">
            <div class="rightImage">
              <img src="{% static 'home/images/autralia.png' %}" class="img-responsive" alt="" />
            </div>
            <hr>
            <label>Ross Huntley</label>
            <span>Muscle Science Australia</span>
          </div>
        </div>
        <div class="defineFloat reviewsContent wow fadeIn">
          <div class="defineFloat leftTest">
            <p>"One of the major factors that lead me to SEOExperts India was their top Ranking in search engines for certain
              terms related to SEO in addition to that the marketing team’s friendly approach gained my interest further
              to discuss the project. SEO experts have achieved the anticipated results though they have not disclosed the
              processes involved. I would like to give a good rating for the skills being showcased while commencing the
              project. Moreover their professional conduct and quality of services were also up to the mark. And cost was
              also justified and mapped with the efforts deployed. The response time was average but the feedback was satisfactory.
              I would certainly like to recommend SEOExperts to other business associates.</p>
            <p>Lastly, I would like to state simpler reporting format & direct telephonic communication between the technical
              team & the client would go a long way." </p>
            <span>
              <img src="{% static 'home/images/testSend.png' %}" class="img-responsive" alt="" />No. 29, Sarathy Nagar, Velachery, Chennai – 600 042</span>
            <span>
              <img src="{% static 'home/images/linkedinTest.png' %}" class="img-responsive" alt="">connect with Frank via
              <a href="https://in.linkedin.com/in/anuradhakrishnan" target="_blank" class="fbLink">linkedin</a>
            </span>
          </div>
          <div class="defineFloat text-center rightTest rightDarkBlue">
            <div class="rightImage">
              <img src="{% static 'home/images/annexmed.png' %}" class="img-responsive" alt="" />
            </div>
            <hr>
            <label>Anu Kishan</label>
            <span>AnnexMed Private Limited</span>
          </div>
        </div>
        <!--  new addition -->
        <div class="defineFloat reviewsContent wow fadeIn">
          <div class="defineFloat leftTest">
            <p>"I have started corporation with SEO Experts India since July 2016. At that time I have contacted few companies
              in India regarding SEO service for the website of my company. It came down to three companies that seemed professional
              and knew what they were doing. After a lot of negotiations, analyzing and researching, we finally decided to
              choose the guys from SEO EXPERTS. The main reasons were: 1. Rahul a manager who is in charge of attracting
              new customers was such a pleasant person to deal with and his professionalism was beyond expectations. He was
              always in time in his replies and always getting into every detail of the whole SEO process that made all the
              difference. 2. If you want to choose a company that provides SEO services, step one is to see their own results
              in Google they try to promote, and the results of SEO EXPERSTS are on TOP, which means they are experienced
              deeply in what they are selling. 3. The price issue is also important, there are companies that charged huge
              amount of money but do not even promise the results, the price policy of SEO EXPERTS is unique and turned out
              to be very convenient and efficient. </p>
            <p>Since we have started the project day by day I was glad I made a right decision. They fixed main problems of
              the site (actually very important issues) in a very short time and the results of the key words are improving
              every month. Special thanks for Rajiv who is trying always hard and doing his best in paying a great attention
              to my project. I have no hesitation to recommend this company for any business that wants to improve the sales
              by means of internet. I really like the people who run this company and hope for mutual cooperation in years
              to come."</p>
            <span>
              <img src="{% static 'home/images/testSend.png' %}" class="img-responsive" alt="" />68 bld/306, Tafakkur str.,Tashkent, UZBEKISTAN</span>
            <span>
              <img src="{% static 'home/images/testPhone.png' %}" class="img-responsive" alt="">+99890 1769883, +99871 2522339</span>
          </div>
          <div class="defineFloat text-center rightTest rightDarkBlue fivesTans">
            <div class="rightImage">
              <img src="{% static 'home/images/fivestans.png' %}" class="img-responsive" alt="" />
            </div>
            <hr>
            <label>Rakhmatjon Ibragimov</label>
            <span>Five Stans Adventure</span>
          </div>
        </div>

        <div class="defineFloat reviewsContent wow fadeIn">
          <div class="defineFloat leftTest">
            <p>“Before joining hands with SEOExperts India; I looked for a lot of other SEO companies across the market but
              SEOExperts were very quick in getting back to me and answering to all of my questions. They have a very good
              consulting approach which they apparently proved by their ideas and responses on time. As they are very enthusiastic
              to get a great outcome for our businesses and have over time helped us in getting our business pages on the
              first page of Google. I am slowly introducing all of our partner companies to SEO Experts India. If I had to
              rate them on the basis of professionalism, quality of services & cost; I would certainly state “Great value
              for money with great expertise & I would certainly recommend any Company to SEOExperts India”</p>
            <span>
              <img src="{% static 'home/images/testSend.png' %}" class="img-responsive" alt="" />Headland Business Park, Suite 13 Level 1, 76 Wises Rd, Maroochydore, QLD 4558</span>

          </div>
          <div class="defineFloat text-center rightTest rightDarkBlue niceJadine">
            <div class="rightImage">
              <img src="{% static 'home/images/nice-jadine.png' %}" class="img-responsive" alt="" />
            </div>
            <hr>
            <label>Nicky Jardine</label>
            <span>Jardine Ludbrooke Brokers</span>
          </div>
        </div>

        <div class="defineFloat reviewsContent wow fadeIn">
          <div class="defineFloat leftTest">
            <p>“I found SEOExperts while goggling 2years ago. Was impressed by their site. It’s user friendly, informative,
              technical with professional branding (the logo). Thought it might work for my travel website and got in touch
              with them for a quote. Promptly, I received the quote and my site’s analysis. They recommended different budget
              for different key words and the time-frame in ranking my site on 1st page on Google. They are responsive &
              attentive to what I need. Monthly, I received the ranking report and it’s satisfactory. I know Search Engine
              Option service is a complicated process and take time though I am not technical.SEOExperts team is really helpful
              in explaining me, a couple of times, some technical issues that my site is having previously. They fixed it
              all at their ends and recommended me some tips how to create a mobile-friendly site. Gradually, my site has
              ranked better and on top of search engines now. </p>
            <p>I highly appreciate their guidance/assistance. I won’t hesitate to recommend about their service to anyone. They
              are professional and cost is affordable. Though I am miles away from them, communication swift and smooth.
              Everything I need is executed professionally by them.” </p>
            <span>
              <img src="{% static 'home/images/testSend.png' %}" class="img-responsive" alt="" /> No.8, 4F(A), Ashaegone St Sanchaung Tsp , Yangon Myanmar (Burma) </span>
            <span>
              <img src="{% static 'home/images/testPhone.png' %}" class="img-responsive" alt="">+95 95089591</span>
          </div>
          <div class="defineFloat text-center rightTest rightDarkBlue signatureHoliday">
            <div class="rightImage">
              <img src="{% static 'home/images/signature-holiday.png' %}" class="img-responsive" alt="" />
            </div>
            <hr>
            <label>Tin</label>
            <span>Signature Holidays</span>
          </div>
        </div>

        <div class="defineFloat reviewsContent wow fadeIn">
          <div class="defineFloat leftTest">
            <p>"Our company have been using SEO Experts India for a couple of years now, they have worked on the SEO for our
              group websites as well as helping with ongoing development work on our websites.</p>

            <p>We have always found them easy to get on with, knowledgeable in the work they have carried out and very reasonably
              priced, a combination that will hopefully prolong our business relationship."</p>
            <span>
              <img src="{% static 'home/images/testPhone.png' %}" class="img-responsive" alt=""> +254 (0)20 2004959, +254 (0) 791 071 920</span>
          </div>
          <div class="defineFloat text-center rightTest rightDarkBlue watside">
            <div class="rightImage">
              <img src="{% static 'home/images/watside.png' %}" class="img-responsive" alt="" />
            </div>
            <hr>
            <label>Steve Holt</label>
            <span>Weyside Management Services Ltd </span>
          </div>
        </div>

        <div class="defineFloat reviewsContent wow fadeIn">
          <div class="defineFloat leftTest">
            <p>“I have been associated with SEO Experts India from quite some time now and one of the major reasons which led
              me into joining hands with them was their Good Ranking observed over Google search engines! In turn which gave
              me confidence into enquiring further with their representatives.</p>

            <p>I am really content up till this stage & If I had to corroborate my journey with them in simple words! It would
              basically mean that I couldn't be more happier with the level of service, support and commitment I receive
              from SEO Experts & I would definitely like to recommend SEO Experts as I find their people highly qualified,
              motivated and responsive.”</p>
            <!--span><img src="{% static 'home/images/testSend.png' %}" class="img-responsive" alt="" />68 bld/306, Tafakkur str.,Tashkent, UZBEKISTAN</span>
                        <span><img src="{% static 'home/images/testPhone.png' %}" class="img-responsive" alt="">+99890 1769883, +99871 2522339</span-->
          </div>
          <div class="defineFloat text-center rightTest rightDarkBlue dailyMatka">
            <div class="rightImage">
              <img src="{% static 'home/images/daily-matka.png' %}" class="img-responsive" alt="" />
            </div>
            <hr>
            <label>Mosin</label>
            <span>Daily Matka</span>
          </div>
        </div>

        <div class="defineFloat reviewsContent wow fadeIn">
          <div class="defineFloat leftTest">
            <p>“I came across SEO Experts India while searching for an internet marketing firm on Google & their High ranking
              on Google search engines led me to believe their expertise, skill set was top notch! While their process &
              work methodologies have boosted my confidence in their abilities so far.</p>

            <p>If I had to rate them on grounds of project execution & professionalism I would definitely give them an 8/10
              rating! However, to put in simpler terms, SEO Experts India is a company which stands for- Methodical, professional,
              experienced, good project execution skills!”</p>
            <span>
              <img src="{% static 'home/images/testSend.png' %}" class="img-responsive" alt="" />Njema Court, Rhapta RoadWestlands, Nairobi, Kenya</span>
            <span>
              <img src="{% static 'home/images/testPhone.png' %}" class="img-responsive" alt="">+254790499730, 0800723340</span>
          </div>
          <div class="defineFloat text-center rightTest rightDarkBlue pesaBazaar">
            <div class="rightImage">
              <img src="{% static 'home/images/pesabazaar.png' %}" class="img-responsive" alt="" />
            </div>
            <hr>
            <label>Calleb Karegyesa </label>
            <span>Pesa Bazaar</span>
          </div>
        </div>

        <div class="defineFloat reviewsContent wow fadeIn">
          <div class="defineFloat leftTest">
            <p>"SEO Experts execution was extremely professional. From the initial survey to the weekly reports, their deliverance
              was flawless. Best of all, they improved our ratings considerably in just a couple of months. We are now proud
              to be on the first page in google rankings ahead of our competition."</p>
            <span>
              <img src="{% static 'home/images/testSend.png' %}" class="img-responsive" alt="" />Suite 6, 4D/2, Hilltop Arcade, Gizri Boulevard, Phase 4, DHA, Karachi, Pakistan.</span>
            <span>
              <img src="{% static 'home/images/testPhone.png' %}" class="img-responsive" alt="">+92 21 35810833</span>
          </div>
          <div class="defineFloat text-center rightTest rightDarkBlue alliedService">
            <div class="rightImage">
              <img src="{% static 'home/images/allied-services.png' %}" class="img-responsive" alt="" />
            </div>
            <hr>
            <label>Shezad.S.Mumtaz</label>
            <span>ALLIED SERVICES FZ LLE</span>
          </div>
        </div>

        <div class="defineFloat reviewsContent wow fadeIn">
          <div class="defineFloat leftTest">
            <p>“Working with SEO Experts India has been a pleasure so far.. The reason I choose SEO Experts was their attention
              to detail and courteous, prompt responses to all my queries. The work done by SEO Experts team and their understanding
              of Internet marketing has really helped me expand our outreach for Las Vegas Event Photography manifold. The
              quality of their work, coupled with their skill set and professional approach is top notch. Communication is
              very easy and their responsiveness to my questions, concerns and inquiries is splendid. I’m extremely satisfied
              with their overall services as they have surpassed my expectations. I would love to expand our business relationship
              with SEO Experts and would be happy to recommend them to anyone in future as well who is looking to improve
              their search engine marketing.”</p>
            <span>
              <img src="{% static 'home/images/testSend.png' %}" class="img-responsive" alt="" />6955 North Durango Drive, Suite 1115-111, Las Vegas, NV 89149</span>
            <span>
              <img src="{% static 'home/images/testPhone.png' %}" class="img-responsive" alt="">702 362 3686, 702 236 0007</span>
          </div>
          <div class="defineFloat text-center rightTest rightDarkBlue lasVegas">
            <div class="rightImage">
              <img src="{% static 'home/images/las-vegas.png' %}" class="img-responsive" alt="" />
            </div>
            <hr>
            <label>Ben Zimmerman</label>
            <span>Las Vegas Event Photography</span>
          </div>
        </div>

        <div class="defineFloat reviewsContent wow fadeIn">
          <div class="defineFloat leftTest">
            <p>“I was impressed by the comprehensive list of services that you could provide. Your salesperson was very responsive
              and went through all of the service options, including both website design and comprehensive SEO (including
              different service levels at different price points, so that I could choose one that fit my budget). What impresses
              me the most is the results achieved in the short time since you began working on my site – my site has jumped
              to first page results!</p>
            <p>If I had to sum up SEO Experts India in few words, I would definitely state: extremely professional, courteous,
              superb communication & cost-effective. Furthermore, I would sincerely recommend them to my colleagues and friends,
              because SEOExperts India is a top-notch service provider, at competitive prices, and I have never had a single
              problem with them. SEO service is a wonderful investment if you have an internet marketing team like this to
              guide you at each step of the way.”</p>
            <span>
              <img src="{% static 'home/images/testSend.png' %}" class="img-responsive" alt="" />8965 South Eastern Ave Suite 260, Las Vegas, NV 89123</span>
            <span>
              <img src="{% static 'home/images/testPhone.png' %}" class="img-responsive" alt="">702 614 0600</span>
          </div>
          <div class="defineFloat text-center rightTest rightDarkBlue atkisonLaw">
            <div class="rightImage">
              <img src="{% static 'home/images/atkison-law.png' %}" class="img-responsive" alt="" />
            </div>
            <hr>
            <label>Robert Atkinson, Esq.</label>
            <span>Atkinson Law</span>
          </div>
        </div>

        <div class="defineFloat reviewsContent wow fadeIn">
          <div class="defineFloat leftTest">
            <p>“I selected SEO Experts India on the basis of my initial contact via emails. They are always very professional
              and timely with their responses and their presentations are world class. I couldn't be more happy with the
              level of service, support and commitment I received from SEO Experts. As a team they offer an extremely satisfying
              level of service which has helped me in starting to see results very quickly. Their in depth knowledge in Internet
              Marketing services and dedication they put in on a month to month basis is exceptional. SEO Experts India is
              the team who does all the thinking for me at the same time giving me the breathing space to focus on my company
              & business. Their communication is excellent, and they are consistently very reliable and world class efficient
              marketers. I would definitely recommend their services to others, & I look forward to a continuing relationship
              for a long time to come.”</p>
            <span>
              <img src="{% static 'home/images/testSend.png' %}" class="img-responsive" alt="" />3080 Valmont Road, Suite 220, Boulder, CO, 80301</span>
          </div>
          <div class="defineFloat text-center rightTest rightDarkBlue powerPlace">
            <div class="rightImage">
              <img src="{% static 'home/images/powerplace.png' %}" class="img-responsive" alt="" />
            </div>
            <hr>
            <label>Theresa Wiess</label>
            <span>Power Places Tours</span>
          </div>
        </div>


        <!-- close review -->
      </div>
    </div>
  </div>
</section>
<section id="BEF" class="defineFloat">
  <div class="defineFloat BEF ctaChangeBg">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 businessInner text-center wow fadeIn">
          <h2>Have Queries before you Buy?</h2>
          <p>Contact Us Today & Get all your questions about SEO answered before you get started.</p>
        </div>
        <div class="defineFloat text-center testBefImage wow zoomIn">
          <img src="{% static 'home/images/ranking-divider-pic.png' %}" class="img-responsive" alt="" />
        </div>
        <div class="defineFloat text-center businessButton wow fadeInUp">
          <button type="button" onclick="location.href='request-for-proposal.php'" class="btn btn-primary yellowButton hvr-grow simpleBounce">GET A FREE PROPOSAL
            <i class="fa fa-angle-double-right revBtn" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock exports %} 
{% block form %}{% include 'home/form-section.html' %}{% endblock form %} 
{% block footer %}{% include 'home/footer-section.html' %}{% endblock footer %}