 {% load static %}

<section id="marketing" class="defineFloat">
  <div class="container">
    <div class="row wow fadeIn" style="visibility: hidden; animation-name: none;">
      <div class="col-md-12 col-sm-12 col-xs-12 marketingHeading text-center">
        <p>What We Export</p>
        <h2>Here are some of our Exports</h2>
        <div class="defineFloat borderAround text-center">
          <span>We are a one-stop-shop for
            <span>all your Imports &amp; Exports Needs.</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid wrap-container">
    <div class="col-md-12 col-sm-12 col-xs-12 marketingKHM">
      <div class="col-md-4 col-sm-4 col-xs-6 khmInner text-center wow fadeIn" style="visibility: hidden; animation-name: none;">
        <a href="#seo-services.html">
          <div class="defineFloat">
            <div class="col-sm-12 col-xs-12 text-center">
              <div class="autoHover m1">
                <!--<img src="{% static 'home/images/m1.png' %}" class="img-responsive" alt="" />-->
              </div>
            </div>
            <h2>Fresh Pineapples
              <span></span>
            </h2>
            <p>
              Kenyan pineapples usually do well in areas where the climate is sufficiently humid, warm, and free from extreme temperatures.
              This right combination of heat and moisture is one of the most important factors to consider in order to get
              the best quality of pineapples.
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 khmInner text-center wow fadeIn" style="visibility: hidden; animation-name: none;">
        <a href="#">
          <div class="defineFloat">
            <div class="col-sm-12 col-xs-12 text-center">
              <div class="autoHover m2">
                <!--<img src="{% static 'home/images/m2.png' %}" class="img-responsive" alt="" />-->
              </div>
            </div>
            <h2>Kenyan Coffee
              <span></span>
            </h2>
            <p>
              Kenyan pineapples usually do well in areas where the climate is sufficiently humid, warm, and free from extreme temperatures.
              This right combination of heat and moisture is one of the most important factors to consider in order to get
              the best quality of pineapples.
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 khmInner text-center wow fadeIn" style="visibility: hidden; animation-name: none;">
        <a href="#">
          <div class="defineFloat">
            <div class="col-sm-12 col-xs-12 text-center">
              <div class="autoHover m3">
                <!--<img src="{% static 'home/images/m3.png' %}" class="img-responsive" alt="" />-->
              </div>
            </div>
            <h2>Fresh Meat
              <span></span>
            </h2>
            <p>
              Kenyan pineapples usually do well in areas where the climate is sufficiently humid, warm, and free from extreme temperatures.
              This right combination of heat and moisture is one of the most important factors to consider in order to get
              the best quality of pineapples.
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 khmInner text-center borderBottom wow fadeIn" style="visibility: hidden; animation-name: none;">
        <a href="#">
          <div class="defineFloat">
            <div class="col-sm-12 col-xs-12 text-center">
              <div class="autoHover m4">
                <!--<img src="{% static 'home/images/m4.png' %}" class="img-responsive" alt="" />-->
              </div>
            </div>
            <h2>Premium Tea
              <span></span>
            </h2>
            <p>
              Kenyan pineapples usually do well in areas where the climate is sufficiently humid, warm, and free from extreme temperatures.
              This right combination of heat and moisture is one of the most important factors to consider in order to get
              the best quality of pineapples.
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 khmInner text-center borderBottom wow fadeIn" style="visibility: hidden; animation-name: none;">
        <a href="#">
          <div class="defineFloat">
            <div class="col-sm-12 col-xs-12 text-center">
              <div class="autoHover m5">
                <!--<img src="{% static 'home/images/m5.png' %}" class="img-responsive" alt="" />-->
              </div>
            </div>
            <h2>Livestock
              <span></span>
            </h2>
            <p>
              Kenyan pineapples usually do well in areas where the climate is sufficiently humid, warm, and free from extreme temperatures.
              This right combination of heat and moisture is one of the most important factors to consider in order to get
              the best quality of pineapples.
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 khmInner text-center borderBottom wow fadeIn" style="visibility: hidden; animation-name: none;">
        <a href="#">
          <div class="defineFloat">
            <div class="col-sm-12 col-xs-12 text-center">
              <div class="autoHover m6">
                <!--<img src="{% static 'home/images/m6.png' %}" class="img-responsive" alt="" />-->
              </div>
            </div>
            <div class="lastHover">
              <h2>Agricultural Produce
                <span></span>
              </h2>
            </div>
            <p>
              Kenyan pineapples usually do well in areas where the climate is sufficiently humid, warm, and free from extreme temperatures.
              This right combination of heat and moisture is one of the most important factors to consider in order to get
              the best quality of pineapples.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="defineFloat" id="mark">
  <div class="container">


    <div class="row wow fadeInUp" style="visibility: hidden; animation-name: none;">
      <div class="col-sm-12 col-xs-12 text-center bounce">
        <a href="javascript:void(0)">
          <img src="{% static 'home/images/belowArrow.png' %}" class="img-responsive" alt="">
        </a>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 moreSales text-center">
        <h2>ready to export?</h2>
        <p>Get a
          <a href="#">FREE quote</a> to help you get started!</p>
        <div class="defineFloat divideImage text-center wow zoomIn" style="visibility: hidden; animation-name: none;">
          <img src="{% static 'home/images/divideImage.png' %}" class="img-responsive" alt=""> </div>
        <a href="#" class="btn btn-primary blueButton hvr-grow" id="getstartbtn">get in touch</a>
        <span>
          <a href="#">Call us on +254 (0) 202 004 959</a>
        </span>
      </div>
    </div>
  </div>
</section>