{% extends 'home/base.html' %} 
{% load static %}
<body class="reviews">
{% block nav %}{% include 'home/nav-section.html' %}{% endblock nav %} 
{% block exports %}

<section id="sliderInner" class="defineFloat commonSlider reviewPageSlide">

  <img src="{% static 'home/images/reviewslider.jpg' %}" class="img-responsive" alt="">
  <div class="tHeading reviewBannerExt servicesButton">
    <h2>What We Export</h2>
    <p>Here's a list of our major imports to give a rough idea</p>
  </div>
</section>

<section class="defineFloat" id="reviews">
  <div class="container">
    <div class="row">
      
    <div class="col-sm-12 col-xs-12 tOuter">
      <div class="defineFloat reviewsContent wow fadeIn">
        <div class="defineFloat leftTest">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos ab voluptatibus porro labore quod. Itaque ab est quis
            repudiandae perspiciatis. Labore at nesciunt voluptatum debitis esse, maxime ipsam ratione adipisci pariatur veritatis
            est porro ab. Animi, quod est? Ut unde aspernatur non voluptates maxime! Error illo quis voluptate atque corrupti.
          </p>
        </div>
        <div class="defineFloat text-center rightTest rightBlue">
          <div class="rightImage">
            <img src="{% static 'home/images/test1.png' %}" class="img-responsive" alt="" />
          </div>
          <hr>
          <label>Construction Materials</label>
        </div>
      </div>
    
      <div class="defineFloat reviewsContent wow fadeIn">
        <div class="defineFloat leftTest">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos ab voluptatibus porro labore quod. Itaque ab est quis
            repudiandae perspiciatis. Labore at nesciunt voluptatum debitis esse, maxime ipsam ratione adipisci pariatur veritatis
            est porro ab. Animi, quod est? Ut unde aspernatur non voluptates maxime! Error illo quis voluptate atque corrupti.
          </p>
        </div>
        <div class="defineFloat text-center rightTest rightBlue">
          <div class="rightImage">
            <img src="{% static 'home/images/test1.png' %}" class="img-responsive" alt="" />
          </div>
          <hr>
          <label>Construction Materials</label>
        </div>
      </div>
    
      <div class="defineFloat reviewsContent wow fadeIn">
        <div class="defineFloat leftTest">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos ab voluptatibus porro labore quod. Itaque ab est quis
            repudiandae perspiciatis. Labore at nesciunt voluptatum debitis esse, maxime ipsam ratione adipisci pariatur veritatis
            est porro ab. Animi, quod est? Ut unde aspernatur non voluptates maxime! Error illo quis voluptate atque corrupti.
          </p>
        </div>
        <div class="defineFloat text-center rightTest rightBlue">
          <div class="rightImage">
            <img src="{% static 'home/images/test1.png' %}" class="img-responsive" alt="" />
          </div>
          <hr>
          <label>Construction Materials</label>
        </div>
      </div>
    
      <div class="defineFloat reviewsContent wow fadeIn">
        <div class="defineFloat leftTest">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos ab voluptatibus porro labore quod. Itaque ab est quis
            repudiandae perspiciatis. Labore at nesciunt voluptatum debitis esse, maxime ipsam ratione adipisci pariatur veritatis
            est porro ab. Animi, quod est? Ut unde aspernatur non voluptates maxime! Error illo quis voluptate atque corrupti.
          </p>
        </div>
        <div class="defineFloat text-center rightTest rightBlue">
          <div class="rightImage">
            <img src="{% static 'home/images/test1.png' %}" class="img-responsive" alt="" />
          </div>
          <hr>
          <label>Construction Materials</label>
        </div>
      </div>
    
      <div class="defineFloat reviewsContent wow fadeIn">
        <div class="defineFloat leftTest">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos ab voluptatibus porro labore quod. Itaque ab est quis
            repudiandae perspiciatis. Labore at nesciunt voluptatum debitis esse, maxime ipsam ratione adipisci pariatur veritatis
            est porro ab. Animi, quod est? Ut unde aspernatur non voluptates maxime! Error illo quis voluptate atque corrupti.
          </p>
        </div>
        <div class="defineFloat text-center rightTest rightBlue">
          <div class="rightImage">
            <img src="{% static 'home/images/test1.png' %}" class="img-responsive" alt="" />
          </div>
          <hr>
          <label>Construction Materials</label>
        </div>
      </div>
    
      <div class="defineFloat reviewsContent wow fadeIn">
        <div class="defineFloat leftTest">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos ab voluptatibus porro labore quod. Itaque ab est quis
            repudiandae perspiciatis. Labore at nesciunt voluptatum debitis esse, maxime ipsam ratione adipisci pariatur veritatis
            est porro ab. Animi, quod est? Ut unde aspernatur non voluptates maxime! Error illo quis voluptate atque corrupti.
          </p>
        </div>
        <div class="defineFloat text-center rightTest rightBlue">
          <div class="rightImage">
            <img src="{% static 'home/images/test1.png' %}" class="img-responsive" alt="" />
          </div>
          <hr>
          <label>Construction Materials</label>
        </div>
      </div>


        <!-- close review -->
      </div>
    </div>
  </div>
</section>
<section id="BEF" class="defineFloat">
  <div class="defineFloat BEF ctaChangeBg">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 businessInner text-center wow fadeIn">
          <h2>Have any queries regarding trade?</h2>
          <p>Contact Us Today & Get all your questions about trading answered before you export.</p>
        </div>
        <div class="defineFloat text-center testBefImage wow zoomIn">
          <img src="{% static 'home/images/ranking-divider-pic.png' %}" class="img-responsive" alt="" />
        </div>
        <div class="defineFloat text-center businessButton wow fadeInUp">
          <button type="button" href="{% url 'contact' %}" class="btn btn-primary yellowButton hvr-grow simpleBounce">TALK TO US
            <i class="fa fa-angle-double-right revBtn" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock exports %}  
<!-- {% block form %}{% include 'home/form-section.html' %}{% endblock form %} -->
{% block footer %}{% include 'home/footer-section.html' %}{% endblock footer %}