{% load static %}

<footer class="defineFloat">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="defineFloat footerInner">
					<div class="col-md-9 col-sm-8 col-xs-12 footerLeft">
						<div class="defineFloat reseller">
							<div class="resellerLeft">
								<h2>Become a Retailer Today!</h2>
								<span>Expand your Service Offerings and Multiply Your Profits</span>
							</div>
							<a href="reseller-seo.html" class="btn btn-primary resellButton footerGetbtn" title="" data-original-title="reseller-seo">Get More Information</a>
						</div>
						<div class="defineFloat footerLinks">
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-4 mobResLinks linkl">
									<ul class="list-unstyled">
										<li class=""><a href="{% url 'index' %}" title="" class="footerMainMenu" data-original-title="Search Engine Optimization">Search Engine Optimisation<span class="toolTipxt" style="width:270px;">Rank at the top of Organic Search Results (SERPs) and dominate your competition.</span></a></li>
										<li class=""><a class="footerMainMenu" href="ppc-management-services.html" title="" data-original-title="Pay Per Click Management">Pay Per Click Management (SEM)<span class="toolTipxt" style="width:350px;">Be found, where your customers are searching, through Google Adwords and Bing/Yahoo pay-per-click ads.</span></a></li>
										<li class=""><a class="footerMainMenu" href="online-reputation-management.html" title="" data-original-title="Online Reputation Management">Online Reputation Management (ORM)<span class="toolTipxt" style="width:390px;">Find out why our online rep managers are adept at reputation management for individuals as well as brands.</span></a></li>
										<li class=""><a class="footerMainMenu" href="social-media-marketing.html" title="" data-original-title="Social Media Marketing">Social Media Optimization (SMO)<span class="toolTipxt" style="width:330px;">Beat
 the competition on all of LinkedIn, Facebook, Twitter and YouTube with 
our reliable &amp; low cost Social Network Optimization &amp; 
Advertising services.</span></a></li>
										<li class=""><a class="footerMainMenu" href="content-writing-services.html" title="" data-original-title="Content Development">Content Development Services<span class="toolTipxt" style="width:295px;">Our
 team of professional &amp; creative copy writers can write engaging, 
seo friendly &amp; well optimised on-page content for your websites. </span></a></li>
										<li class=""><a class="footerMainMenu" href="link-building-services.html" title="" data-original-title="Link Building">Link Building Services<span class="toolTipxt" style="width:305px;">
 Get natural &amp; high quality backlinks for your off-site campaigns. 
Sign up for our backlink program today OR hire dedicated link builders.</span></a></li>
									</ul>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-4 mobResLinks link2">
									<ul class="list-unstyled">
										<li class="active"><a href="{% url 'index' %}" title="" data-original-title="Home">Home</a></li>
										<li class=""><a href="about-us.html" class="footerMainMenu" title="" data-original-title="About">About <span class="toolTipxt" style="width:236px;">Read more about our company and find out why are different from other SEO firms &amp; agencies in India. </span></a></li>
										<li><a class="footerMainMenu" href="services.html" title="" data-original-title="Services">Services<span class="toolTipxt" style="width:235px;">Check out the details of all the Digital Marketing Services we offer.</span></a></li>
										<li class=" "><a href="ranking.html" class="footerMainMenu" title="" data-original-title="Rankings">Location<span class="toolTipxt" style="width:288px;">Review some of our top ranking projects and the results we have acheived for our clients.</span></a></li>
										<li class=""><a href="seo-packages.html" class="footerMainMenu" title="" data-original-title="Packages">Contact <span class="toolTipxt" style="width:257px;">By comparing our per month prices for SEO services, you can select &amp; buy the SEO plan/package that suits you best. </span></a></li>
										<li class=""><a href="reviews.html" class="footerMainMenu" title="" data-original-title="Reviews">Reviews <span class="toolTipxt" style="width:200px;">A List of recommendations &amp; testimonials from our clients.</span></a></li>
									</ul>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-4 mobResLinks link3">
									<ul class="list-unstyled subMenuFooter">
										<li class="">
											<a href="resources.html" title="" data-original-title="Resources">Our portfolio</a>
										</li> 
										<li class=""><a href="career.html" class="footerMainMenu" title="" data-original-title="Career">Our Imports<span class="toolTipxt" style="width:210px;">Join our team. We're always on the lookout for new talent!</span></a></li>
										<li class=""><a href="get-in-touch.html" class="footerMainMenu" title="" data-original-title="Get in Touch">Get in Touch<span class="toolTipxt" style="width:285px;">Get in touch with us today and find out how we can help you grow your business.</span></a></li>
										
										<li class="footerMainMenu lessspaceTooltip">										<a href="{% url 'index' %}" title="" data-original-title="Get a Quote">Get a Quote</a><span class="toolTipxt" style="width:290px;">Looking for an idea of our charges/fees? <a href="{% url 'index' %}" title="" data-original-title="">Request a Free Quote for your project here &gt;&gt;</a></span></li>
										
										<li class=""><a href="{% url 'index' %}" class="footerMainMenu" title="" data-original-title="request-for-proposal">Request for Proposal <span class="toolTipxt" style="width:215px;">Get a Custom Proposal &amp; Free Consultation at no costs to you.</span></a></li>
										<li class=""><a href="{% url 'index' %}" class="footerMainMenu" title="" data-original-title="Make a Payment">Make a Payment<span class="toolTipxt" style="width:254px;">Make a Payment and let's get started with your online marketing campaign.</span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="defineFloat footerList">
							<ul class="list-unstyled disableLink"> 
								<li> <a class="disableLink" href="tel:+254 (0)20 2004959"><i class="fa fa-phone" aria-hidden="true"></i><img src="{% static 'home/images/flag1.png' %}" class="img-responsive" alt="">+254 (0)20 2004959</a></li>
								<li> <a class="disableLink" href="tel:+254 (0)791 071 920"><img src="{% static 'home/images/flag2.png' %}" class="img-responsive" alt="">+254 (0)791 071 920</a></li>
								<li> <span class="salesEmail"><a href="mailto:info@tatc.co.ke"><i class="fa fa-envelope" aria-hidden="true"></i>info@tatc.co.ke</a></span></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 footerRight">
						<div class="defineFloat footBg">
							<div class="col-sm-12 col-xs-12 fLogo text-center">
								<a href="{% url 'index' %}"><img src="{% static 'home/images/logo2.png' %}" class="img-responsive" alt=""></a>
							</div>
							<div class="col-sm-12 col-xs-12 grab text-center">
								<h2>Get The Latest Trading News</h2>
								<p>We’ll provide you with detailed metrics &amp; statistics to help you take the right decisions</p>
								<a href="javascript:void(0);" class="popUpFormThree btn btn-primary blueButton fadeIn wow" style="visibility: hidden; animation-name: none;"><span></span></a>
							</div>
						</div>
					</div> 
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid copyRight noPad">
		<div class="container"><span class="col-xs-12"> © Copyright 2018 
		&nbsp;&nbsp; | &nbsp;&nbsp; Trans-Atlantic Trading Company. All rights reserved. </span></div>
	</div>
</footer>