{% load static %}

<footer class="defineFloat">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="defineFloat footerInner">
					<div class="col-md-9 col-sm-8 col-xs-12 footerLeft">
						<div class="defineFloat reseller">
							<div class="resellerLeft">
								<h2>Become a Retailer Today!</h2>
								<span>Expand your Service Offerings and Multiply Your Profits</span>
							</div>
							<a href="{% url 'index' %}" class="btn btn-primary resellButton footerGetbtn" title="" data-original-title="reseller-seo">Get More Information</a>
						</div>
						<div class="defineFloat footerLinks">
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-4 mobResLinks linkl">
									<ul class="list-unstyled">
										<li class="">
											<a href="{% url 'index' %}" title="" class="footerMainMenu" data-original-title="Search Engine Optimization">Search Engine Optimisation</a>
										</li>
										<li class="">
											<a class="footerMainMenu" href="{% url 'index' %}" title="" data-original-title="Pay Per Click Management">Web Development Sevices</a>
										</li>
										<li class="">
											<a class="footerMainMenu" href="{% url 'index' %}" title="" data-original-title="Online Reputation Management">Software Development Services</a>
										</li>
										<li class="">
											<a class="footerMainMenu" href="{% url 'index' %}" title="" data-original-title="Social Media Marketing">Internet & Digital Marketing</a>
										</li>
										<li class="">
											<a class="footerMainMenu" href="{% url 'index' %}" title="" data-original-title="Content Development">Server Configuration</a>
										</li>
										<li class="">
											<a class="footerMainMenu" href="{% url 'index' %}" title="" data-original-title="Link Building">Network Installation</a>
										</li>
									</ul>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-4 mobResLinks link2">
									<ul class="list-unstyled">
										<li class="active">
											<a href="{% url 'index' %}" title="" data-original-title="Home">Home</a>
										</li>
										<li class="">
											<a href="{% url 'index' %}" class="footerMainMenu" title="" data-original-title="About">About </a>
										</li>
										<li>
											<a class="footerMainMenu" href="{% url 'index' %}" title="" data-original-title="Services">Services</a>
										</li>
										<li class=" ">
											<a href="{% url 'index' %}" class="footerMainMenu" title="" data-original-title="Rankings">Location</a>
										</li>
										<li class="">
											<a href="{% url 'index' %}" class="footerMainMenu" title="" data-original-title="Packages">Contact </a>
										</li>
										<li class="">
											<a href="{% url 'index' %}" class="footerMainMenu" title="" data-original-title="Reviews">Reviews</a>
										</li>
									</ul>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-4 mobResLinks link3">
									<ul class="list-unstyled subMenuFooter">
										<li class="">
											<a href="{% url 'articles:list' %}" title="" data-original-title="Resources">Our portfolio</a>
										</li>
										<li class="">
											<a href="{% url 'index' %}" class="footerMainMenu" title="" data-original-title="Career">Our Exports</a>
										</li>
										<li class="">
											<a href="{% url 'index' %}" class="footerMainMenu" title="" data-original-title="Get in Touch">Our Exports</a>
										</li>

										<li class="footerMainMenu lessspaceTooltip">
											<a href="{% url 'index' %}" title="" data-original-title="Get a Quote">Logistics</a>
										</li>

										<li class="">
											<a href="{% url 'index' %}" class="footerMainMenu" title="" data-original-title="request-for-proposal">IT Solutions </a>
										</li>
										<li class="">
											<a href="{% url 'index' %}" class="footerMainMenu" title="" data-original-title="Make a Payment">Get in touch</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="defineFloat footerList">
							<ul class="list-unstyled disableLink">
								<li>
									<a class="disableLink" href="tel:+254 (0)20 2004959">
										<i class="fa fa-phone" aria-hidden="true"></i>+254 (0)20 2004959</a>
								</li>
								<li>
									<a class="disableLink" href="tel:+254 (0)791 071 920">+254 (0)791 071 920</a>
								</li>
								<li>
									<span class="salesEmail">
										<a href="mailto:info@tatc.co.ke">
											<i class="fa fa-envelope" aria-hidden="true"></i>info@tatc.co.ke</a>
									</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 footerRight">
						<div class="defineFloat footBg">
							<div class="col-sm-12 col-xs-12 fLogo text-center">
								<a href="{% url 'index' %}">
									<img src="{% static 'home/images/logo2.png' %}" class="img-responsive" alt="">
								</a>
							</div>
							<div class="col-sm-12 col-xs-12 grab text-center">
								<h2>Get The Latest Trading News</h2>
								<p>We’ll provide you with detailed metrics &amp; statistics to help you take the right decisions</p>
								<a href="{% url 'index' %}" class="popUpFormThree btn btn-primary blueButton fadeIn wow" style="visibility: hidden; animation-name: none;">
									<span></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid copyRight noPad">
		<div class="container">
			<span class="col-xs-12"> © Copyright 2018 &nbsp;&nbsp; | &nbsp;&nbsp; Trans-Atlantic Trading Company. All rights reserved. </span>
		</div>
	</div>
</footer>