
{% extends 'home/base.html' %}
{% load static %}
<body class="smo">
{% block nav %}{% include 'home/nav-section.html' %}{% endblock nav %}
{% block imports %}
	


<section id="sliderInner" class="defineFloat commonHeight"> <img src="{% static 'home/images/smoBg.png' %}" class="img-responsive" alt="" />
    <div class="slideContent col-sm-12 servicesButton">
      <h2>SOCIAL MEDIA MARKETING</h2>
      <label>IT’S TIME TO GET SOCIAL!</label>
      <p>Are you engaging with right people on the right social media platforms?</p>
      <span><a href="get-started.php">Check your Social Health Now »</a></span> </div>
  </section>
  <section class="defineFloat" id="online">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12 ormReputation">
          <h1>SMO Services India, SMM SMO India, Outsource Social Media Marketing India, SMO Company India</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="defineFloat" id="socialMediaUsers">
    <div class="container">
      <div class="row wow fadeIn">
        <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12 smuLeft"> <h2>With more than
          <span>3 Billion Social Media Users</span>
          online, why should your Marketing Strategy not include Social Media?</h2>
          <div class="defineFloat smuInner mediaMovingLing">
            <p>Over 1.3 billion people are connecting on Facebook; while 600 million twitterers are tweeting. Even Google+ has over 200 million people using the platform to share stories. And there are many other social media platforms as well!</p>
          </div>
          <div class="smLinkingList">
              <h4>We can help you build the right connections on the right social media platforms that bring your brand closer to your market. Through Social Media, you can: </h4>
          </div>
          <ul class="list-unstyled smLinkingList">
            <li class="wow fadeIn" data-wow-delay="0s"><i class="fa fa-angle-right" aria-hidden="true"></i>Engage Customers in Meaningful Conversations</li>
            <li class="wow fadeIn" data-wow-delay="0s"><i class="fa fa-angle-right" aria-hidden="true"></i>Provide Instantaneous Customer Service</li>
            <li class="wow fadeIn" data-wow-delay="0.2s"><i class="fa fa-angle-right" aria-hidden="true"></i>Engage Visitors by Having them Contribute Content</li>
            <li class="wow fadeIn" data-wow-delay="0.2s"><i class="fa fa-angle-right" aria-hidden="true"></i>Provide Exclusive Offers & Discounts to Your Audience</li>
            <li class="wow fadeIn" data-wow-delay="0.4s"><i class="fa fa-angle-right" aria-hidden="true"></i>Put a Human Face on a Big Company</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="BEF" class="defineFloat">
    <div class="defineFloat BEF ORM">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 businessInner text-center">
            <h2 class="wow fadeIn">FREE SOCIAL CHECK UP.</h2>
            <div class="defineFloat divide text-center">
              <hr>
            </div>
            <p class="wow fadeIn">Get a Detailed Assessment of your Social Media Profiles along with Custom Strategies on how to take them to the next level.</p>
          </div>
          <div class="defineFloat text-center businessButton wow zoomIn">
            <button id="popUpFormThree" type="button" class="btn btn-primary yellowButton hvr-grow popUpFormThree simpleBounce">Yes, I want a Free Social Audit! </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="defineFloat" id="smoSocial">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12 smoSocialHeading text-center wow fadeIn">
          <h2>Be seen more on Social Media!</h2>
          <span>Our social media service can get you interacting, communicating and connecting with your target audience.</span> 
        </div>
        <div class="col-sm-12 col-xs-12 smoOuter noPad">
          <div class="col-sm-4 col-xs-6 smoInner text-center wow fadeIn">
            <div class="smoImage"> <img src="{% static 'home/images/smo1.png' %}" class="img-responsive" alt="" /> </div>
            <h3>Social Media Audit & Strategy</h3>
            <p>We evaluate the performances of all your social channels and come up with powerful improvement strategies for influencing the conversations and engaging your audience.</p>
          </div>
          <div class="col-sm-4 col-xs-6 smoInner text-center wow fadeIn">
            <div class="smoImage"> <img src="{% static 'home/images/smo2.png' %}" class="img-responsive" alt="" /> </div>
            <h3>Content Development & Promotion</h3>
            <p>We help you create a buzz and widen your social reach through development as well as promotion of smart, crisp, useful, and highly interactive content.</p>
          </div>
          <div class="col-sm-4 col-xs-6 smoInner text-center wow fadeIn">
            <div class="smoImage"> <img src="{% static 'home/images/smo3.png' %}" class="img-responsive" alt="" /> </div>
            <h3>Multi Channel Integration</h3>
            <p>Take advantage of our multi channel integration strategy for effective data integrations across all your social channels and connect with your target audience efficiently.</p>
          </div>
          <div class="col-sm-4 col-xs-6 smoInner text-center borderZero wow fadeIn">
            <div class="smoImage"> <img src="{% static 'home/images/smo4.png' %}" class="img-responsive" alt="" /> </div>
            <h3>Social Advertising</h3>
            <p>Impact your brand outreach, drive instant traffic to your website, and increase your revenue with steady, compelling and well-focused social advertising campaigns. </p>
          </div>
          <div class="col-sm-4 col-xs-6 smoInner text-center borderZero wow fadeIn">
            <div class="smoImage"> <img src="{% static 'home/images/smo5.png' %}" class="img-responsive" alt="" /> </div>
            <h3>Social Listening & Monitoring</h3>
            <p>We consistently listen to and monitor social conversations around your interests to help you gain better consumer insights and discover potential opportunities.</p>
          </div>
          <div class="col-sm-4 col-xs-6 smoInner text-center borderZero wow fadeIn">
            <div class="smoImage"> <img src="{% static 'home/images/smo6.png' %}" class="img-responsive" alt="" /> </div>
            <h3>Analytics & Reporting</h3>
            <p>Track your key social media metrics, measure your performance, and get complete campaign overview with our intuitive analytics as well as fully customized reports.</p>
          </div>
        </div>
      </div>
      <div class="row wow fadeIn">
        <div class="defineFloat socialMediaPlateform">
          <div class="col-sm-5 col-xs-12 smpLeft">
            <h2>Social Media Platforms</h2>
            <span>The Platforms We Love Using Everyday.</span> </div>
          <div class="col-sm-7 col-xs-12 smpRight text-center">
            <ul class="list-unstyled soMediaPlatform">
              <li><a href="javascript:void(0);"><img src="{% static 'home/images/smp-fb.png' %}" alt="" class="img-responsive" /></a></li>
              <li><a href="javascript:void(0);"><img src="{% static 'home/images/smp-insta.png' %}" alt="" class="img-responsive" /></a></li>
              <li><a href="javascript:void(0);"><img src="{% static 'home/images/smp-twt.png' %}" alt="" class="img-responsive" /></a></li>
              <li><a href="javascript:void(0);"><img src="{% static 'home/images/smp-gp.png' %}" alt="" class="img-responsive" /></a></li>
              <li><a href="javascript:void(0);"><img src="{% static 'home/images/smp-pin.png' %}" alt="" class="img-responsive" /></a></li>
              <li><a href="javascript:void(0);"><img src="{% static 'home/images/smp-you.png' %}" alt="" class="img-responsive" /></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-xs-12 defineFloat smoProposal text-center">
          <h2 class="wow fadeIn">Get Social Media Right with our Best in Class Social Media Solutions. </h2>
          <div class="defineFloat"> <img src="{% static 'home/images/divideImage.png' %}" class="img-responsive" alt="" /> </div>
              <button onclick="location.href='request-for-proposal.php'" type="button" class="btn btn-default blueButton hvr-grow wow fadeIn">Get a Free Proposal <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
          <span class="wow fadeInUp"><a href="tel:+1-(646)-808-0229">Call us on +1 (646) 808 0229</a></span> </div>
      </div>
    </div>
  </section>
  <section class="defineFloat" id="socialMediaMatter">
    <div class="container">
      <div class="row wow fadeIn">
        <div class="col-sm-12 col-xs-12 smmHeading text-center">
          <h2 class="wow fadeIn">Why Social Media Matters?</h2>
          <span class="wow fadeIn">The following industry statistics will help emphasize why social media is important.</span>
          <div class="defineFloat smmImage wow fadeIn"> <img src="{% static 'home/images/socialMediaMatter.png' %}" class="img-responsive" alt="" /> </div>
          <div class="defineFloat smmButton wow fadeIn">
            <button onclick="location.href='get-started.php'" type="button" class="btn btn-default simpleHover"> Let's Grow Your Business Through Social Media <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
            </div>
          <p class="col-lg-12"><a href="tel:+1-(646)-808-0229" title="+1-(646)-808-0229">Call us on +1 (646) 808 0229</a></p>
        </div>
      </div>
    </div>
  </section>
  <section class="defineFloat outsource text-center">
      <div class="container demo">
        <div class="panel-group" id="accordion" >
          <div class="panel panel-default">
            <div class="panel-heading bottomStrip" id="headingOne">
              <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> <i class="fa fa-plus"></i>Why Outsource Social Media Management To India?</a> </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body blackColor">
                  <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12 whyOutSource-textCoulmn">
              Outsourcing social media management offers ample opportunities to generate quality leads online besides staying connected with existing customers. The management of multiple social channels becomes easier when the social media marketing is outsourced to a top SMO firm in India. With proven track record of handling a wide range of outsourced SMO and SMM projects, the Indian SMO agencies guarantee maximum online visibility of brand at a cost lower than conventional marketing plans.<br/>
  
  India, as one of the top outsourcing destinations has always delivered results to offshore clients from European countries like the USA, UK, Australia, Canada, etc. Companies abroad outsource to well-recognized Indian SMO companies with dedicated SMM and SMO consultants capable of working out exclusive promotion campaigns for top social channels like LinkedIn, Facebook, Twitter, Youtube, etc. In order to stand out in international competition, Firms in India offering offshore SMO solutions make sure that the pricing of their SMM packages justify the results they achieve for clients.  <br/>
  
  When you outsource the social media optimization and management services to SEO Experts India, one of the best social media marketing companies in India, you benefit from a significant rise in community engagement, brand recognition and website traffic. Our expert marketers having handled wide-range of outsourced SMM projects, know the precise needs of companies around the globe that leads to higher quality results. A dedicated marketer/specialist is allotted for social media promotion of individual channel and his responsibilities include creation and monitoring of business profiles, developing content strategy, managing community, building an engaging audience and a lot more. <br/>
                  </div>
              </div>
              
            </div>
          </div>
        </div>
        <!-- panel-group --> 
        
      </div>
      <!-- container --> 
    </section>
  <section class="defineFloat" id="smoKhm">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12 text-center smoKhmHeading wow fadeIn"> 
          <h2>Our Approach to Social Media Marketing</h2>
        </div>
        <div class="defineFloat smoKhmOuter">
          <div class="col-sm-4 col-xs-6 smoKhmInner wow fadeIn">
            <div class="smoKhmImage"> <img src="{% static 'home/images/smoImage1.png' %}" class="img-responsive" alt="" /> </div>
            <h3>Stand Out</h3>
            <p>We start by creating a robust social strategy focused on your business goals while taking the marketplace, competition, buyer personas, etc. into consideration.</p>
          </div>
          <div class="col-sm-4 col-xs-6 smoKhmInner wow fadeIn">
            <div class="smoKhmImage"> <img src="{% static 'home/images/smoImage2.png' %}" class="img-responsive" alt="" /> </div>
            <h3>Create Fantastic Content</h3>
            <p>After strategizing, we develop useful, enticing, and interactive content by focusing on both context and form in order to build relationships with your audience.</p>
          </div>
          <div class="col-sm-4 col-xs-6 smoKhmInner wow fadeIn">
            <div class="smoKhmImage"> <img src="{% static 'home/images/smoImage3.png' %}" class="img-responsive" alt="" /> </div>
            <h3>Lead the Conversation</h3>
            <p>In the next step, we promote the content to your advantage and stretch the campaign out by LEADING the conversations instead of JOINING them. </p>
          </div>
          <div class="col-sm-4 col-xs-6 smoKhmInner wow fadeIn">
            <div class="smoKhmImage"> <img src="{% static 'home/images/smoImage4.png' %}" class="img-responsive" alt="" /> </div>
            <h3>Amplify It</h3>
            <p>After that, we utilize strategic content amplification techniques in order to break free of your network limitations and improve your content outreach radically. </p>
          </div>
          <div class="col-sm-4 col-xs-6 smoKhmInner wow fadeIn">
            <div class="smoKhmImage"> <img src="{% static 'home/images/smoImage5.png' %}" class="img-responsive" alt="" /> </div>
            <h3>Measure It</h3>
            <p>The successive step includes measurement of both campaign-focused metrics as well as ongoing analytics to track the overall performance and find opportunities to gain from.</p>
          </div>
          <div class="col-sm-4 col-xs-6 smoKhmInner wow fadeIn">
            <div class="smoKhmImage"> <img src="{% static 'home/images/smoImage67.png' %}" class="img-responsive" alt="" /> </div>
            <h3>Keep it Real</h3>
            <p>Finally, we put our best efforts to keep all your marketing initiatives real and interactive by infusing your brand personality into our social strategies tactically. </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-xs-12 smoKhmButton text-center superCharge">
          <h2 class="wow fadeIn">Have Questions? Want to talk to an Social Media Expert? </h2>
          <button type="button" onClick="return lh_inst.lh_openchatWindow()" class="btn btn-primary yellowButton hvr-grow simpleBounce wow fadeInUp">CHAT Live NOW! <span><img src="{% static 'home/images/chat-box.png' %}" class="img-responsive" alt=""></span></button>
          </div>
      </div>
    </div>
  </section>
  <section class="defineFloat" id="tempalteAccordian">
    <div class="container">
      <div class="row wow fadeInUp">
        <div class="col-sm-12 col-xs-12 taHeading text-center wow fadeIn">
          <h2>Why SEI is a Trusted by 850+ Customers in 20 countries?</h2>
        </div>
      </div>
      <div class="row wow fadeInUp">
        <div class="col-sm-8 col-xs-8 taLeft">
          <div class="autoAccordionSlide">
          <div id="exTab1">
            <ul id="nav-pills" class="nav nav-pills autoSlideTab">
              <li class="active"><a href="#1a" data-toggle="tab" aria-expanded="false">
               <img src="{% static 'home/images/temp1.png' %}" class="img-responsive accPic" alt="" /> 7+ Years of  Experience <i class="more-less glyphicon glyphicon-plus"></i></a> 
                
                <div class="tab-pane active" id="1a">
                <p>We have over 7 years of experience in formulating effective digital marketing strategies and SEO campaigns for clients hailing from different industry segments. Throughout this period, we have acquired unmatched technical expertise and developed proven methodologies for delivering projects of any size and complexity.</p>
              </div>
                
                </li>
              <li class=""><a href="#2a" data-toggle="tab" aria-expanded="false">
                <img src="{% static 'home/images/temp2.png' %}" alt="" class="img-responsive accPic" />Experienced & Skilled Team <i class="more-less glyphicon glyphicon-plus"></i></a> 
                
                <div class="tab-pane" id="2a">
                <p>We are a team of 150+ highly skilled and experienced professionals and are well-versed with all the major digital marketing trends. Our team comprises of SEO Consultants, Business Analysts, Web Designers and Digital Marketers who know exactly what will work for you and what not. Together, our experts plan SEO strategies keeping in mind your specific industry and target audience, and deliver solutions that provide high ROI.</p>
              </div>
                
                </li>
              <li class=""><a href="#3a" data-toggle="tab" aria-expanded="false"><img src="{% static 'home/images/temp3.png' %}" class="img-responsive accPic" alt="" />98% Customer Satisfaction <i class="more-less glyphicon glyphicon-plus"></i></a> 
                
                 <div class="tab-pane" id="3a">
                <p>Customer satisfaction is the primary mission at SEO Experts India and this is what sets us above our competition. In the past 7 years, we have delivered over 800 successful projects to 350+ clients from across the globe and have cultivated a reputation that translates into peace of mind for our customers. We feel proud when our customers keep coming back to us for our state-of-the-art Internet marketing services and solutions.</p>
              </div>
                
                </li>
              <li class=""><a href="#4a" data-toggle="tab" aria-expanded="false"><img src="{% static 'home/images/temp4.png' %}" class="img-responsive accPic" alt="" />Competitive Pricing & Packages <i class="more-less glyphicon glyphicon-plus"></i></a> 
                
                 <div class="tab-pane" id="4a">
                <p>SEO Experts India offers clear and competitive pricing for results-oriented and profit-driven Internet marketing services. Through our flexible engagement model and customer-centric approach, we aim at delivering maximum value to our customers for their investments and ensure that our clients get a high return on investment when they choose us over other Internet marketing companies. </p>
              </div>
                
                </li>
              <li class=""><a href="#5a" data-toggle="tab" aria-expanded="false"><img src="{% static 'home/images/temp5.png' %}" class="img-responsive accPic" alt="" />Quality Focussed Delivery <i class="more-less glyphicon glyphicon-plus"></i></a> 
                
                <div class="tab-pane" id="5a">
                <p>We are committed to deliver enhanced value and quality-focused services to our clients. We continually improve our processes and leverage innovative tools and technologies that ensure optimum efficiency & hence cost-effectiveness for our clients. We first understand your specific project requirements and then tailor the best possible solution for the given requirements. Every project we undertake is closely monitored by the quality assurance team to ensure that there's no compromise on quality.</p>
              </div>
                </li>
              <li class=""><a href="#6a" data-toggle="tab" aria-expanded="true"><img src="{% static 'home/images/temp6.png' %}" class="img-responsive accPic" alt="" />Results Driven Approach <i class="more-less glyphicon glyphicon-plus"></i></a> 
                
                 <div class="tab-pane" id="6a">
                <p>Our team follows proven methodologies and our results-driven approach that enable us to bring maximum value to our clients' online marketing campaigns. Whether it's related to SEO, PPC, ORM or any other internet marketing campaign, we treat each project differently and optimize activities based on it's unique requirements. Through smart positioning, testing and innovation, we work to take your online marketing campaigns to the next level.</p>
              </div>
                </li>
            </ul>
          </div>
        </div>
          <!-- panel-group --> 
          
        </div>
        <div class="col-sm-4 col-xs-4 taRight text-center" id="counterBox">
          <ul class="list-unstyled">
            <li class="achievedKHM">
              <h2>
                <label class="statistic-counter">125112</label>
              </h2>
              <p>New Visitors</p>
            </li>
            <li class="achievedKHM">
              <h2>
                <label class="statistic-counter">23250</label>
              </h2>
              <p>Likes</p>
            </li>
            <li class="achievedKHM">
              <h2>
                <label class="statistic-counter">10120</label>
              </h2>
              <p>Comments</p>
            </li>
            <li class="achievedKHM">
              <h2>
                <label class="statistic-counter">11345</label>
              </h2>
              <p>Shares</p>
            </li>
          </ul>
         </div>
      </div>
    </div>
  </section>
  <section id="higherRating" class="defineFloat">
    <div class="container" id="contForm">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 formOuter wow fadeIn">
          <div class="defineFloat text-center ">
            <h2>Remove Social Media from your ToDo List! Get Started Now!</h2>
          </div>
            <form class="contactPageform" id="mainMobileform" method="post">
       <div class="containermessage"><p></p></div>
              <div class="form-group col-sm-4 col-xs-4">
                <input id="exampleInputName1" value="" name="txtName" type="text" class="form-control validate[required,custom[onlyLetterSp],minSize[3],maxSize[30]]" placeholder="Name" autocomplete="off">
              </div>
              <div class="form-group col-sm-4 col-xs-4">
                <input id="exampleInputEmail1" value="" name="txtEmail" type="email" class="form-control validate[required, custom[email]]" placeholder="Email" autocomplete="off">
              </div>
              <div class="form-group col-sm-4 col-xs-4">
                <input id="exampleInputNumber1" value="" name="txtPhone" type="text" class="form-control validate[required ,custom[phone] , minSize[10] , maxSize[12]]" placeholder="Phone(With Country &amp; AreaCode)" autocomplete="off">
              </div>
              <div class="form-group col-sm-12 col-xs-12">
                <textarea name="txtMessage"  class="form-control validate[required]" placeholder="Your Message">			</textarea>
              </div>
              <div class="form-group submit col-sm-12 col-xs-12">
                
                <p class="help-block"><input name="txtAccept" value="Yes" type="checkbox"> I'd like to get 1 Hour Free Consultation and also a Price Estimate. </p>
                <button type="submit" class="btn btn-default">Send</button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </section>

{% endblock imports %}
{% block footer %}{% include 'home/footer-section.html' %}{% endblock footer %}