 {% load static %}

<section id="exports" class="defineFloat outsource text-center">
  <div class="container demo">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading bottomStrip" id="headingOne">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              <i class="fa fa-plus"></i>Advantages of importing products from Kenya</a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body blackColor">
            <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12 whyOutSource-textCoulmn">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, cumque! Asperiores enim perspiciatis, illum amet hic quidem aliquid eos quod. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, repellat quisquam consequatur doloribus facere accusamus. Facilis ab voluptatibus magni vitae.
              <br>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ipsum minus expedita nihil laboriosam fugit, vel explicabo minima repellendus cumque cupiditate blanditiis, ipsam laudantium recusandae unde dignissimos doloribus reprehenderit? Praesentium, atque. Voluptatem ullam, placeat error ex sit enim suscipit ab.
              <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure recusandae nisi ipsum explicabo, illum assumenda animi praesentium ex aperiam ipsam et autem eum laudantium dolorum earum cumque vel. Delectus repellendus ullam provident sequi beatae distinctio a officia minima adipisci consequuntur!
              <br>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam autem inventore libero, modi corrupti exercitationem, non odio quibusdam fugiat suscipit assumenda illum praesentium soluta ad similique quisquam voluptatum eos sapiente ducimus nostrum eaque facilis officiis? Quos corporis incidunt quae iusto?
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- panel-group -->

  </div>
  <!-- container -->
</section>
<section id="company" class="defineFloat">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 companyHeading text-center wow fadeIn" style="visibility: hidden; animation-name: none;">
        <p>What We Import</p>
        <h2>get the tools you need</h2>
        <span>These are some of the products, commodities and equipment we import into the kenyan market.</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-12 col-md-4 companyKhm blue text-center">
        <div class="cKhm col-sm-12 col-xs-6 noPad wow fadeIn" style="visibility: hidden; animation-name: none;">
          <div class="col-md-12 col-sm-12 col-xs-12 KHM-2" id="1">
            <div class="col-sm-12 col-xs-12 KHM-2-mobImage">
              <img src="{% static 'home/images/seven.png' %}" class="img-responsive" alt="">
            </div>
            <h3>Office Equipment
              <span></span>
              <i class="fa fa-plus" aria-hidden="true"></i>
            </h3>
            <p id="i_1">
              Kenyan coffee is well known for its intense flavor, full body with floral tastes and deep aromatic overtones making it one
              of of the most sought-after coffee in the world.
            </p>
          </div>
        </div>
        <div class="cKhm col-sm-12 col-xs-6 noPad wow fadeIn" style="visibility: hidden; animation-name: none;">
          <div class="col-md-12 col-sm-12 col-xs-12 KHM-2" id="2">
            <div class="col-sm-12 col-xs-12 KHM-2-mobImage">
              <img src="{% static 'home/images/nineEight.png' %}" class="img-responsive" alt="">
            </div>
            <h3>Industrial Equipment
              <span></span>
              <i class="fa fa-plus" aria-hidden="true"></i>
            </h3>
            <p id="i_2">
              Kenyan coffee is well known for its intense flavor, full body with floral tastes and deep aromatic overtones making it one
              of of the most sought-after coffee in the world.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 col-md-4 companyKhm orange text-center">
        <div class="cKhm col-sm-12 col-xs-6 noPad wow fadeIn" style="visibility: hidden; animation-name: none;">
          <div class="col-md-12 col-sm-12 col-xs-12 KHM-2" id="3">
            <div class="col-sm-12 col-xs-12 KHM-2-mobImage">
              <img src="{% static 'home/images/team.png' %}" class="img-responsive" alt="">
            </div>
            <h3>Pharmacetical Products
              <span></span>
              <i class="fa fa-plus" aria-hidden="true"></i>
            </h3>
            <p id="i_3">
              Kenyan coffee is well known for its intense flavor, full body with floral tastes and deep aromatic overtones making it one
              of of the most sought-after coffee in the world.
            </p>
          </div>
        </div>
        <div class="cKhm col-sm-12 col-xs-6 noPad wow fadeIn" style="visibility: hidden; animation-name: none;">
          <div class="col-md-12 col-sm-12 col-xs-12 KHM-2" id="4">
            <div class="col-sm-12 col-xs-12 KHM-2-mobImage">
              <img src="{% static 'home/images/tick-new.png' %}" class="img-responsive" alt="">
            </div>
            <h3>Petroleum Products
              <i class="fa fa-plus" aria-hidden="true"></i>
            </h3>
            <p id="i_4">
              Kenyan coffee is well known for its intense flavor, full body with floral tastes and deep aromatic overtones making it one
              of of the most sought-after coffee in the world.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 col-md-4 companyKhm silver text-center">
        <div class="cKhm col-sm-12 col-xs-6 noPad wow fadeIn" style="visibility: hidden; animation-name: none;">
          <div class="col-md-12 col-sm-12 col-xs-12 KHM-2" id="5">
            <div class="col-sm-12 col-xs-12 KHM-2-mobImage">
              <img src="{% static 'home/images/share.png' %}" class="img-responsive" alt="">
            </div>
            <h3>Construction Materials
              <span></span>
              <i class="fa fa-plus" aria-hidden="true"></i>
            </h3>
            <p id="i_5">
              Kenyan coffee is well known for its intense flavor, full body with floral tastes and deep aromatic overtones making it one
              of of the most sought-after coffee in the world.
            </p>
          </div>
        </div>
        <div class="cKhm col-sm-12 col-xs-6 noPad wow fadeIn" style="visibility: hidden; animation-name: none;">
          <div class="col-md-12 col-sm-12 col-xs-12 KHM-2" id="6">
            <div class="col-sm-12 col-xs-12 KHM-2-mobImage">
              <img src="{% static 'home/images/dollarStar.png' %}" class="img-responsive" alt="">
            </div>
            <h3>Sugar
              <span></span>
              <i class="fa fa-plus" aria-hidden="true"></i>
            </h3>
            <p id="i_6">
              Kenyan coffee is well known for its intense flavor, full body with floral tastes and deep aromatic overtones making it one
              of of the most sought-after coffee in the world.
            </p>
          </div>
        </div>
      </div>
    </div>

      {% include 'home/nums-section.html' %}

    </div>
  </div>
</section>