
{% load static %}

<section id="marketing" class="defineFloat">
        <div class="container">
          <div class="row wow fadeIn" style="visibility: hidden; animation-name: none;">
            <div class="col-md-12 col-sm-12 col-xs-12 marketingHeading text-center">
              <p>Our Exports</p>
              <h2>We Deliver Real World Results! </h2>
              <div class="defineFloat borderAround text-center"><span>We are a one-stop-shop for <span>all your SEO &amp; Internet Marketing Needs.</span></span></div>
            </div>
          </div>
        </div>
        <div class="container-fluid wrap-container">
          <div class="col-md-12 col-sm-12 col-xs-12 marketingKHM">
            <div class="col-md-4 col-sm-4 col-xs-6 khmInner text-center wow fadeIn" style="visibility: hidden; animation-name: none;"> <a href="#seo-services.html">
              <div class="defineFloat">
                <div class="col-sm-12 col-xs-12 text-center">
                  <div class="autoHover m1"><!--<img src="{% static 'home/images/m1.png' %}" class="img-responsive" alt="" />--></div>
                </div>
                <h2>Fresh Pineapples<span></span></h2>
                <p>Drive greater traffic to your website through organic 
    search listings. Bring your website to the top of search engine result 
    pages with our proven SEO strategies.</p>
              </div>
              </a> </div>
            <div class="col-md-4 col-sm-4 col-xs-6 khmInner text-center wow fadeIn" style="visibility: hidden; animation-name: none;"> <a href="#">
              <div class="defineFloat">
                <div class="col-sm-12 col-xs-12 text-center">
                  <div class="autoHover m2"><!--<img src="{% static 'home/images/m2.png' %}" class="img-responsive" alt="" />--></div>
                </div>
                <h2>Kenyan Coffee<span></span></h2>
                <p>Reduce ad costs and increase conversions with our fully 
    managed PPC campaigns. Drive optimized and targeted traffic to your site
     with PPC advertising.</p>
              </div>
              </a> </div>
            <div class="col-md-4 col-sm-4 col-xs-6 khmInner text-center wow fadeIn" style="visibility: hidden; animation-name: none;"> <a href="#">
              <div class="defineFloat">
                <div class="col-sm-12 col-xs-12 text-center">
                  <div class="autoHover m3"><!--<img src="{% static 'home/images/m3.png' %}" class="img-responsive" alt="" />--></div>
                </div>
                <h2>Fresh Meat<span></span></h2>
                <p>Establish your brand’s reputation as an industry leader. 
    We suppress negative results about your company and prevent future ones 
    from appearing.</p>
              </div>
              </a> </div>
            <div class="col-md-4 col-sm-4 col-xs-6 khmInner text-center borderBottom wow fadeIn" style="visibility: hidden; animation-name: none;"> <a href="#">
              <div class="defineFloat">
                <div class="col-sm-12 col-xs-12 text-center">
                  <div class="autoHover m4"><!--<img src="{% static 'home/images/m4.png' %}" class="img-responsive" alt="" />--></div>
                </div>
                <h2>Premium Tea<span></span></h2>
                <p>Promoting contextual, high quality links that drive 
    traffic and improve rankings. We help your brand be recognized as an 
    authority in your industry.</p>
              </div>
              </a> </div>
            <div class="col-md-4 col-sm-4 col-xs-6 khmInner text-center borderBottom wow fadeIn" style="visibility: hidden; animation-name: none;"> <a href="#">
              <div class="defineFloat">
                <div class="col-sm-12 col-xs-12 text-center">
                  <div class="autoHover m5"><!--<img src="{% static 'home/images/m5.png' %}" class="img-responsive" alt="" />--></div>
                </div>
                <h2>Livestock<span></span></h2>
                <p>Engage with your current customers and reach new 
    prospects with social media marketing. We help you build better 
    relationships with your audience.</p>
              </div>
              </a> </div>
            <div class="col-md-4 col-sm-4 col-xs-6 khmInner text-center borderBottom wow fadeIn" style="visibility: hidden; animation-name: none;"> <a href="#">
              <div class="defineFloat">
                <div class="col-sm-12 col-xs-12 text-center">
                  <div class="autoHover m6"><!--<img src="{% static 'home/images/m6.png' %}" class="img-responsive" alt="" />--></div>
                </div>
                <div class="lastHover">
                  <h2>Agricultural Produce<span></span></h2>
                </div>
                <p>Develop and promote high quality, original content that 
    is worth sharing. We help you connect with your target audience and 
    improve your site rankings.</p>
              </div>
              </a> </div>
          </div>
        </div>
      </section>
      <section class="defineFloat" id="mark">
        <div class="container">
        
        
          <div class="row wow fadeInUp" style="visibility: hidden; animation-name: none;">
            <div class="col-sm-12 col-xs-12 text-center bounce"> <a href="javascript:void(0)"><img src="{% static 'home/images/belowArrow.png' %}" class="img-responsive" alt=""></a> </div>
            <div class="col-md-12 col-sm-12 col-xs-12 moreSales text-center">
              <h2>other exports?</h2>
              <p>Get your <a href="#">FREE Proposal</a> on how we can help you with that!</p>
              <div class="defineFloat divideImage text-center wow zoomIn" style="visibility: hidden; animation-name: none;"> <img src="{% static 'home/images/divideImage.png' %}" class="img-responsive" alt=""> </div>
              <a href="#" class="btn btn-primary blueButton hvr-grow" id="getstartbtn">get in touch</a> <span><a href="#">Call us on +1(646)-808-0229</a></span></div>
          </div>
        </div>
      </section>