{% extends 'home/base.html' %}
{% load static %}
<body class="home  pace-done">
{% block nav %}{% include 'home/nav-section.html' %}{% endblock nav %}
{% block hero %}{% include 'home/hero-section.html' %}{% endblock hero %} 
{% block about %}{% include 'home/about-section.html' %}{% endblock about %}
{% block cta %}{% include 'home/cta-section.html' %}{% endblock cta %}
{% block exports %}{% include 'home/exports-section.html' %}{% endblock exports %}
{% block imports %}{% include 'home/imports-section.html' %}{% endblock imports %}
{% block logistics %}{% include 'home/logistics-section.html' %}{% endblock logistics %}
{% block testimonial %}{% include 'home/testimonial-section.html' %}{% endblock testimonial %}
{% block form %}{% include 'home/form-section.html' %}{% endblock form %}
{% block footer %}{% include 'home/footer-section.html' %}{% endblock footer %}