
{% extends 'home/base.html' %}
{% load static %}
<body class="ormPage">
{% block nav %}{% include 'home/nav-section.html' %}{% endblock nav %}
{% block exports %}


<section id="sliderInner" class="defineFloat commonHeight"> <img src="{% static 'home/images/ormSlide.png' %}" class="img-responsive" alt="" />
    <div class="slideContent col-sm-12 col-xs-12 servicesButton">
      <h2>ONLINE REPUTATION MANAGEMENT</h2>
      <p>Strengthen your Online Credibility & Brand Recognition.
        Take Control of Your Brand Image!</p>
        
        
        <div class="defineFloat text-center businessButton">
            <button type="button" class="btn btn-primary whiteButton hvr-grow popUpFormThree">Grab Your FREE Brand Audit Report</button>
          </div>
  
    </div>
  </section>
  <section class="defineFloat" id="online">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12 ormReputation"> <h1>Online Reputation Management (ORM) India, Reputation Management Services India, Reputation Management Company India</h1> </div>
      </div>
    </div>
  </section>
  <section class="defineFloat" id="onlinePresence">
    <div class="container">
      <div class="row wow fadeIn">
        <div class="col-sm-12 col-xs-12 text-center opHeading">
          <h2>“Maintaining a squeaky-clean online presence should be high on your to-do list” - Forbes.com</h2>
          <p>Infact, not just Forbes, but many other reputed Business Magazines around the world agree that maintaining a clean & credible online image is highly important for all businesses today. However, achieving this in reality is no less than a CHALLENGE!</p>
        </div>
      </div>
      <div class="row wow fadeIn">
        <div class="col-sm-12 col-xs-12 opOuter text-center">
          <div class="col-sm-5 col-xs-5 opInner">
            <div class="opImage"> <img src="{% static 'home/images/redlaptop.png' %}" class="img-responsive" alt="" /> </div>
            <h2>THE CHALLENGE</h2>
            <p>Is Your Business Losing Customers
              To Negative Search Results?</p>
            <span>Erroneous comments and negative online reviews can badly affect your business reputation when they appear on the first page of the search engine results.</span> </div>
          <div class="col-sm-5 col-xs-5 opInner">
            <div class="opImage"> <img src="{% static 'home/images/greenLaptop.png' %}" class="img-responsive" alt="" /> </div>
            <h2>THE Solution</h2>
            <p>At SEO Experts India, we help you take control of your search results!</p>
            <span>We suppress negative search results by creating positive and valuable content about your brand, thereby enabling you take control of your online reputation.</span> </div>
        </div>
      </div>
    </div>
  </section>
  <section id="BEF" class="defineFloat">
    <div class="defineFloat BEF ORM">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 businessInner text-center wow fadeIn">
            <h2>DO YOU KNOW HOW YOUR BRAND LOOKS ONLINE?</h2>
            <p>What comes up when someone searches for you online? Not sure? Click the button below to fill in your details & we shall get back to you with a Detailed Assessment of your Online Reputation.</p>
          </div>
          <div class="defineFloat divide text-center wow fadeIn">
            <hr>
          </div>
          
          <div class="defineFloat text-center businessButton wow zoomIn">
            <button id="popUpFormThree" type="button" class="btn btn-primary yellowButton hvr-grow popUpFormThree simpleBounce">Get Your Audit Report Now. It’s Free!</button>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  <section class="defineFloat" id="ormSolution">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12 osLeft">
          <h2 class="wow fadeIn">ORM SOLUTIONS THAT DRIVE RESULTS.</h2>
          <label class="wow fadeIn">We improve your online reputation and create new opportunities for your business.</label>
          <p class="wow fadeIn">We have a team of experienced writers and search engine optimization experts that collectively works to improve and protect your personal and your brand’s reputation. Additionally, all our campaigns are designed to give you better visibility on the Internet.</p>
          <p class="wow fadeIn">Whether you have negative reviews, misleading comments or undesirable words in search query autocomplete suggestions, we can help by utilizing one or more of the following as a part of our ORM campaigns:</p>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12 osRight text-center">
          <div class="col-sm-6 col-xs-6 osInner wow fadeIn">
            <div class="osImage"> <img src="{% static 'home/images/os1.png' %}" class="img-responsive" alt="" /> </div>
            <h2>Online Brand Audit</h2>
            <p>Identifying unfavorable search results of your brand and prioritizing restoration actions accordingly.</p>
          </div>
          <div class="col-sm-6 col-xs-6 osInner wow fadeIn">
            <div class="osImage"> <img src="{% static 'home/images/os2.png' %}" class="img-responsive" alt="" /> </div>
            <h2>Social Network Analysis</h2>
            <p>Analyzing social media conversations about your brand and converting the negatives into positive.</p>
          </div>
          <div class="col-sm-6 col-xs-6 osInner wow fadeIn">
            <div class="osImage"> <img src="{% static 'home/images/os3.png' %}" class="img-responsive" alt="" /> </div>
            <h2>Content Development & Promotion</h2>
            <p>Writing and publishing positive content about your brand on high authority sites and blogs.</p>
          </div>
          <div class="col-sm-6 col-xs-6 osInner wow fadeIn">
            <div class="osImage"> <img src="{% static 'home/images/os4.png' %}" class="img-responsive" alt="" /> </div>
            <h2>Online Reviews and Forums</h2>
            <p>Obtaining positive customer reviews on relevant sites and forums, and suppressing negative results.</p>
          </div>
          <div class="col-sm-6 col-xs-6 osInner wow fadeIn">
            <div class="osImage"> <img src="{% static 'home/images/os5.png' %}" class="img-responsive" alt="" /> </div>
            <h2>Search Engine Optimization</h2>
            <p>Promoting positive content for your brand onto the first page of Google and other search engines.</p>
          </div>
          <div class="col-sm-6 col-xs-6 osInner wow fadeIn">
            <div class="osImage"> <img src="{% static 'home/images/os6.png' %}" class="img-responsive" alt="" /> </div>
            <h2>Social Media Participation</h2>
            <p>Addressing concerns of your audience on social media channels and building trust among users.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-xs-12 text-center osBelow">
          <div class="defineFloat osBelowBg">
            <h2 class="wow fadeIn">Want a clean Online Reputation?</h2>
            <span class="wow fadeIn">Get your FREE Proposal on how we can help you with that!</span></div>
          <button onclick="location.href='get-started.php'" type="button" class="btn btn-default yellowButton hvr-grow wow fadeInUp">Get started Now!</button>
        </div>
      </div>
    </div>
  </section>
  <section class="defineFloat outsource text-center">
      <div class="container demo">
        <div class="panel-group" id="accordion" >
          <div class="panel panel-default">
            <div class="panel-heading bottomStrip" id="headingOne">
              <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> <i class="fa fa-plus"></i>How to Gain By Outsourcing Online Reputation Management to India?</a> </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body blackColor">
                  <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12 whyOutSource-textCoulmn">
              In the digital world of cutthroat competition building online reputation is almost like winning a marathon which demands time, patience and determination. You try to fast track the online reputation management process and may end up with harmful negative business/brand publicity that takes years to rectify. This is why companies are settling for cost effective ORM outsourcing options to enjoy professional reputation management services at cheap rates.<br/>
  When it comes to choosing an ORM outsourcing destination, major European countries like the United States, UK, Canada, Australia, etc. prefer India for several reasons. Companies abroad outsource their projects to top offshore SEO and internet marketing firms in India, and benefit from comprehensive and affordable online reputation management solutions that cover the entire process of content creation and monitoring of personal, professional & social content. The major benefit of working with one of the best SEO agency is that such agencies employ skillful social media consultants only to work on outsourced ORM projects. With in-depth knowledge about managing multiple promotional tools they know how to restore positive contents by removing the negativity, and competitiveness out of it. <br/>
  SEO Experts India, an offshore SEO and online reputation management company in India, manages each ORM campaign via a separate & individual, social media profile managers, so that every project gets same attention. We create a welcoming environment for the business/brand promotion with positive reviews, informative content, and constant user engagement. Our result-oriented online reputation management packages may not be cheap or the cheapest but are easily affordable by all types of businesses and definitely provide good value for money.
                  </div>
              </div>
              
            </div>
          </div>
        </div>
        <!-- panel-group --> 
        
      </div>
      <!-- container --> 
    </section>
  <section class="defineFloat" id="ormOption">
    <div class="container">
      <div class="row wow fadeIn">
        <div class="col-sm-12 col-xs-12 text-center ormHeading">
          <h2>Why ORM is not Optional but MANDATORY?</h2>
          <p>The following industry statistics will help you understand why online reputation management is essential for your business.</p>
        </div>
      </div>
      <div class="row wow fadeInUp">
        <div class="col-md-4 col-sm-12 col-xs-12 opLeft">
          <div class="defineFloat oplInner">
            <div class="oplImage"> <img src="{% static 'home/images/opl1.png' %}" class="img-responsive" alt="" /> </div>
            <p>85% of consumers use the<br/>
              Internet for research before<br/>
              making a purchasing decision</p>
          </div>
          <div class="defineFloat oplInner">
            <div class="oplImage"> <img src="{% static 'home/images/opl2.png' %}" class="img-responsive" alt="" /> </div>
            <p>87% of people believe the CEO’s <br/>
              reputation is an important part<br/>
              of a company’s reputation</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 opMiddle"> <img src="{% static 'home/images/opMiddle.png' %}" class="img-responsive" alt="" /> </div>
        <div class="col-md-4 col-sm-12 col-xs-12 opRight">
          <div class="defineFloat oprInner">
            <div class="oprImage"> <img src="{% static 'home/images/opr1.png' %}" class="img-responsive" alt="" /> </div>
            <p>88% of consumers trust online<br/>
              reviews and make decisions <br/>
              based on that.</p>
          </div>
          <div class="defineFloat oprInner">
            <div class="oprImage"> <img src="{% static 'home/images/opr2.png' %}" class="img-responsive" alt="" /> </div>
            <p>83% of companies will be at a risk<br/>
              of falling prey to negative <br/>
              publicity and scams.</p>
          </div>
        </div>
      </div>
      <div class="row wow fadeInUp">
        <div class="col-sm-12 col-xs-12 text-center opButton">
          <div class="opButtonOuter">
            <button onclick="location.href='get-started.php'" type="button" class="btn btn-default byButton">YES, I WANT TO IMPROVE MY ONLINE REPUTATION</button>
          </div>
          <hr/>
        </div>
      </div>
    </div>
  </section>
  <section class="defineFloat" id="ormTabs">
    <div class="container wow fadeIn">
      <div class="row">
        <div class="col-sm-12 col-xs-12 otHeading text-center">
          <h2>Since 2009, we've helped numerous clients with a Clean Online Reputation!</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-xs-12 otTab">
          <div id="exTab1">
            <ul id="nav-pills" class="nav nav-pills autoSlideTab">
              <li class="active"> <a id="tab1" href="#1a" data-toggle="tab">
                <div class="otTabImage"><img src="{% static 'home/images/ormtab1.png' %}" class="img-responsive" alt="" /></div>
                <span>More than 7 Years of Experience. </span></a> </li>
              <li><a id="tab2" href="#2a" data-toggle="tab">
                <div class="otTabImage"><img src="{% static 'home/images/ormtab2.png' %}" class="img-responsive" alt="" /></div>
                <span>Skilled Team - We know what Google wants!</span> </a> </li>
              <li><a id="tab3" href="#3a" data-toggle="tab">
                <div class="otTabImage"><img src="{% static 'home/images/ormtab3.png' %}" class="img-responsive" alt="" /></div>
                <span>Performance Tracking</span></a> </li>
              <li><a id="tab4" href="#4a" data-toggle="tab">
                <div class="otTabImage"><img src="{% static 'home/images/ormtab4.png' %}" class="img-responsive" alt="" /></div>
                <span>98% Customer Satisfaction </span></a> </li>
              <li><a id="tab5" href="#5a" data-toggle="tab">
                <div class="otTabImage"><img src="{% static 'home/images/ormtab5.png' %}" class="img-responsive" alt="" /></div>
                <span>No Hidden or Long Term Contracts. You can cancel anytime!</span></a> </li>
              <li><a id="tab6" href="#6a" data-toggle="tab">
                <div class="otTabImage"><img src="{% static 'home/images/ormtab6.png' %}" class="img-responsive" alt="" /></div>
                <span>Competitive Pricing. Check out our Online Cost Calculator</span></a> </li>
            </ul>
            <div class="tab-content clearfix">
              <div class="tab-pane tabContent active" id="1a">
                <h2>More than 7 Years of Experience.</h2>
                <p>We have over 7 years of experience in planning and executing successful online reputation management campaigns for diverse industry clients. Over the years, we have acquired unmatched expertise and skills to solve complex and high-profile reputation management issues for clients worldwide. Overall, we help you take control of your online brand reputation.</p>
              </div>
              <div class="tab-pane tabContent" id="2a">
                <h2>Skilled Team - We know what Google wants!</h2>
                <p>We have a team of 150+ highly skilled and experienced writers and search engine optimization experts that is well-versed with all the major online reputation management tools and tactics. We know what it takes to neutralize negative conversations about your brand, and create a true and accurate reflection of who you really are.</p>
              </div>
              <div class="tab-pane tabContent" id="3a">
                <h2>Performance Tracking</h2>
                <p>Through our monthly reports, you can easily monitor the progress of your reputation management campaign and seek changes if required. Effective performance tracking enables you to identify key improvements, plan new business strategies, and improve the overall effectiveness of your business.</p>
              </div>
              <div class="tab-pane tabContent" id="4a">
                <h2>98% Customer Satisfaction</h2>
                <p>Customer satisfaction is the primary mission at SEO Experts India and this is what sets us above our competition. In the past 7 years, we have delivered over 800 successful projects to 350+ clients from across the globe and have cultivated a reputation that translates into peace of mind for our customers. We feel proud when our customers keep coming back to us for our state-of-the-art Internet marketing services and solutions.</p>
              </div>
              <div class="tab-pane tabContent" id="5a">
                <h2>No Hidden or Long Term Contracts. You can cancel anytime!</h2>
                <p>We have no locking periods. Our clients have the liberty to upgrade, downgrade or cancel our services at any point of time. Our flexible engagement model and project cost estimation methodology ensure that you get consistent pricing and that you only pay for what you intend to use. We make sure that our customers are never misled!</p>
              </div>
              <div class="tab-pane tabContent" id="6a">
                <h2>Competitive Pricing. Check out our Online Cost Calculator</h2>
                <p>SEO Experts India offers clear and competitive pricing for results-oriented online reputation management services. Through our flexible engagement model and customer-centric approach, we aim at delivering maximum value to our customers for their investments and ensure that our clients get high return on investment when they choose us over other Internet marketing companies.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wow zoomIn">
        <div class="col-sm-12 col-xs-12 text-center ormDivideImage"> <img src="{% static 'home/images/divideImage2.png' %}" class="img-responsive" alt="" /> </div>
      </div>
      <div class="row">
        <div class="col-sm-12 co-xs-12 ormTabsMessage text-center">
          <h2 class="wow fadeIn">Don’t Leave Your Online Reputation to Chance!</h2>
          <p class="wow fadeIn">Take advantage of our experienced and skilled reputation management team for improving your brand image.</p>
          <button onclick="location.href='request-for-proposal.php'" type="button" class="btn btn-default simpleHover hvr-grow wow fadeInUp">GET A FREE ESTIMATE NOW! </button>
        </div>
      </div>
    </div>
  </section>
  <section id="higherRating" class="defineFloat">
    <div class="container" id="contForm">
      <div class="row wow fadeIn">
        <div class="col-md-12 col-sm-12 col-xs-12 formOuter">
          <div class="defineFloat text-center fromMainTitle">
            <h2>Ready to Rescue Your Online Image? We'd love to have a chat!</h2>
            <p>Call us:<a href="javascript:void(0);" title="+1 (646) 808 0229">+1 (646) 808 0229</a>, email us: <span class="salesEmail"></span> OR just fill up the form below and we shall get back to you as soon as we can.</p> 
          </div>
            <form class="contactPageform" id="mainMobileform" method="post">
       <div class="containermessage"><p></p></div>
              <div class="form-group col-sm-4 col-xs-4">
                <input id="exampleInputName1" value="" name="txtName" type="text" class="form-control validate[required,custom[onlyLetterSp],minSize[3],maxSize[30]]" placeholder="Name" autocomplete="off">
              </div>
              <div class="form-group col-sm-4 col-xs-4">
                <input id="exampleInputEmail1" value="" name="txtEmail" type="email" class="form-control validate[required, custom[email]]" placeholder="Email" autocomplete="off">
              </div>
              <div class="form-group col-sm-4 col-xs-4">
                <input id="exampleInputNumber1" value="" name="txtPhone" type="text" class="form-control validate[required ,custom[phone] , minSize[10] , maxSize[12]]" placeholder="Phone(With Country &amp; AreaCode)" autocomplete="off">
              </div>
              <div class="form-group col-sm-12 col-xs-12">
                <textarea name="txtMessage"  class="form-control validate[required]" placeholder="Your Message">			</textarea>
              </div>
              <div class="form-group submit col-sm-12 col-xs-12">
                
                <p class="help-block"><input name="txtAccept" value="Yes" type="checkbox"> I'd like to get 1 Hour Free Consultation and also a Price Estimate. </p>
                <button type="submit" class="btn btn-default">Send</button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </section>

{% endblock exports %}
{% block footer %}{% include 'home/footer-section.html' %}{% endblock footer %}