 {% load static %}

<section id="realCustomer" class="defineFloat indexFont">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12 realCutomer text-center">
        <p>Are you interested in trading?</p>
        <h2>See Our Trading Portfolio</h2>
      </div>
      <div class="col-md-11 col-sm-12 col-md-offset-1 col-xs-12 realContent">
        <div class="col-sm-6 col-xs-12 noPad rcOuter">
          <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item">
                <div class="col-sm-12 col-xs-12 noPad rcImage">
                  <img src="{% static 'home/images/e1.jpg' %}" class="img-responsive" alt=""> </div>
              </div>
              <div class="item">
                <div class="col-sm-12 col-xs-12 noPad rcImage">
                  <img src="{% static 'home/images/e2.jpg' %}" class="img-responsive" alt=""> </div>
              </div>
              <div class="item">
                <div class="col-sm-12 col-xs-12 noPad rcImage">
                  <img src="{% static 'home/images/e3.jpg' %}" class="img-responsive" alt=""> </div>
              </div>
              <div class="item">
                <div class="col-sm-12 col-xs-12 noPad rcImage">
                  <img src="{% static 'home/images/e4.jpg' %}" class="img-responsive" alt=""> </div>
              </div>
              <div class="item active">
                <div class="col-sm-12 col-xs-12 noPad rcImage">
                  <img src="{% static 'home/images/e5.jpg' %}" class="img-responsive" alt=""> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 noPad">
          <div id="carousel-example-generic3" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item">
                <div class="col-sm-12 col-xs-12 noPad rcContent">
                  <h4>Kenyan Tea</h4>
                  <p>
                    Tea is a relaxing stress reliever. Apart from being calorie free, it hydrates your body and provides antioxidants that slows
                    down aging, helping cells to regenerate and repair. It boosts your immune system as well as helps the
                    diges...
                  </p>
                  <hr>
                  <h3>Health Benefits Of Kenyan Tea</h3>
                </div>
              </div>
              <div class="item">
                <div class="col-sm-12 col-xs-12 noPad rcContent">
                  <h4>Types Of Tea</h4>
                  <p>
                    TYPES Black Tea Black tea is tea that has been fully oxidized and the leaves as well as the brewed tea has a dark or golden
                    color which comes as a result of Tannins which is a form of antioxidants. Green Tea Steaming, heating
                    or baking are pr...
                  </p>
                  <hr>
                  <h3>Types Of Tea</h3>
                </div>
              </div>
              <div class="item">
                <div class="col-sm-12 col-xs-12 noPad rcContent">
                  <h4>Kenyan Tea</h4>
                  <p>
                    Did you know facts 1. Kenya is one of the oldest tea producers in Africa. 2. Best paid tea farmers in the world are Kenyan.
                    3. 300 tons of CTC tea is produced a year. 4. Tea is the #1 foreign exchange earner for Kenya. 5. Tea...
                  </p>
                  <hr>
                  <h3>5 Facts About Kenyan Tea</h3>
                </div>
              </div>
              <div class="item">
                <div class="col-sm-12 col-xs-12 noPad rcContent">
                  <h4>Kenyan Coffee</h4>
                  <p>
                    Coffee contains anti-inflammatory anti-oxidants the help in reducing the risks of inflammations and cardiovascular diseases.
                    Assists in lowering the risk of getting a type 2 Diabetes. Contains antioxidants that help reduce certain
                    types...
                  </p>
                  <hr>
                  <h3>Health Benefits Of Kenyan Coffee</h3>
                </div>
              </div>
              <div class="item active">
                <div class="col-sm-12 col-xs-12 noPad rcContent">
                  <h4>Fresh Kenyan Pineapples</h4>
                  <p>
                    Kenyan pineapples are the finest in the world and excellent source of manganese and vitamin C which helps to ward off colds
                    and in the synthesis of collagen in the body.. Pineapples are also good sources of copper, vitamin B6,
                    folate, vita...
                  </p>
                  <hr>
                  <h3>Health Benefits Of Fresh Kenyan Pineapples.</h3>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid similarResults noPad text-center">
    <a href="{% url 'articles:list' %}" title="" data-original-title="Contact Us now">
      <ul class="list-unstyled hvr-grow wow fadeInLeft" style="visibility: hidden; animation-name: none;">
        <li>to learn more</li>
        <li>Check Out Our Blog</li>
      </ul>
    </a>
  </div>
</section>