
{% load static %}

<section id="realCustomer" class="defineFloat indexFont">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 realCutomer text-center">
              <p>Are you interested in trading?</p>
              <h2>See Our Trading Portfolio</h2>
            </div>
            <div class="col-md-11 col-sm-12 col-md-offset-1 col-xs-12 realContent">
              <div class="col-sm-6 col-xs-12 noPad rcOuter">
                <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel"> 
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                  <div class="item">
                    <div class="col-sm-12 col-xs-12 noPad rcImage"> <img src="{% static 'home/images/rank1.png' %}" class="img-responsive" alt=""> </div>
                  </div>
                  <div class="item">
                    <div class="col-sm-12 col-xs-12 noPad rcImage"> <img src="{% static 'home/images/rank2.png' %}" class="img-responsive" alt=""> </div>
                  </div>
                  <div class="item">
                    <div class="col-sm-12 col-xs-12 noPad rcImage"> <img src="{% static 'home/images/rank3.png' %}" class="img-responsive" alt=""> </div>
                  </div>
                  <div class="item">
                    <div class="col-sm-12 col-xs-12 noPad rcImage"> <img src="{% static 'home/images/rank4.png' %}" class="img-responsive" alt=""> </div>
                  </div>
                  <div class="item active">
                    <div class="col-sm-12 col-xs-12 noPad rcImage"> <img src="{% static 'home/images/rank5.png' %}" class="img-responsive" alt=""> </div>
                  </div>
                </div>
                </div>
              </div>
              <div class="col-sm-6 col-xs-12 noPad">
                <div id="carousel-example-generic3" class="carousel slide" data-ride="carousel"> 
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item">
                    <div class="col-sm-12 col-xs-12 noPad rcContent">
                      <h4>Arnold Law</h4>
                      <p>Arnold Law is a full-service litigation firm, 
    dealing with business disputes, commercial litigation, personal injury, 
    domestic relations, juvenile law, and criminal defense throughout 
    western and southern Oregon. Our litigation experience, extensive 
    preparation of cases.</p>
                      <hr>
                      <h3>78% Increase in organic Traffic.</h3>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col-sm-12 col-xs-12 noPad rcContent">
                      <h4>Epoxy Plus</h4>
                      <p>They are top quality USA made liquid polymer 
    manufacturing company. EPOXY PLUS LLC products can be used in decorative
     coatings, concrete repair compounds and a wide range of chip, quartz 
    &amp; broadcast systems giving years of beautiful surface protection.</p>
                      <hr>
                      <h3>95% Increase in organic Traffic.</h3>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col-sm-12 col-xs-12 noPad rcContent">
                      <h4>Fisherton Dental Care </h4>
                      <p>FishertonDentalCare are established dental practice
     in the city of Salisbury. Their services includes Teeth Whitening, 
    Cosmetic Bonding, Porcelain Crowns &amp; Veneers and many more. So if 
    you are looking for a Dentist in Salisbury, lookno further.</p>
                      <hr>
                      <h3>100% Increase organic Keyword Presence.</h3>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col-sm-12 col-xs-12 noPad rcContent">
                      <h4>Med Crave</h4>
                      <p>MedCrave are dedicated to make original valuable 
    scientific content available freely to the global population. They are 
    amazed by science and its wonderful forms and we now bring this beauty 
    to you too. MedCrave is a collection of many essays, research content 
    etc. </p>
                      <hr>
                      <h3>31% Increase in organic Traffic after SEO.</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <div class="col-sm-12 col-xs-12 noPad rcContent">
                      <h4>Toronto Senior Care</h4>
                      <p>Toronto Senior Care was established in Toronto in 
    2006 and has continued to develop its excellent range of senior home 
    care services to meet the needs of all seniors who need more support in 
    order to live fulfilling and safe lives each day.</p>
                      <hr>
                      <h3>29% Increase in traffic for primary keywords.</h3>
                    </div>
                  </div>
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid similarResults noPad text-center"> <a href="{% url 'articles:list' %}" title="" data-original-title="Contact Us now">
          <ul class="list-unstyled hvr-grow wow fadeInLeft" style="visibility: hidden; animation-name: none;">
            <li>to learn more</li>
            <li>Check Out Our Blog</li>
          </ul>
          </a> </div>
      </section>