 {% extends 'home/base.html' %} {% load static %}

<body class="ormPage">
  {% block nav %}{% include 'home/nav-section.html' %}{% endblock nav %} {% block exports %}


  <section id="sliderInner" class="defineFloat commonHeight">
    <img src="{% static 'home/images/ormSlide.png' %}" class="img-responsive" alt="" />
    <div class="slideContent col-sm-12 col-xs-12 servicesButton">
      <h2>OUR LOGISTICS SOLUTIONS</h2>
      <p>Strengthen your Online Credibility & Brand Recognition. Take Control of Your Brand Image!</p>
      <div class="defineFloat text-center businessButton">
        <button type="button" class="btn btn-primary whiteButton hvr-grow popUpFormThree">Grab Your FREE Brand Audit Report</button>
      </div>
    </div>
  </section>
 
  <section class="defineFloat" id="onlinePresence">
    <div class="container">
      <div class="row wow fadeIn">
        <div class="col-sm-12 col-xs-12 text-center opHeading">
          <h2>“Maintaining a squeaky-clean online presence should be high on your to-do list” - Forbes.com</h2>
          <p>Infact, not just Forbes, but many other reputed Business Magazines around the world agree that maintaining a clean
            & credible online image is highly important for all businesses today. However, achieving this in reality is no
            less than a CHALLENGE!</p>
        </div>
      </div>
    </div>
  </section>
  <section id="BEF" class="defineFloat">
    <div class="defineFloat BEF ORM">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 businessInner text-center wow fadeIn">
            <h2>DO YOU KNOW HOW YOUR BRAND LOOKS ONLINE?</h2>
            <p>What comes up when someone searches for you online? Not sure? Click the button below to fill in your details
              & we shall get back to you with a Detailed Assessment of your Online Reputation.</p>
          </div>
          <div class="defineFloat divide text-center wow fadeIn">
            <hr>
          </div>

          <div class="defineFloat text-center businessButton wow zoomIn">
            <button id="popUpFormThree" type="button" class="btn btn-primary yellowButton hvr-grow popUpFormThree simpleBounce">Get Your Audit Report Now. It’s Free!</button>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section class="defineFloat" id="ormSolution">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12 osLeft">
          <h2 class="wow fadeIn">SOLUTIONS THAT DRIVE RESULTS.</h2>
          <label class="wow fadeIn">We improve your online reputation and create new opportunities for your business.</label>
          <p class="wow fadeIn">We have a team of experienced writers and search engine optimization experts that collectively works to improve
            and protect your personal and your brand’s reputation. Additionally, all our campaigns are designed to give you
            better visibility on the Internet.</p>
          <p class="wow fadeIn">Whether you have negative reviews, misleading comments or undesirable words in search query autocomplete suggestions,
            we can help by utilizing one or more of the following as a part of our ORM campaigns:</p>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12 osRight text-center">
          <div class="col-sm-6 col-xs-6 osInner wow fadeIn">
            <div class="osImage">
              <img src="{% static 'home/images/os1.png' %}" class="img-responsive" alt="" /> </div>
            <h2>Online Brand Audit</h2>
            <p>Identifying unfavorable search results of your brand and prioritizing restoration actions accordingly.</p>
          </div>
          <div class="col-sm-6 col-xs-6 osInner wow fadeIn">
            <div class="osImage">
              <img src="{% static 'home/images/os2.png' %}" class="img-responsive" alt="" /> </div>
            <h2>Social Network Analysis</h2>
            <p>Analyzing social media conversations about your brand and converting the negatives into positive.</p>
          </div>
          <div class="col-sm-6 col-xs-6 osInner wow fadeIn">
            <div class="osImage">
              <img src="{% static 'home/images/os3.png' %}" class="img-responsive" alt="" /> </div>
            <h2>Content Development & Promotion</h2>
            <p>Writing and publishing positive content about your brand on high authority sites and blogs.</p>
          </div>
          <div class="col-sm-6 col-xs-6 osInner wow fadeIn">
            <div class="osImage">
              <img src="{% static 'home/images/os4.png' %}" class="img-responsive" alt="" /> </div>
            <h2>Online Reviews and Forums</h2>
            <p>Obtaining positive customer reviews on relevant sites and forums, and suppressing negative results.</p>
          </div>
          <div class="col-sm-6 col-xs-6 osInner wow fadeIn">
            <div class="osImage">
              <img src="{% static 'home/images/os5.png' %}" class="img-responsive" alt="" /> </div>
            <h2>Search Engine Optimization</h2>
            <p>Promoting positive content for your brand onto the first page of Google and other search engines.</p>
          </div>
          <div class="col-sm-6 col-xs-6 osInner wow fadeIn">
            <div class="osImage">
              <img src="{% static 'home/images/os6.png' %}" class="img-responsive" alt="" /> </div>
            <h2>Social Media Participation</h2>
            <p>Addressing concerns of your audience on social media channels and building trust among users.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-xs-12 text-center osBelow">
          <div class="defineFloat osBelowBg">
            <h2 class="wow fadeIn">Want a clean Online Reputation?</h2>
            <span class="wow fadeIn">Get your FREE Proposal on how we can help you with that!</span>
          </div>
          <button onclick="location.href='get-started.php'" type="button" class="btn btn-default yellowButton hvr-grow wow fadeInUp">Get started Now!</button>
        </div>
      </div>
    </div>
  </section>

{% endblock exports %} 
{% block footer %}{% include 'home/footer-section.html' %}{% endblock footer %}