 {% extends 'home/base.html' %} 
 {% load static %}

<body class="ormPage">
{% block nav %}{% include 'home/nav-section.html' %}{% endblock nav %} 
{% block exports %}


  <section id="sliderInner" class="defineFloat commonHeight">
    <img src="{% static 'home/images/ormSlide.png' %}" class="img-responsive" alt="" />
    <div class="slideContent col-sm-12 col-xs-12 servicesButton">
      <h2>OUR LOGISTICS SOLUTIONS</h2>
      <p>Strengthen your Online Credibility & Brand Recognition. Take Control of Your Brand Image!</p>
      <div class="defineFloat text-center businessButton">
        <button type="button" class="btn btn-primary whiteButton hvr-grow popUpFormThree">talk to our experts</button>
      </div>
    </div>
  </section>
 
  <section class="defineFloat" id="onlinePresence">
    <div class="container">
      <div class="row wow fadeIn">
        <div class="col-sm-12 col-xs-12 text-center opHeading">
          <h2>
             “The line between disorder and order lies in logistics…”<br> – Sun Tzu
          </h2>
        </div>
      </div>
    </div>
  </section>
  <section id="BEF" class="defineFloat">
    <div class="defineFloat BEF ORM">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 businessInner text-center wow fadeIn">
            <h2>ARE YOU STRUGLING MANAGING YOUR LOGISTICS?</h2>
            <p>
              We are here to help. We know managing your own logistics can be a real strugle with the right experts it can be a breeze
            </p>
          </div>
          <div class="defineFloat divide text-center wow fadeIn">
            <hr>
          </div>

          <div class="defineFloat text-center businessButton wow zoomIn">
            <button id="popUpFormThree" type="button" class="btn btn-primary yellowButton hvr-grow popUpFormThree simpleBounce">reach out for help</button>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section class="defineFloat" id="ormSolution">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12 osLeft">
          <h2 class="wow fadeIn">Our Logistics Department</h2>
          <label class="wow fadeIn">How do you Benefits from our Logistics services?</label>
          <p class="wow fadeIn">
             As a business owner, you may be well aware of the economic value of outsourcing your company’s supply chain management to
            a third party logistics provider. However, if you have yet to consider a 3PL provider for one reason or another, now may
            be the time to reevaluate.
          </p>
          <p class="wow fadeIn">
             Value-added 3PL services offer an array of advantages that many companies are becoming privy to resulting in strong and
            continued growth in the third party logistics sector. Still unsure? Check out these 10 Benefits to Outsourcing your Company’s
            Logistical Services:
          </p>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12 osRight text-center">
          <div class="col-sm-6 col-xs-6 osInner wow fadeIn">
            <div class="osImage">
              <img src="{% static 'home/images/os1.png' %}" class="img-responsive" alt="" /> </div>
            <h2>Time Saving</h2>
            <p>
               Outsourcing cannot only save you money in the long run but it will also save you something of equal value – you’re time.
              Relieving yourself and your employees of the burden of daily logistical tasks allows for you to spend more time on growing
              your business.
            </p>
          </div>
          <div class="col-sm-6 col-xs-6 osInner wow fadeIn">
            <div class="osImage">
              <img src="{% static 'home/images/os2.png' %}" class="img-responsive" alt="" /> </div>
            <h2>Cost Efficiency</h2>
            <p>
               Don’t saddle your business with the cost and hassle of establishing your logistical needs when a 3PL services will provide
              you with warehouse space, technology, and transportation for you.
            </p>
          </div>
          <div class="col-sm-6 col-xs-6 osInner wow fadeIn">
            <div class="osImage">
              <img src="{% static 'home/images/os3.png' %}" class="img-responsive" alt="" /> </div>
            <h2>Accountability</h2>
            <p>
               Putting an aspect of your company into someone else’s hands isn’t easy. A good 3PL service provider will take responsibility
              for your business and be held accountable to your standards.
            </p>
          </div>
          <div class="col-sm-6 col-xs-6 osInner wow fadeIn">
            <div class="osImage">
              <img src="{% static 'home/images/os4.png' %}" class="img-responsive" alt="" /> </div>
            <h2>Innovation</h2>
            <p>
               Much like you are an expert if your scope of business, 3PL providers are an expert in theirs. A provider has the ability
              to work with you and apply their knowledge to enhance and improve your bottom line in an innovative way.
            </p>
          </div>
          <div class="col-sm-6 col-xs-6 osInner wow fadeIn">
            <div class="osImage">
              <img src="{% static 'home/images/os5.png' %}" class="img-responsive" alt="" /> </div>
            <h2>Expertise</h2>
            <p>
               Most 3PL providers are passionate about what they do. As a result, they will integrate their level of expertise with your
              business practices to ensure the best customer service experience possible.
            </p>
          </div>
          <div class="col-sm-6 col-xs-6 osInner wow fadeIn">
            <div class="osImage">
              <img src="{% static 'home/images/os6.png' %}" class="img-responsive" alt="" /> </div>
            <h2>Adjustable</h2>
            <p>
               As a 3PL provider owns the warehouse space and transportation, they also have the ability to increase all your logistical
              needs as your business grows. Also if your company offers a seasonal product or sales are cyclical, a good 3PL provider will
              adjust your needs accordingly.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-xs-12 text-center osBelow">
          <div class="defineFloat osBelowBg">
            <h2 class="wow fadeIn">Need help with your logistics?</h2>
            <span class="wow fadeIn">We do have solutions that are tailor made for you!</span>
          </div>
          <button href="{% url 'contact' %}" type="button" class="btn btn-default yellowButton hvr-grow wow fadeInUp">get in touch!</button>
        </div>
      </div>
    </div>
  </section>

{% endblock exports %} 
{% block footer %}{% include 'home/footer-section.html' %}{% endblock footer %}