
<body class="home preload preLoaderBlock">

<div class="test testHidden "><div class="preloader"><img src="images/sei-loader.png" class="" alt="" /></div></div>

	<div class="defineFloat mobStickyBar">
		<ul class="list-unstyled">
			<li class="sPhone"><a href="tel:+1-646-808-0229"></a></li>
			<li class="sMail"><span class="salesEmail"></span></li>
			<li class="sCal"><a data-toggle="modal" data-target="#myModal" title="Online Cost Calculator" href="javascript:void(0);"></a></li>
		</ul>
	</div>
	<p id="back-top" style="display: block;"><a href="#top"><img src="images/toparrow.png" alt="" class="img-responsive" /></a></p>

<section class="defineFloat" id="onlineCostPop">
<!-- POP UP ONLINE COST -->
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog uncompeletOuterBox" role="document">
		<div class="modal-content">
      
			<button type="button" class="close exitBtn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="images/exit-arrow.png" class="img-responsive" alt="" /></span></button>

			<div class="modal-body">
				<div class="col-sm-12 col-xs-12 noPad onlineCostLeftOuterOut uncompeletBox">
					<div class="pupUptext">
						<h5>We are upgrading our Online Cost Calculator with more features and it shall be back soon. In the meantime, you can <a href="get-a-quote.php">Get a Quote</a> here.</h5>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>
<!-- POP UP ONLINE COST END -->
</section>

<!-- popUp -->

<section class="defineFloat onlineCostThree" id="onlineCostThree"> 
  
  <!-- Modal -->
  <div class="modal fade stepFormSection" id="myModal1" tabindex="-1" role="dialog"> 
    <div class="modal-dialog stepformSection" role="document">
      <div class="modal-content closeBtn">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="images/close-btn.png" alt="Close Button" /></span></button>
        <div class="modal-body">
          <div class="col-sm-12 col-xs-12 text-center onlineForm changeBackground"> 
            <!-- multistep form -->
            <div  class="onlineFormInner defineFloat boxWidth customPosition">
              <form class="regform" method ="get">
                <!-- progressbar -->
                <div class="fixProgress defineFloat customPosition">
                  <div id="progressBar" class="customPosition">
                    <!-- <h6 class="headingActive hide" id="stepcnt2" value="1">Step 1</h6> -->
					<h6 class="headingActive hide" id="stepcnt2" >Step 1</h6>
                  </div>
                  <ul class="list-unstyled lineWidth customPosition fulllineWidth hide">
                    <li class="active"><span></span></li>
                    <li><span></span></li>
                    <li><span></span></li>
                    <li><span></span></li>
                    <li><span></span></li>
                  </ul>
                </div>
                <!-- fieldsets -->
                
                <fieldset id="first">
                  <div class="fieldsetInner customWidth topPadding">
                    <div class="col-sm-12 col-xs-12 noPad text-center onlineCostLeftOuterFirst customPositionTitle">
                      <h2>Get a FREE Audit of your Website</h2>
                      <div class="descriptionPopup">We’ll provide you with detailed metrics &amp; statistics to help you take the right decisions.</div>
                      <div class="defineFloat divide text-center">
                        <hr>
                      </div>
                    </div>				
						<div class="poupMail fieldsetInner customWidth">
						  <input placeholder="Enter your URL or Domain name." name="email" type="text">					  
						</div>
						<input type="button" name="next" class="next_btn nextbtn" value="Next" /><span class="frwArrow"></span> 					
                  </div>
                </fieldset>
                <fieldset>
                  <div class="fieldsetInner customWidth topPadding innerFieldSet">
                    <div class="col-sm-12 col-xs-12 noPad text-center onlineCostLeftOuterFirst customPositionTitle">
                      <h2 class="title">Please fill in the details and we shall send you the report once ready:</h2>
                      <div class="defineFloat divide text-center">
                        <hr>
                      </div>
                    </div>
                    <div class="fieldsetInner customWidthAdd">
                      <div class="fullForm">
                        <div class="popupField">
                          <input placeholder="Name" name="email" type="text">
                        </div>
                        <div class="popupField">
                          <input placeholder="Email" name="email" type="text">
                        </div>
                        <div class="popupField">
                          <input placeholder="Phone Number" name="email" type="text">
                        </div>
                        <div class="popupField">
                          <select>
                            <option value="SC">Select Services</option>                            
                            <option value="VIR">Search Engine Optimization</option>
                            <option value="WLF">Pay Per Click Management</option>
                            <option value="ESH">Online Reputation Management</option>
                            <option value="YEM">Link Building</option>
                            <option value="ZMB">Social Media Marketing</option>
                            <option value="ZWE">Content Development</option>
                          </select>
                        </div>
                      </div>
                    </div>
					<div class="emailField popupField fieldsetInner customWidthAdd">
						<input placeholder="www.dummyaddress.com" name="email" type="text">						
					</div>
					<div class="emailField popupField fieldsetInner customWidthAdd">
						<textarea placeholder="Massage" name="Massage"></textarea>						
					</div>			
					
                  </div>
					<div class="emailField customWidthAdd auditPadlaft">
						<div class="capchaCode popupField">
							<input placeholder="Capthca 10 + 1 =" name="Captcha" type="text">					
						</div>
						<div class="submitBtn popupField">
							<a class="next_btn freeAuditBtn" >Submit <span class="nxtArrow"></span></a>
						</div>
					</div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- POP UP ONLINE COST END --> 
</section>



<!-- end popUp -->



<header class="defineFloat nav-down">
  <div class="defineFloat topBar">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 renoPad">
          <ul class="list-unstyled">
            <li><span>Have a question? Contact Us.</span><a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> +1 (646)-808-0229</a></li>
            <li><span class="salesEmail"></span></li>
          </ul>
        </div>
      </div>
    </div>
</div>
  <div class="defineFloat midBar">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6 logo"> <a href=""><img src="images/logo.png" class="img-responsive" alt="" title="SEO Experts India" /></a> </div>
        <div class="col-sm-9 col-md-9 col-xs-12 menu_outer">
          <nav class="navbar navbar-default"> 
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
			<img src="images/mobCalcIcon.png" class="img-responsive" alt="" data-toggle="modal" data-target="#myModal" />
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav" id="example-one">
                <li class="active current_page_item"><a href="">Home</a></li>
                <li class=""><a href="about-us.php" title="About">About</a></li>
                <li class=" dropmenu "><a href="digital-marketing-services.php" title="">Services</a><span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                  <ul class="dropdown-menu"> 
                    <li class=""><a href="seo-services.php" title="seo-services">Search Engine Optimization</a></li>
                    <li class=""><a href="ppc-management-services.php" title="Pay Per Click Management ">PPC  Management </a></li>
                    <li class=""><a href="online-reputation-management.php" title="Online Reputation Management">Online Reputation Management</a></li>
                    <li class=" "><a href="link-building-services.php">Link Building</a></li>
                    <li class=""><a href="social-media-marketing.php" title="Social Media Marketing">Social Media Marketing</a></li>
                    <li class="submenulist "><a href="content-writing-services.php" title="Content Development">Content Development</a>
                    </li>  
                  </ul>
                </li>
                <li class=""><a href="ranking.php" title="Rankings">Rankings</a></li>
                <li class=""><a href="seo-packages.php">Packages</a></li>
								<li class=""><a href="reviews.php" title="Reviews">Reviews</a></li>
                <li class=""><a href="get-in-touch.php"  title="Contact">Contact</a></li>
                <li class="lastChild">
                	<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
						<rect rx="2" ry="2" class="shape" height="100%" width="100%"/>
					  </svg>
                	<a data-toggle="modal" data-target="#myModal" title="Online Cost Calculator"><span>Online Cost</span><br/>
                  Calculator</a>
               </li>
              </ul>
			  <div class="defineFloat mobPhone">
				<ul class="list-unstyled">
					<li><a href="tel:+1-646-808-0229"><img src="images/phonePop.png" class="img-responsive" alt="" />+1 (646)-808-0229</a></li>
					<li><a href="javascript:void(0);"><img src="images/mailPop.png" class="img-responsive" alt=""><span class="salesEmail"></span></a></li>
				</ul>
			  </div>
            </div>
            <!-- /.navbar-collapse --> 
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>


<div class="home">
  <section id="slider" class="defineFloat indexBanner">
  
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active"> <img src="images/slider.jpg" alt="...">
        <div class="homeBannerExt wow onloadEffect" > <span>High Performance</span>
          <h2>Internet Marketing Solutions</h2>
          <p>We help brands optimize their online performance.</p>
          <div class="slideButton"> <a href="javascript:void(0);" id="jQueryButtons1" class="btn btn-primary blue">Our Services</a> <a href="#" class="btn btn-primary yellow">Get in touch</a> </div>
        </div>
        <div class="scroll"><a href="#who"><span></span></a></div>
      </div>
    </div>
    </div>
  </section>
  <section class="defineFloat" id="online">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12 ormReputation"> <h5> SEO Expert India, India SEO, SEO Experts, Best SEO India</h5> </div>
      </div>
    </div>
  </section>
  
  <section id="who" class="defineFloat" >
    <div class="container" >    
	  
		<div class="row" >
	  
        <div class="col-sm-12 col-xs-12 noPad" >
          <div class="col-md-3 col-sm-3 col-sm-offset-1 col-xs-12 whoLeft wow fadeInUp">
            <hr>
            <h2>Who We Are</h2>
          </div>
          <div class="col-md-7 col-sm-8 col-xs-12 whoRight wow fadeInUp">
            <p>We are an <span>Award Winning Digital Marketing Company</span> with a mission to put your business in front of ready-to-buy customers.</p>
            <hr>
            <div class="defineFloat whoInner">
              <p>With extensive industry experience and customer-centric approach, we ensure your brand, website and marketing campaigns perform exceptionally, every time. We are an experienced team of professionals that stands at the forefront of all emerging trends in digital marketing. Understanding that every business has a different set of challenges and unique requirements, we deliver custom Internet Marketing Solutions that meet their specific needs. Together, we help diverse industry clients to stay ahead of their competition.</p>
            </div>
			
            <div class="defineFloat whoLinks"> <a href="about-us.php"  title="Know more about us"><span>Know more about us</span><img src="images/rightArrow.png" alt="" class="img-responsive" /></a> <a href="#company" id="jQueryButtons2" title="What makes us different? "><span>What makes us different?</span> <img src="images/rightArrow.png" alt="" class="img-responsive" /></a></div>
          </div>
        </div>
      </div>
    </div>
	
  </section>
  <section id="BEF" class="defineFloat">
    <div class="defineFloat">
      <div class="container">
        <div class="row wow fadeInUp">
          <div class="col-md-12 col-sm-12 col-xs-12 businessInner text-center">
            <h2>Is Your Business Easily Found Online?</h2>
            <p>Let's Find Out! Click the button below & we shall get back to you with a Detailed SEO Audit of your Website.</p>
          </div>
          <div class="defineFloat divide text-center wow fadeIn">
            <hr>
          </div>
          <div class="defineFloat text-center businessButton wow zoomIn"> 
		  <a class="popUpFormThree btn btn-primary yellowButton hvr-grow getAudit" id="auditbtn">Get Your FREE AUDIT REPORT Now!</a> </div>
          <div class="defineFloat text-center businessLink"><a href="javascript:void(0);">Have a question? <span>Call us on +1 (646) 808 0229</span></a></div>

        </div>
      </div>
    </div>
  </section>
  <section id="marketing" class="defineFloat">
    <div class="container">
      <div class="row wow fadeIn">
        <div class="col-md-12 col-sm-12 col-xs-12 marketingHeading text-center">
          <p>Internet Marketing Services</p>
          <h2>That Deliver Real World Results! </h2>
          <div class="defineFloat borderAround text-center"><span>We are a one-stop-shop for <span>all your SEO & Internet Marketing Needs.</span></span></div>
        </div>
      </div>
    </div>
    <div class="container-fluid wrap-container">
      <div class="col-md-12 col-sm-12 col-xs-12 marketingKHM">
        <div class="col-md-4 col-sm-4 col-xs-6 khmInner text-center wow fadeIn"> <a href="seo-services.php">
          <div class="defineFloat">
            <div class="col-sm-12 col-xs-12 text-center">
              <div class="autoHover m1"><!--<img src="images/m1.png" class="img-responsive" alt="" />--></div>
            </div>
            <h2>Search Engine<span>Optimization</span></h2>
            <p>Drive greater traffic to your website through organic search listings. Bring your website to the top of search engine result pages with our proven SEO strategies.</p>
          </div>
          </a> </div>
        <div class="col-md-4 col-sm-4 col-xs-6 khmInner text-center wow fadeIn"> <a href="ppc-management-services.php">
          <div class="defineFloat">
            <div class="col-sm-12 col-xs-12 text-center">
              <div class="autoHover m2"><!--<img src="images/m2.png" class="img-responsive" alt="" />--></div>
            </div>
            <h2>PAy per click<span>MANAGEMENT</span></h2>
            <p>Reduce ad costs and increase conversions with our fully managed PPC campaigns. Drive optimized and targeted traffic to your site with PPC advertising.</p>
          </div>
          </a> </div>
        <div class="col-md-4 col-sm-4 col-xs-6 khmInner text-center wow fadeIn" > <a href="online-reputation-management.php">
          <div class="defineFloat">
            <div class="col-sm-12 col-xs-12 text-center">
              <div class="autoHover m3"><!--<img src="images/m3.png" class="img-responsive" alt="" />--></div>
            </div>
            <h2>Online reputation<span>management</span></h2>
            <p>Establish your brand’s reputation as an industry leader. We suppress negative results about your company and prevent future ones from appearing.</p>
          </div>
          </a> </div>
        <div class="col-md-4 col-sm-4 col-xs-6 khmInner text-center borderBottom wow fadeIn" > <a href="link-building-services.php">
          <div class="defineFloat">
            <div class="col-sm-12 col-xs-12 text-center">
              <div class="autoHover m4"><!--<img src="images/m4.png" class="img-responsive" alt="" />--></div>
            </div>
            <h2>link<span>Building</span></h2>
            <p>Promoting contextual, high quality links that drive traffic and improve rankings. We help your brand be recognized as an authority in your industry.</p>
          </div>
          </a> </div>
        <div class="col-md-4 col-sm-4 col-xs-6 khmInner text-center borderBottom wow fadeIn" > <a href="social-media-marketing.php">
          <div class="defineFloat">
            <div class="col-sm-12 col-xs-12 text-center">
              <div class="autoHover m5"><!--<img src="images/m5.png" class="img-responsive" alt="" />--></div>
            </div>
            <h2>SociAL Media<span>mARKETING</span></h2>
            <p>Engage with your current customers and reach new prospects with social media marketing. We help you build better relationships with your audience.</p>
          </div>
          </a> </div>
        <div class="col-md-4 col-sm-4 col-xs-6 khmInner text-center borderBottom wow fadeIn" > <a href="content-writing-services.php">
          <div class="defineFloat">
            <div class="col-sm-12 col-xs-12 text-center">
              <div class="autoHover m6"><!--<img src="images/m6.png" class="img-responsive" alt="" />--></div>
            </div>
            <div class="lastHover">
              <h2>content<span>DEVELOPMENT</span></h2>
            </div>
            <p>Develop and promote high quality, original content that is worth sharing. We help you connect with your target audience and improve your site rankings.</p>
          </div>
          </a> </div>
      </div>
    </div>
  </section>
  <section class="defineFloat" id="mark">
    <div class="container">
	
	
      <div class="row wow fadeInUp" >
        <div class="col-sm-12 col-xs-12 text-center bounce"> <a href="javascript:void(0)"><img src="images/belowArrow.png" class="img-responsive" alt="" /></a> </div>
        <div class="col-md-12 col-sm-12 col-xs-12 moreSales text-center">
          <h2>Want more Sales?</h2>
          <p>Get your <a href="request-for-proposal.php">FREE Proposal</a> on how we can help you with that!</p>
          <div class="defineFloat divideImage text-center wow zoomIn"> <img src="images/divideImage.png" class="img-responsive" alt="" /> </div>
          <a href="get-started.php" class="btn btn-primary blueButton hvr-grow" id="getstartbtn">Get started Now!</a> <span><a href="javascript:void(0);">Call us on +1 (646) 808 0229</a></span></div>
      </div>
    </div>
  </section>
  <section class="defineFloat outsource text-center">
    <div class="container demo">
      <div class="panel-group" id="accordion" >
        <div class="panel panel-default">
          <div class="panel-heading" id="headingOne">
            <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> <i class="fa fa-plus"></i>Why Outsource SEO Services to India? </a> </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate neque non leo gravida, non feugiat lorem sodales. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse eget euismod nunc. Praesent lacinia sem tempor, efficitur nisi quis, hendrerit felis. Vivamus condimentum sollicitudin risus eu mollis. </div>
          </div>
        </div>
      </div>
      <!-- panel-group --> 
      
    </div>
    <!-- container --> 
  </section>
  <section id="company" class="defineFloat">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 companyHeading text-center wow fadeIn" >
          <p>THE SEO COMPANY</p>
          <h2>that makes a Difference!</h2>
          <span>There are reasons why you should choose us for your next Internet Marketing Project.</span> </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-xs-12 col-md-4 companyKhm blue text-center"> 
          <div class="cKhm col-sm-12 col-xs-6 noPad wow fadeIn">
            <div class="col-md-12 col-sm-12 col-xs-12 KHM-2" id="1">
              <div class="col-sm-12 col-xs-12 KHM-2-mobImage"><img src="images/seven.png" class="img-responsive" alt="" /></div>
              <h3>More than 7 Years <span>of Experience</span><i class="fa fa-plus" aria-hidden="true"></i></h3>
              <p id="i_1">We have acquired unmatched technical expertise and developed proven methodologies for delivering projects of any size and complexity.</p>
            </div>
          </div>
          <div class="cKhm col-sm-12 col-xs-6 noPad wow fadeIn">
            <div class="col-md-12 col-sm-12 col-xs-12 KHM-2" id="2">
              <div class="col-sm-12 col-xs-12 KHM-2-mobImage"><img src="images/nineEight.png" class="img-responsive" alt="" /></div>
              <h3>98% Customer <span>Satisfaction</span><i class="fa fa-plus" aria-hidden="true"></i></h3>
              <p id="i_2">We have delivered over 800 successful projects to 350+ clients. We feel proud when they keep coming back to us for more services.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 col-md-4 companyKhm orange text-center">
          <div class="cKhm col-sm-12 col-xs-6 noPad wow fadeIn">
            <div class="col-md-12 col-sm-12 col-xs-12 KHM-2" id="3">
              <div class="col-sm-12 col-xs-12 KHM-2-mobImage"><img src="images/team.png" class="img-responsive" alt="" /></div>
              <h3>Skilled Team<span> We know what Google wants!</span><i class="fa fa-plus" aria-hidden="true"></i></h3>
              <p id="i_3">We have a team of 150+ highly trained and experienced professionals that is well-versed with the SEO Tactics required for high rankings.</p>
            </div>
          </div>
          <div class="cKhm col-sm-12 col-xs-6 noPad wow fadeIn">
            <div class="col-md-12 col-sm-12 col-xs-12 KHM-2" id="4">
              <div class="col-sm-12 col-xs-12 KHM-2-mobImage"><img src="images/tick-new.png" class="img-responsive" alt="" /></div>
              <h3>Proven Results<i class="fa fa-plus" aria-hidden="true"></i></h3>
              <p id="i_4">With our customer-centric approach and proven methodologies, we have helped hundreds of businesses optimize their online performance.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 col-md-4 companyKhm silver text-center">
          <div class="cKhm col-sm-12 col-xs-6 noPad wow fadeIn">
            <div class="col-md-12 col-sm-12 col-xs-12 KHM-2" id="5">
              <div class="col-sm-12 col-xs-12 KHM-2-mobImage"><img src="images/share.png" class="img-responsive" alt="" /></div>
              <h3>Performance<span> Tracking</span><i class="fa fa-plus" aria-hidden="true"></i></h3>
              <p id="i_5"> Through our regular updates and monthly reports, our clients can easily monitor the progress of their campaigns and seek changes if required.</p>
            </div>
          </div>
          <div class="cKhm col-sm-12 col-xs-6 noPad wow fadeIn">
            <div class="col-md-12 col-sm-12 col-xs-12 KHM-2" id="6">
              <div class="col-sm-12 col-xs-12 KHM-2-mobImage"><img src="images/dollarStar.png" class="img-responsive" alt="" /></div>
              <h3>Competitive <span>Pricing</span><i class="fa fa-plus" aria-hidden="true"></i></h3>
              <p id="i_6"> We aim at delivering maximum value to our customers from their investments with our flexible engagement model.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row wow fadeInUp" >
        <div class="col-sm-12 col-xs-12">
          <div class="defineFloat divideImage text-center wow zoomIn"> <img src="images/divideImage4.png" class="img-responsive" alt="" /> </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 achieved text-center">
          <h2>What <span>we've achieved</span> in the last <span>5 Years</span></h2>
        </div>
        <div class="col-sm-12 col-xs-12 noPad">
		
		
          <div class="col-md-3 col-sm-3 col-xs-3 achievedKHM text-center">
            <h2>
              <label class="homecount">800</label>
			  
              <span>+</span></h2>
            <p>Successful Projects/Campaigns</p>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3 achievedKHM text-center">
            <h2>
              <label class="homecount">350</label>
              <span>+</span></h2>
            <p> Satisfied Customers</p>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3 achievedKHM text-center">
            <h2>
              <label class="homecount">2500</label>
              <span>+</span></h2>
            <p>Page #1 Rankings</p>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3 achievedKHM text-center">
            <h2>
              <label class="homecount">10</label>
              <span>X</span></h2>
            <p>Growth in the last 5 Years</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-xs-12 superCharge text-center">
          <div class="defineFloat scInner">
            <h2>Supercharge Your SEO Campaign Today!</h2>
            <p>Get Free Consultation from our Internet Marketing Experts!</p>
          </div>          
          <button onclick="return lh_inst.lh_openchatWindow()" class="btn btn-primary yellowButton hvr-grow" type="button">CHAT Live NOW! <span><img src="images/chat-box.png" class="img-responsive" alt="" /></span></button>
         </div>
      </div>
    </div>
  </section>
  <section id="realCustomer" class="defineFloat indexFont">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 realCutomer text-center">
          <p>But don't take our Word for it!</p>
          <h2>See Real Customer Rankings</h2>
        </div>
        <div class="col-md-11 col-sm-12 col-md-offset-1 col-xs-12 realContent">
          <div class="col-sm-6 col-xs-12 noPad rcOuter">
            <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel"> 
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="col-sm-12 col-xs-12 noPad rcImage"> <img src="images/rank1.png" class="img-responsive" alt=""> </div>
              </div>
              <div class="item">
                <div class="col-sm-12 col-xs-12 noPad rcImage"> <img src="images/rank2.png" class="img-responsive" alt=""> </div>
              </div>
              <div class="item">
                <div class="col-sm-12 col-xs-12 noPad rcImage"> <img src="images/rank3.png" class="img-responsive" alt=""> </div>
              </div>
			  <div class="item">
                <div class="col-sm-12 col-xs-12 noPad rcImage"> <img src="images/rank4.png" class="img-responsive" alt=""> </div>
              </div>
			  <div class="item">
                <div class="col-sm-12 col-xs-12 noPad rcImage"> <img src="images/rank5.png" class="img-responsive" alt=""> </div>
              </div>
            </div>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12 noPad">
            <div id="carousel-example-generic3" class="carousel slide" data-ride="carousel"> 
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                <div class="col-sm-12 col-xs-12 noPad rcContent">
                  <h4>Arnold Law</h4>
                  <p>Arnold Law is a full-service litigation firm, dealing with business disputes, commercial litigation, personal injury, domestic relations, juvenile law, and criminal defense throughout western and southern Oregon. Our litigation experience, extensive preparation of cases.</p>
                  <hr>
                  <h3>78% Increase in organic Traffic.</h3>
                </div>
              </div>
              <div class="item">
                <div class="col-sm-12 col-xs-12 noPad rcContent">
                  <h4>Epoxy Plus</h4>
                  <p>They are top quality USA made liquid polymer manufacturing company. EPOXY PLUS LLC products can be used in decorative coatings, concrete repair compounds and a wide range of chip, quartz & broadcast systems giving years of beautiful surface protection.</p>
                  <hr>
                  <h3>95% Increase in organic Traffic.</h3>
                </div>
              </div>
              <div class="item">
                <div class="col-sm-12 col-xs-12 noPad rcContent">
                  <h4>Fisherton Dental Care </h4>
                  <p>FishertonDentalCare are established dental practice in the city of Salisbury. Their services includes Teeth Whitening, Cosmetic Bonding, Porcelain Crowns & Veneers and many more. So if you are looking for a Dentist in Salisbury, lookno further.</p>
                  <hr>
                  <h3>100% Increase organic Keyword Presence.</h3>
                </div>
              </div>
			  <div class="item">
                <div class="col-sm-12 col-xs-12 noPad rcContent">
                  <h4>Med Crave</h4>
                  <p>MedCrave are dedicated to make original valuable scientific content available freely to the global population. They are amazed by science and its wonderful forms and we now bring this beauty to you too. MedCrave is a collection of many essays, research content etc. </p>
                  <hr>
                  <h3>31% Increase in organic Traffic after SEO.</h3>
                </div>
              </div>
			  <div class="item">
                <div class="col-sm-12 col-xs-12 noPad rcContent">
                  <h4>Toronto Senior Care</h4>
                  <p>Toronto Senior Care was established in Toronto in 2006 and has continued to develop its excellent range of senior home care services to meet the needs of all seniors who need more support in order to live fulfilling and safe lives each day.</p>
                  <hr>
                  <h3>29% Increase in traffic for primary keywords.</h3>
                </div>
              </div>
				
              </div>
			  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid similarResults noPad text-center"> <a href="#" title="Contact Us now">
      <ul class="list-unstyled hvr-grow wow fadeInLeft" >
        <!-- <li><a href="javascript:void(0);" title="Want Similar Results?">Want Similar Results?</a></li> -->
        <li>Want Similar Results?</li>
        <li>Contact Us now</li>
      </ul>
      </a> </div>
  </section>
  <section id="testimonial" class="defineFloat">
    <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12 testOuter wow fadeInUp">
        <h2>Still Not Convinced?</h2>
		
        <div class="defineFloat bxslider">
		<!-- part 1 -->
          <div class="col-sm-12 col-xs-12 testContent text-center noPad">
            <div class="defineFloat borderTest"><span>Find out what our Customers say about Our Services</span></div>
            <p>The major factors that lead me straight into the path of SEOExperts India were their own Google ranking and the competitive price they were offering. To top it off , their process was very good and efficient with prompt service and I’m getting good rankings in Google for my site. The team is very professional and have an excellent skillset. Overall, the quality of service and the cost was very good and if I were to recommend their service to anyone, I would describe them to expect excellent service.</p>
            <h3>- Neeraj Parson, www.fishertondentalcare.co.uk</h3>
          </div>
		<!-- part 2 -->
          <div class="col-sm-12 col-xs-12 testContent text-center noPad">
            <div class="defineFloat borderTest"><span>Find out what our Customers say about Our Services</span></div>
            <p>I have been very satisfied with the service and quality of work of SEOExperts. They provided a very high standard of work for a very competitive price. Everything was explained and there were no hidden costs. They were also very easy to communicate with. I would definitely recommend them to anyone seeking a high quality and very reasonably priced service.</p>
            <h3>- Moira Williamson, www.trulymedicalgetaways.com</h3>
          </div>
		<!-- part 3 -->
		  <div class="col-sm-12 col-xs-12 testContent text-center noPad">
            <div class="defineFloat borderTest"><span>Find out what our Customers say about Our Services</span></div>
            <p>I have been reviewing the SEO reports sent to me recently for my business website.I want to tell you that you brought the new website to the first page within just 7 weeks. Before we hired your company, the website was just started and we were sometimes on page three but not any closer to page one. Now we are on page one for several of our keywords. Certainly your team of experts provide a cost effective process for web services and SEO. My thanks to you and your team. </p>
            <h3>- Frank Simonetti, www.fsimonetti.com</h3>
          </div>
		<!-- part 4 --> 
			<div class="col-sm-12 col-xs-12 testContent text-center noPad">
				<div class="defineFloat borderTest"><span>Find out what our Customers say about Our Services</span></div>
				<p>One of the major factors that lead me to SEOExperts India was their top Ranking in search engines for certain terms related to SEO in addition to that the marketing team’s friendly approach gained my interest further to discuss the project. SEO experts have achieved the anticipated results though they have not disclosed the processes involved. I would like to give a good rating for the skills being showcased while commencing the project.</p>
				<h3>Anu Kishan, www.annexmed.com </h3>
			</div>
		<!-- part 5 --> 
			<div class="col-sm-12 col-xs-12 testContent text-center noPad">
				<div class="defineFloat borderTest"><span>Find out what our Customers say about Our Services</span></div>
				<p>I discovered SEOExperts India over the internet & with all the information I found about them, they seemed like a reliable choice. In fact, after looking at the well-defined and organized campaign, the 1st impression I got was that they could deliver results . Moreover the questions they directed at me were directly related to the SEO campaign and their suggestions were accurate. Also their pricing structure was very competitive & the timeframe they provided was spot on!</p>
				<h3>Ross Huntley, www.muscle-science-australia.com </h3>
			</div>  
		  
        </div>
      </div>
    </div>
    </div>
  </section>
  <section id="higherRating" class="defineFloat">
    <div class="container" id="contForm">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 formOuter wow fadeIn" >
          <div class="defineFloat text-center">
            <h2> Don't Wait Any Longer for Higher Rankings.<span> Get Started Today!</span></h2>
            <p>Call us: <a href="javascript:void(0);" title="+1 (646) 808 0229">+1 (646) 808 0229</a>, email us: <span class="salesEmail"></span> OR just fill up the form below. </p>
          </div>
           <form class="contactPageform" id="mainMobileform" method="post">
	 <div class="containermessage"><p></p></div>
            <div class="form-group col-sm-4 col-xs-4">
              <input id="exampleInputName1" value="" name="txtName" type="text" class="form-control validate[required,custom[onlyLetterSp],minSize[3],maxSize[30]]" placeholder="Name" autocomplete="off">
            </div>
            <div class="form-group col-sm-4 col-xs-4">
              <input id="exampleInputEmail1" value="" name="txtEmail" type="email" class="form-control validate[required, custom[email]]" placeholder="Email" autocomplete="off">
            </div>
            <div class="form-group col-sm-4 col-xs-4">
              <input id="exampleInputNumber1" value="" name="txtPhone" type="text" class="form-control validate[required ,custom[phone] , minSize[10] , maxSize[12]]" placeholder="Phone(With Country &amp; AreaCode)" autocomplete="off">
            </div>
            <div class="form-group col-sm-12 col-xs-12">
              <textarea name="txtMessage"  class="form-control validate[required]" placeholder="Your Message">			</textarea>
            </div>
            <div class="form-group submit col-sm-12 col-xs-12">
              
              <p class="help-block"><input name="txtAccept" value="Price Estimate and Free Consultation" type="checkbox"> I'd like to get 1 Hour Free Consultation and also a Price Estimate. </p>
              <button type="submit" class="btn btn-default">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
