{% load static %}

<div class="row wow fadeInUp" style="visibility: hidden; animation-name: none;">
    <div class="col-sm-12 col-xs-12">
        <div class="defineFloat divideImage text-center wow zoomIn" style="visibility: hidden; animation-name: none;">
            <img src="{% static 'home/images/divideImage4.png' %}" class="img-responsive" alt=""> </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 achieved text-center">
        <h2>What
            <span>we've traded in</span> for the last
            <span>1 Year</span>
        </h2>
    </div>
    <div class="col-sm-12 col-xs-12 noPad">


        <div class="col-md-3 col-sm-3 col-xs-3 achievedKHM text-center">
            <h2>
                <label class="homecount">800</label>

                <span>+</span>
            </h2>
            <p>Successful deliveries</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 achievedKHM text-center">
            <h2>
                <label class="homecount">350</label>
                <span>+</span>
            </h2>
            <p>Satisfied Customers</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 achievedKHM text-center">
            <h2>
                <label class="homecount">2500</label>
                <span>+</span>
            </h2>
            <p>Tonnes of pineapples</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 achievedKHM text-center">
            <h2>
                <label class="homecount">5</label>
                <span>X</span>
            </h2>
            <p>Growth in the last 2 Years</p>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-xs-12 superCharge text-center">
        <div class="defineFloat scInner">
            <h2>Get What You Need For Your Bussiness Today!</h2>
            <p>Get Free Consultation from our Trading and Logistics Experts!</p>
        </div>
        <button href="{% url 'contact' %}" class="btn btn-primary yellowButton hvr-grow" type="button">GET IN TOUCH
            <span>
                <img src="{% static 'home/images/chat-box.png' %}" class="img-responsive" alt="">
            </span>
        </button>
    </div>