<body class="finalTemplate dmt">

  {% block nav %}{% include 'home/nav-section.html' %}{% endblock nav %} {% block services %}


  <section id="sliderInner" class="defineFloat templateSliderTwo withContent">
    <img src="images/tempalteSlide.png" class="img-responsive" alt="" />
    <div class="slideContent onloadEffect">
      <h2>Performance Driven Digital Marketing</h2>
      <p>We help brands optimize their online presence & performance. </p>
      <!--<button class="btn btn-default">Grab Your FREE Brand Audit Report</button>-->
    </div>
  </section>
  <section class="defineFloat" id="online">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12 ormReputation">
          <h1>Digital Marketing Company India, Outsource Digital Marketing Agency India, Outsource Digital Marketing India</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="defineFloat templateIWC templateIWCBg templateIWCN-Bg borBottomNone borTopNone" id="templateContentSix">
    <div class="container">
      <div class="row wow fadeIn">
        <div class="col-sm-12 col-xs-12 thirdParagraph noPad">
          <div class="col-sm-12 col-xs-12 tpHeading sameHeading noPad">

            <div class="col-sm-12 col-lg-4 col-xs-12 tcsImage tcsImageRight text-center wow fadeIn">
              <img src="images/t8.png" class="img-responsive" alt=""> </div>
            <div class="col-sm-12 col-lg-8 col-xs-12 tcsContent tcsContentTwoPad addHeading text-justify">
              <h6 class="blureAnimation">The entire world of digital marketing is going through a revolution
                <span>today.</span>&nbsp; We witness a global change today in the way people interact with brands, find & explore
                products & services, are influenced by people or in-turn influence other people. Technology & Innovation
                is constantly changing the face of the market, its products & services as well as the behaviors of individuals.
                </h6>
              <p class="wow fadeIn" data-wow-delay="0s">And we can feel assured that
                <span>tomorrow</span>&nbsp; will certainly be different! To keep up, your challenges are phenomenal! What changes
                to embrace and which ones to ignore, how to sell, how to spend, how to create value for your organization
                & for your customers etc… are just a few examples!</p>
              <p class="noMarPara wow fadeIn" data-wow-delay="0.1s">
                <span>We can help you navigate through all of it!</span>
                <br/> SEO Experts India is one of the leading digital marketing agencies based in India. We can help you in finding
                your target audience, measure the interest in your products & services, and finally benefit from all that.
                We can assist you in attracting new prospects to your website by optimizing your website and making people
                aware that your site exists while building brand awareness and generating leads alongside.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="defineFloat templateBlocks" id="templateContentFour">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12 secondParagraph  secondThird noPad">
          <div class="col-sm-12 col-xs-12 spHeading sameHeading wow fadeIn">
            <div class="defineFloat fpHeadingBorder text-center borBottomNoneBefore borBottomNoneBeforeCenter borBottomNone">
              <h2>
                <span>Results Driven DIGITAL marketing</span> that means business! </h2>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 spContent sameParagraph">
            <div class="row">
              <div class="col-sm-12 col-xs-12 noPad templateCol-1">
                <div class="col-sm-4 col-xs-12 spContentDivide sameColumns text-center wow fadeIn">
                  <div class="col-sm-12 col-xs-12 noPad colInner">
                    <div class="col-sm-12 col-xs-12 tbImage text-center">
                      <img src="images/searchIcon.png" class="img-responsive" alt="" />
                    </div>
                    <h2>Search Engine Optimization (SEO)</h2>
                    <p>Thousands of digital searches are carried out by prospects every second. With our SEO Services, our target
                      is to make your website a primary destination for your target audience thereby getting you a share
                      of those digital searches.</p>
                  </div>
                </div>
                <div class="col-sm-4 col-xs-12 spContentDivide sameColumns text-center wow fadeIn">
                  <div class="col-sm-12 col-xs-12 noPad colInner">
                    <div class="col-sm-12 col-xs-12 tbImage text-center">
                      <img src="images/shareIcon.png" class="img-responsive" alt="" />
                    </div>
                    <h2>Social Media Optimization (SMO)</h2>
                    <p>We help you take advantage of the right Social Media Channels that have the potential to drive best returns
                      for your business. Our Social Media Marketing Services integrate Social Media and Organic Search to
                      fetch better results for both overall.</p>
                  </div>
                </div>
                <div class="col-sm-4 col-xs-12 spContentDivide sameColumns text-center wow fadeIn">
                  <div class="col-sm-12 col-xs-12 noPad colInner">
                    <div class="col-sm-12 col-xs-12 tbImage text-center">
                      <img src="images/seoKhm2.png" class="img-responsive" alt="" />
                    </div>
                    <h2>Online Reputation Management</h2>
                    <p>Whether you are interested in a proactive approach to Online Reputation Management or are looking to
                      repair your negative online reputation of your business, we can help you build & improve upon your
                      online reputation.</p>
                  </div>
                </div>
                <div class="col-sm-4 col-xs-12 spContentDivide sameColumns text-center wow fadeIn">
                  <div class="col-sm-12 col-xs-12 noPad colInner">
                    <div class="col-sm-12 col-xs-12 tbImage text-center">
                      <img src="images/arrowIcon.png" class="img-responsive" alt="" />
                    </div>
                    <h2>PPC Campaign Management</h2>
                    <p>We can help you setup & fine tune your PPC campaigns thereby making them most profitable for you.</p>
                  </div>
                </div>
                <div class="col-sm-4 col-xs-12 spContentDivide sameColumns text-center wow fadeIn">
                  <div class="col-sm-12 col-xs-12 noPad colInner">
                    <div class="col-sm-12 col-xs-12 tbImage text-center">
                      <img src="images/pcIcon.png" class="img-responsive" alt="" />
                    </div>
                    <h2>Display Advertising Campaigns</h2>
                    <p>Display Advertising mostly suits brand & product awareness requirements but is really good at it.</p>
                  </div>
                </div>
                <div class="col-sm-4 col-xs-12 spContentDivide sameColumns text-center wow fadeIn">
                  <div class="col-sm-12 col-xs-12 noPad colInner">
                    <div class="col-sm-12 col-xs-12 tbImage text-center">
                      <img src="images/seoKhm4.png" class="img-responsive" alt="" />
                    </div>
                    <h2>Content Writing Services</h2>
                    <p>We know your products/services are awesome and we’ll make sure that your target prospects get the message.</p>
                  </div>
                </div>
                <div class="col-sm-4 col-xs-12 spContentDivide sameColumns text-center NM wow fadeIn">
                  <div class="col-sm-12 col-xs-12 noPad colInner">
                    <div class="col-sm-12 col-xs-12 tbImage text-center">
                      <img src="images/leadIcon.png" class="img-responsive" alt="" />
                    </div>
                    <h2>Lead Gen Campaign</h2>
                    <p>Lead generation campaign management for both B2B & B2C. Ideal for organizations, where sales start with
                      capture, nurturing & management of leads.</p>
                  </div>
                </div>
                <div class="col-sm-4 col-xs-12 spContentDivide sameColumns text-center NM wow fadeIn">
                  <div class="col-sm-12 col-xs-12 noPad colInner">
                    <div class="col-sm-12 col-xs-12 tbImage text-center">
                      <img src="images/seoKhm5.png" class="img-responsive" alt="" />
                    </div>
                    <h2>Link Building</h2>
                    <p>Since Google considers high quality links as one of the most important factors in Search Rankings, we
                      make sure that your site never runs out of good quality backlinks.</p>
                  </div>
                </div>
                <div class="col-sm-4 col-xs-12 spContentDivide sameColumns text-center NM wow fadeIn">
                  <div class="col-sm-12 col-xs-12 noPad colInner">
                    <div class="col-sm-12 col-xs-12 tbImage text-center">
                      <img src="images/rateIcon.png" class="img-responsive" alt="" />
                    </div>
                    <h2>Conversion Rate Optimization</h2>
                    <p>Getting quality & targeted traffic to the website is difficult & time consuming so it is very important
                      that the traffic is best utilized by taking care of website conversion rates.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="defineFloat templatePara" id="templateContentFirst">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12 firstParagraph noPad wow fadeIn">
          <div class="col-sm-12 col-xs-12 fpHeading sameHeading">
            <div class="defineFloat fpHeadingBorder">
              <h2>
                <span>Our approach</span> to digital marketing success</h2>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 fpContent sameParagraph">
            <p class="wow fadeIn">To get started, we work very closely with you in order to define a digital marketing strategy to suit your business
              requirements. Together we'll collaborate on your project to define your project goals, establish a strategy
              & timeframe and finally determine the KPIs or key performance indicators. Thereafter, we'll prepare regular
              reports & updates during the implementation cycle and so that you can keep track on the project progress. We
              are comprehensive & thorough in the sense that, we not just bring relevant traffic to you, but we also help
              in making the most of that website traffic. Our Team of specialists are experienced in a gamut of digital marketing
              skills which can help your businesses increase online traffic & achieve business objectives.</p>
            <p class="noMarPara wow fadeIn">We implement digital marketing campaigns with established, mature & proven strategies thereby ensuring your website
              gains online visibility enough to meet business objectives. We approach Digital Marketing a little differently.
              Though we may use techniques like PPC at get started with research since it provide faster results, but our
              ultimate objective is to ensure long term gained via organic success and other inbound marketing techniques.
              Our overall objective is to quickly finalize a combination of digital marketing techniques & build a robust
              digital marketing strategy which works exclusively for your online business & provides best results.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="BEF" class="defineFloat">
    <div class="defineFloat BEF">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 businessInner text-center wow fadeIn">
            <h2>Is Your Business Easily Found Online?</h2>
            <p>Let's Find Out! Click the button below &amp; we shall get back to you with a Detailed SEO Audit of your Website.</p>
          </div>
          <div class="defineFloat divide text-center wow fadeIn">
            <hr>
          </div>
          <div class="defineFloat text-center businessButton wow zoomIn">
            <button type="button" class="btn btn-primary yellowButton popUpFormThree hvr-grow simpleBounce">Get Your FREE AUDIT REPORT Now! </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    function resizeIframe(obj) {
      obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
  </script>
  <section class="defineFloat tempIframeOne" id="tempalteWho">
    <iframe style="display:none;" id="firstFrameWWA" class="customIframe" src="iframe/temp-iframe-01.php" scrolling="no" onload="resizeIframe(this)"
      width="100%" height="100%" frameborder="0"></iframe>
  </section>

  <section class="defineFloat tempIframeTwo borderTopArrow" id="tempalteAccordian">

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12 taHeading text-center">
          <h2>There are Reasons Why We Are Trusted By Amazing Brands Worldwide</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-xs-8 taLeft">
          <iframe id="firstFramedemoWebsite" class="customIframe" src="iframe/newaccordian.php" scrolling="no" onload="resizeIframe(this)"
            width="100%" height="100%" frameborder="0"></iframe>
        </div>
        <div class="col-sm-4 col-xs-4 taRight text-center">
          <ul class="list-unstyled">
            <li class="achievedKHM">
              <h2>
                <label class="statistic-counter">800</label>
                <span>+</span>
              </h2>
              <p>Successful Projects</p>
            </li>
            <li class="achievedKHM">
              <h2>
                <label class="statistic-counter">350</label>
                <span>+</span>
              </h2>
              <p>Satisfied Customers</p>
            </li>
            <li class="achievedKHM">
              <h2>
                <label class="statistic-counter">200</label>
                <span>+</span>
              </h2>
              <p>Qualified Experts</p>
            </li>
            <li class="achievedKHM">
              <h2>
                <label class="statistic-counter">10</label>
                <span>X</span>
              </h2>
              <p>Growth in last 5 Years</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--<iframe id="firstFramedemoWebsite" class="customIframe" src="iframe/temp-iframe-02.php" scrolling="no" onload="resizeIframe(this)" width="100%" height="100%" frameborder="0"></iframe>-->
  </section>

  <section class="defineFloat tempIframeThree" id="realCustomer">
    <div class="container">
      <div class="row wow fadeIn">
        <div class="col-md-12 col-xs-12 col-sm-12 realCutomer text-center">
          <h2>We have a Track Record of Delivering Excellent Results.</h2>
          <p>Below is a selection of our Clients enjoying Page #1 Rankings on Google &amp; other Major Search Engines.</p>
        </div>
        <div class="col-md-11 col-sm-12 col-md-offset-1 col-xs-12 realContent">
          <div class="col-sm-6 col-xs-12 noPad rcOuter">
            <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <div class="col-sm-12 col-xs-12 noPad rcImage">
                    <img src="images/rank1.png" class="img-responsive" alt=""> </div>
                </div>
                <div class="item">
                  <div class="col-sm-12 col-xs-12 noPad rcImage">
                    <img src="images/rank2.png" class="img-responsive" alt=""> </div>
                </div>
                <div class="item">
                  <div class="col-sm-12 col-xs-12 noPad rcImage">
                    <img src="images/rank3.png" class="img-responsive" alt=""> </div>
                </div>
                <div class="item">
                  <div class="col-sm-12 col-xs-12 noPad rcImage">
                    <img src="images/rank4.png" class="img-responsive" alt=""> </div>
                </div>
                <div class="item">
                  <div class="col-sm-12 col-xs-12 noPad rcImage">
                    <img src="images/rank5.png" class="img-responsive" alt=""> </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12 noPad">
            <div id="carousel-example-generic3" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <div class="col-sm-12 col-xs-12 noPad rcContent">
                    <h4>Arnold Law</h4>
                    <p>Arnold Law is a full-service litigation firm, dealing with business disputes, commercial litigation,
                      personal injury, domestic relations, juvenile law, and criminal defense throughout western and southern
                      Oregon. Our litigation experience, extensive preparation of cases.</p>
                    <hr>
                    <h3>78% Increase in organic Traffic.</h3>
                  </div>
                </div>
                <div class="item">
                  <div class="col-sm-12 col-xs-12 noPad rcContent">
                    <h4>Epoxy Plus</h4>
                    <p>They are top quality USA made liquid polymer manufacturing company. EPOXY PLUS LLC products can be used
                      in decorative coatings, concrete repair compounds and a wide range of chip, quartz & broadcast systems
                      giving years of beautiful surface protection.</p>
                    <hr>
                    <h3>95% Increase in organic Traffic.</h3>
                  </div>
                </div>
                <div class="item">
                  <div class="col-sm-12 col-xs-12 noPad rcContent">
                    <h4>Fisherton Dental Care </h4>
                    <p>FishertonDentalCare are established dental practice in the city of Salisbury. Their services includes
                      Teeth Whitening, Cosmetic Bonding, Porcelain Crowns & Veneers and many more. So if you are looking
                      for a Dentist in Salisbury, lookno further.</p>
                    <hr>
                    <h3>100% Increase organic Keyword Presence.</h3>
                  </div>
                </div>
                <div class="item">
                  <div class="col-sm-12 col-xs-12 noPad rcContent">
                    <h4>Med Crave</h4>
                    <p>MedCrave are dedicated to make original valuable scientific content available freely to the global population.
                      They are amazed by science and its wonderful forms and we now bring this beauty to you too. MedCrave
                      is a collection of many essays, research content etc. </p>
                    <hr>
                    <h3>31% Increase in organic Traffic after SEO.</h3>
                  </div>
                </div>
                <div class="item">
                  <div class="col-sm-12 col-xs-12 noPad rcContent">
                    <h4>Toronto Senior Care</h4>
                    <p>Toronto Senior Care was established in Toronto in 2006 and has continued to develop its excellent range
                      of senior home care services to meet the needs of all seniors who need more support in order to live
                      fulfilling and safe lives each day.</p>
                    <hr>
                    <h3>29% Increase in traffic for primary keywords.</h3>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid similarResults noPad text-center">
      <a href="../get-started.php" title="Contact Us now">
        <ul class="list-unstyled hvr-grow wow fadeInLeft">
          <!-- <li><a href="javascript:void(0);" title="Want Similar Results?">Want Similar Results?</a></li> -->
          <li>Want Similar Results?</li>
          <li>Contact Us now</li>
        </ul>
      </a>
    </div>
  </section>

  <section id="higherRating" class="defineFloat tempalte">
    <div class="container" id="contForm">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 formOuter noPad  wow fadeIn">
          <div class="defineFloat text-center ">
            <h2>Ready for a Change? We'd love to have a chat! </h2>
            <p>Call us:
              <a href="javascript:void(0);" title="+1 (646) 808 0229">+1 (646) 808 0229</a>, email us:
              <span class="salesEmail"></span> OR just fill up the form below. </p>
          </div>
          <div class="defineFloat formInner">
            <div class="col-sm-8 col-xs-12 formLeft">
              <form class="contactPageform" id="mainMobileform" method="post">
                <div class="containermessage">
                  <p></p>
                </div>
                <div class="form-group col-sm-12 col-xs-12">
                  <input id="exampleInputName1" value="" name="txtName" type="text" class="form-control validate[required,custom[onlyLetterSp],minSize[3],maxSize[30]]"
                    placeholder="Name">
                </div>
                <div class="form-group col-sm-12 col-xs-12">
                  <input id="exampleInputEmail1" value="" name="txtEmail" type="email" class="form-control validate[required, custom[email]]"
                    placeholder="Email">
                </div>
                <div class="form-group col-sm-12 col-xs-12">
                  <input id="exampleInputNumber1" value="" name="txtPhone" type="text" class="form-control validate[required ,custom[phone] , minSize[10] , maxSize[12]]"
                    placeholder="Phone(With Country &amp; AreaCode)">
                </div>
                <div class="form-group col-sm-12 col-xs-12">
                  <textarea name="txtMessage" class="form-control validate[required]" placeholder="Your Message"></textarea>
                </div>
                <div class="form-group submit col-sm-12 col-xs-12">

                  <p class="help-block">
                    <input name="txtAccept" value="Yes" type="checkbox"> I'd like to get 1 Hour Free Consultation and also a Price Estimate. </p>
                  <button type="submit" class="btn btn-default">Send</button>
                </div>
              </form>
            </div>
            <div class="col-sm-4 col-xs-12 formRight">
              <div id="formRight" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <div class="col-sm-12 col-xs-12 formSlider">
                      <p>The major factors that lead me straight into the path of SEOExperts India were their own Google ranking
                        and the competitive price they were offering. To top it off , their process was very good and efficient
                        with prompt service and I’m getting good rankings in Google for my site. The team is very professional
                        and have an excellent skillset.</p>
                      <label>- Neeraj Parson,
                        <br>Fisherton Dental Care</label>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col-sm-12 col-xs-12 formSlider">
                      <p>I have been very satisfied with the service and quality of work of SEOExperts. They provided a very
                        high standard of work for a very competitive price. Everything was explained and there were no hidden
                        costs. They were also very easy to communicate with. I would definitely recommend them to anyone
                        seeking a high quality and very reasonably priced service.</p>
                      <label>- Moira Williamson,
                        <br>Truly Medical Getaways</label>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col-sm-12 col-xs-12 formSlider">
                      <p>One of the major factors that lead me to SEOExperts India was their top Ranking in search engines for
                        certain terms related to SEO in addition to that the marketing team’s friendly approach gained my
                        interest further to discuss the project. SEO experts have achieved the anticipated results though
                        they have not disclosed the processes involved.</p>
                      <label>- Anu Kishan,
                        <br>AnnexMed Private Limited</label>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col-sm-12 col-xs-12 formSlider">
                      <p>I discovered SEOExperts India over the internet & with all the information I found about them, they
                        seemed like a reliable choice. In fact, after looking at the well-defined and organized campaign,
                        the 1st impression I got was that they could deliver results . Moreover the questions they directed
                        at me were directly related to the SEO campaign and their suggestions were accurate.</p>
                      <label>- Ross Huntley,
                        <br>Muscle Science Australia</label>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col-sm-12 col-xs-12 formSlider">
                      <p>I have been reviewing the SEO reports sent to me recently for my business website.I want to tell you
                        that you brought the new website to the first page within just 7 weeks. Before we hired your company,
                        the website was just started and we were sometimes on page three but not any closer to page one.
                        Now we are on page one for several of our keywords. </p>
                      <label>- Frank Simonetti,
                        <br>Fort Myers Photography</label>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock services %} {% block footer %}{% include 'home/footer-section.html' %}{% endblock footer %}