{% extends 'home/base.html' %}
{% load static %}
<body class="contentWriting">
{% block nav %}{% include 'home/nav-section.html' %}{% endblock nav %}
{% block exports %}

<section id="sliderInner" class="defineFloat commonHeight"> <img src="{% static 'home/images/contentWritingBg.png' %}" class="img-responsive" alt="" />
    <div class="slideContent servicesButton">
      <h2>We Write Content That WORKS!</h2>
      <p> Crisp, Clean, Concise and High Quality Content that gets your Message Accross.</p>
      <a href="get-started.php" class="btn btn-default whiteButton cuArrow btnOne">Get Started Now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    </div>
  </section>
  <section class="defineFloat" id="online">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12 ormReputation"> <h1>Outsource Content, Content Writers India, Content Writing Services India</h1> </div>
      </div>
    </div>
  </section>
  <section class="defineFloat" id="contentWritingImportant">
      <div class="container">
          <div class="row wow fadeIn">
              <div class="col-sm-12 col-xs-12 text-center cwiHeading">
                  <h2>BUT WHY IS CONTENT SO IMPORTANT?</h2>
                  <p>Because Content is the heart & soul of every online marketing initiative.</p>
              </div>
              <div class="col-sm-12 col-xs-12 text-center cwiParagraph">
                  <p>Content is the glue that ties SEO, ORM Link Building and Social Media success together. You can do everything else right, but if your content is mediocre, your marketing campaigns will have mediocre success. In fact, relevant and valuable content is essential to deliver the right message to the target audience with power, conviction and authority.</p>
              </div>
          </div>
          <div class="row wow fadeIn">
              <div class="col-sm-4 col-xs-4 cwiBlocks blue">
                  <h3>Content Makes You Searchable</h3>
                  <p>Compelling content is a critical component of any website’s success and is said to be one of the top 3 ranking factors in Google's algorithm. Keeping it up-to-date and aligned with SEO helps achieve better rankings and greater visibility.</p>
              </div>
              <div class="col-sm-4 col-xs-4 cwiBlocks orange">
                  <h3>Content Shows You’re Reliable</h3>
                  <p>When it comes to website reliability, content matters the most. Both high-quality content and its systematic as well as engaging presentation are necessary to develop a sense of trust in the audience.</p>
              </div>
              <div class="col-sm-4 col-xs-4 cwiBlocks gray">
                  <h3>Content Is How You Get Involved</h3>
                  <p>Content ties your potential consumers with your business well. Having authoritative content that can ‘talk’ is one of the best ways to engage your target audience and initiate dynamic conversations with them. </p>
              </div>                        
          </div>
          <div class="row">
              <div class="col-sm-12 col-md-12 col-xs-12 superCharge text-center noPad">
                  <div class="defineFloat scInner wow fadeIn">
                    <h2>STILL NOT SURE? WANT TO TALK TO AN EXPERT?</h2>
                  </div>
                  <button type="button" onClick="return lh_inst.lh_openchatWindow()" class="btn btn-primary yellowButton hvr-grow wow fadeInUp">CHAT Live NOW!</button>
              </div>
          </div>
      </div>
  </section>
  <section class="defineFloat" id="cwBrand">
      <div class="container">
          <div class="row wow fadeIn">
              <div class="col-sm-12 col-xs-12 text-center cwbHeading">
                  <span>Creating high-impact content is both art & science</span>
                  <h2>WE WRITE ENGAGING & INFORMATIVE CONTENT
  THAT SETS YOUR BRAND APART! </h2>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12 col-xs-12 noPad cwbKhmOuter">
                  <div class="col-md-3 col-sm-6 col-xs-6 text-center cwbKhmInner wow fadeIn">
                       <div class="cwbKhmImage">
                           <img src="{% static 'home/images/cwb1.png' %}" class="img-responsive" alt="" />
                       </div>
                       <h2>Web Content</h2>
                       <p>Strengthen your online presence, fetch more visitors, plump up your sales, and drive excellent ROI with professionally written web content, which is credible and impactful.</p>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-6 text-center cwbKhmInner wow fadeIn">
                       <div class="cwbKhmImage">
                           <img src="{% static 'home/images/cwb2.png' %}" class="img-responsive" alt="" />
                       </div>
                       <h2>Blog Writing & Guest Posts</h2>
                       <p>Create a dynamic web presence with engaging blogs and high-quality guest posts, which will maximize your SEO returns and add to your online credibility simultaneously.</p>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-6 text-center cwbKhmInner wow fadeIn">
                       <div class="cwbKhmImage">
                           <img src="{% static 'home/images/cwb3.png' %}" class="img-responsive" alt="" />
                       </div>
                       <h2>Informational Articles</h2>
                       <p>Attract more visitors, connect with them, hold their attention, and increase your sales potential with well-researched and highly informative articles.</p>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-6 text-center cwbKhmInner wow fadeIn">
                       <div class="cwbKhmImage">
                           <img src="{% static 'home/images/cwb4.png' %}" class="img-responsive" alt="" />
                       </div>
                       <h2>Press Releases</h2>
                       <p>Facilitate your business by getting more traffic and generating publicity with professional press releases that are concise, readable and well-optimized.</p>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-6 text-center cwbKhmInner borderBottom wow fadeIn">
                       <div class="cwbKhmImage">
                           <img src="{% static 'home/images/cwb5.png' %}" class="img-responsive" alt="" />
                       </div>
                       <h2>Product & Service Reviews</h2>
                       <p>Give your site an SEO boost, establish brand authenticity and influence the buyer behavior with informative, reliable and useful product & service reviews.</p>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-6 text-center cwbKhmInner borderBottom wow fadeIn">
                       <div class="cwbKhmImage">
                           <img src="{% static 'home/images/cwb6.png' %}" class="img-responsive" alt="" />
                       </div>
                       <h2>SEO Copy</h2>
                       <p>Improve search rankings and experience better conversion rates by enhancing your SEO efforts with original, relevant, and strategically optimized SEO copies.</p>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-6 text-center cwbKhmInner borderBottom wow fadeIn">
                       <div class="cwbKhmImage">
                           <img src="{% static 'home/images/cwb7.png' %}" class="img-responsive" alt="" />
                       </div>
                       <h2>Newsletters</h2>
                       <p>Reach more target audience, get more qualified leads, and generate more sales with engaging, functional, goal-oriented, and buyer-focused newsletters.</p>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-6 text-center cwbKhmInner borderBottom wow fadeIn">
                       <div class="cwbKhmImage">
                           <img src="{% static 'home/images/cwb8.png' %}" class="img-responsive" alt="" />
                       </div>
                       <h2>White Papers</h2>
                       <p>Build authority, credibility and trust for your brand in order to pump up your sales with persuasive and authoritative white papers backed by impeccable research.</p>
                  </div>
              </div> 
          </div>
          <div class="row">
              <div class="col-sm-12 col-xs-12 text-center cwbArrow wow zoomIn">
                  <img src="{% static 'home/images/downArrow.png' %}" class="img-responsive" alt="" />
              </div>
              <div class="col-sm-12 col-xs-12 text-center cwbConnect wow fadeIn">
                  <h2>Connect With Us & Remove Content Writing From Your ToDo List Today! </h2>
              </div>
              <div class="col-sm-12 col-xs-12 text-center cwbcImage wow zoomIn">
                  <img src="{% static 'home/images/cwBrandAroow.png' %}" class="img-responsive" alt="" />
              </div>
              <div class="col-sm-12 col-xs-12 text-center cwbButton ">
              
              
               <div class="defineFloat text-center businessButton wow fadeInUp">
            <button type="button" class="btn btn-primary yellowButton hvr-grow popUpFormThree btnTwo cuArrow customSize">Get started <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
             <span class="text-center defineFloat"><a href="javascript:void(0);" title="+1 (646) 808 0229">Call us on +1 (646) 808 0229</a></span>
            
          </div>
              
              
                  
                 
                 </div>
          </div>
      </div>
  </section>
  <section class="defineFloat" id="cwQuality">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-xs-12 cwqleft wow fadeIn">
                  <h2>WHAT CAN YOU ACHIEVE WITH HIGH QUALITY CONTENT?</h2>
              </div>
              <div class="col-sm-6 col-xs-12 cwqRight wow fadeIn">
                  <ul class="list-unstyled">
                      <li class="wow fadeIn" data-wow-delay="0s">Make a Killing Digital Presence</li>
                      <li class="wow fadeIn" data-wow-delay="0s">Nurture Leads to the Next Level</li>
                      <li class="wow fadeIn" data-wow-delay="0.2s">Build Credibility Among Your Buyer Personas</li>
                      <li class="wow fadeIn" data-wow-delay="0.2s">Reach out to an Untapped Audience</li>
                      <li class="wow fadeIn" data-wow-delay="0.4s">Establish authority in your Niche</li>
                      <li class="wow fadeIn" data-wow-delay="0.4s">Improve Search Rankings through optimized content</li>                                                                                                    
                  </ul>
              </div>
              <div class="col-sm-12 col-xs-12 text-center cwqButton wow fadeInUp">
                  <button onclick="location.href='request-for-proposal.php'" type="button" class="btn btn-default commonInnerButton2 simpleHover btnThree cuArrow">Enquire Now & Get a Free Quote <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
              </div>
          </div>
      </div>
  </section>
  <section class="defineFloat outsource text-center">
      <div class="container demo">
        <div class="panel-group" id="accordion" >
          <div class="panel panel-default">
            <div class="panel-heading bottomStrip" id="headingOne">
              <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> <i class="fa fa-plus"></i>How to Gain By Outsourcing Content Writing to India?</a> </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body blackColor">
                  <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12 whyOutSource-textCoulmn">
              India is full of specialist web content writers. More and more firms from around the world are turning to India for top quality and affordable web content writing services. There is no doubt that India is the foremost preference for a lot of firms for outsourcing web content writing services in English. It’s infact difficult to match India when it comes to web content writing abilities and skill with the English language.<br/> 
  Not only will you save a lot of time and money by outsourcing web content development services, but you can also take advantage of the expertise and talents of the Indian web content consultants. India has a varied and gifted group of web content writers who can write in an extensive array of styles on an exceptionally broad variety of topics. Whether your require keyword rich content writing, technical writing, ghostwriting or creative web content writing for magazines, articles, books, and websites, India is one of the best places to find creative & skilled content writers. <br/>
  Content writing is tough– we are here to make it easy, effective and efficient for your company. Our knowledgeable and professional web content writers in India always remain focused on your business goals of visitor engagement and customer conversion. Our custom-made web content service beats our competitors easily. We provide high-quality and reasonably priced web content writing service to clients across 20+ countries worldwide. Our expert writers across niches and industries are capable of providing 100% unique and original content, verified with Copyscape. Further, the web content provided by us is optimized for Search Engines. <br/>
  We are the one-stop destination for every type of web content. Be it website, blog or content marketing write-ups – our web content writers are well experienced and skilled to generate fully personalized content for your audience. Our content writing firm specializes in generating SEO-friendly and high-quality content that can enable your website to be seen by the audience online. Better still, we offer an inexpensive content writing solution that is designed to suit every budget.
                  </div>
              </div>
              
            </div>
          </div>
        </div>
        <!-- panel-group --> 
        
      </div>
      <!-- container --> 
    </section>
    <section class="defineFloat" id="cwAccordian">
        <div class="container wow fadeIn">
          <div class="row">
              <div class="col-sm-12 col-xs-12 otHeading text-center">
                  <h2>Why Share Your Challenge With Us?</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12 col-xs-12 otTab">
                  <div id="exTab1">	
                  <ul id="nav-pills" class="nav nav-pills autoSlideTab">
                              <li class="active">
                          <a href="#1a" data-toggle="tab" aria-expanded="false"><div class="otTabImage"><img src="{% static 'home/images/ormtab1.png' %}" class="img-responsive" alt=""></div><span>More than 7 Years of Experience. </span></a>
                              </li>
                              <li class=""><a href="#2a" data-toggle="tab" aria-expanded="false"><div class="otTabImage"><img src="{% static 'home/images/qt.png' %}" class="img-responsive" alt=""></div><span>Quick <br/>Turnaround</span></a>
                              </li>
                              <li class=""><a href="#3a" data-toggle="tab" aria-expanded="false"><div class="otTabImage"><img src="{% static 'home/images/qc.png' %}" class="img-responsive" alt=""></div><span>Qualified Copywriters</span></a>
                              </li>
                          <li class=""><a href="#4a" data-toggle="tab" aria-expanded="false"><div class="otTabImage"><img src="{% static 'home/images/hqf.png' %}" class="img-responsive" alt=""></div><span>High Quality <br>Focus</span></a>
                              </li>
                              <li class=""><a href="#5a" data-toggle="tab" aria-expanded="false"><div class="otTabImage"><img src="{% static 'home/images/ormtab5.png' %}" class="img-responsive" alt=""></div><span>No Hidden<br> Fees</span></a>
                              </li>
                          <li class=""><a href="#6a" data-toggle="tab" aria-expanded="true"><div class="otTabImage"><img src="{% static 'home/images/ormtab6.png' %}" class="img-responsive" alt=""></div><span>Competitive Pricing. Get a Free Quote <br>Now! </span></a>
                              </li>
                          </ul>
                  
                              <div class="tab-content clearfix">
                                <div class="tab-pane" id="1a">
                                    <h2>More than 7 Years of Experience.</h2>
                                    <p>We have over 7 years of experience in formulating effective digital marketing strategies and SEO campaigns for clients hailing from different industry segments. Throughout this period, we have acquired unmatched technical expertise and developed proven methodologies for delivering projects of any size and complexity.</p>	
                                  </div>
                                  <div class="tab-pane" id="2a">
                                    <h2>Quick Turnaround</h2>                                
                            <p>We guarantee an incredibly fast turnaround for all your content needs. Whether it is a big order or a small assignment, we take deadlines seriously and make it a point to meet them. Capitalize on your time and grow your business while we strive for increasing our ‘words per hour’ rate to deliver your content more rapidly. </p>
                                  </div>
                          <div class="tab-pane" id="3a">
                                    <h2>Qualified Copywriters</h2>                        
                              <p>We boast of a pool of qualified, experienced, and highly talented wordsmiths. They are knowledgeable enough to produce high-quality and value-driven content, skilled enough to leverage up-to-the-minute techniques and technologies, and versatile enough to create unmatched professional copies to meet your unique business needs.</p>
                                  </div>
                            <div class="tab-pane" id="4a">
                                    <h2>High Quality Focus</h2>                          
                            <p>We set the bar high by delivering quality. Our content adheres to our stringent quality parameters, which enables us to offer you our best services every time. We identify the key aspects of your business and focus on creating phenomenal copies that can set your brand apart in the marketplace and keep you ahead of the game. </p>
                                  </div>
                                  <div class="tab-pane" id="5a">
                                    <h2>No Hidden Fees</h2>                                
                            <p>Transparency is one of our USPs and our pricing packages reflect it clearly. We offer tailor-made top-quality content at competitive prices, which include the fees for all the steps involved including planning, researching, drafting, editing, and proofreading. There are NO hidden charges, NO buried conditions – simply NO strings attached! </p>
                                  </div>
                                  <div class="tab-pane active" id="6a">
                                    <h2>Competitive Pricing. Check out our Online Cost Calculator</h2>                                
                            <p>SEO Experts India offers clear and competitive pricing for results-oriented and profit-driven Internet marketing services. Through our flexible engagement model and customer-centric approach, we aim at delivering maximum value to our customers for their investments and ensure that our clients get a high return on investment when they choose us over other Internet marketing companies.</p>
                                  </div>
                              </div>
                    </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12 col-xs-12"><div class="defineFloat cwTake">
                  <div class="col-md-7 col-sm-8 col-xs-7 col-md-offset-1 cwtLeft">
                      <h2>Take your Content to the Next Level.</h2>
                  </div>
                  <div class="col-sm-4 col-xs-4 cwtRight">
                      <button onclick="location.href='get-started.php'" type="button" class="btn btn-default commonInnerButton2 simpleHover btnFour cuArrow">GET A FREE ESTIMATE <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                  </div>
              </div></div>
          </div>
      </div>
    </section>
  <section id="testimonial" class="defineFloat">
    <div class="container">
      <div class="row wow fadeIn"> 
        <div class="col-sm-12 col-xs-12 testOuter testimonialDots">
          <h2>SOME OF OUR HAPPY CLIENTS</h2>
          <div class="bx-wrapper" style="max-width: 100%;">
            <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height:auto !important;">
              <div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: auto;">
              <div class="defineFloat bxslider" style="width: auto; position: relative;">
                <!-- part 1 -->
                  <div class="col-sm-12 col-xs-12 testContent text-center noPad" style="float: none; list-style: outside none none; position: absolute; width: 1140px; z-index: 0; display: none;"> 
                      <p>The major factors that lead me straight into the path of SEOExperts India were their own Google ranking and the competitive price they were offering. To top it off , their process was very good and efficient with prompt service and I’m getting good rankings in Google for my site. The team is very professional and have an excellent skillset. Overall, the quality of service and the cost was very good and if I were to recommend their service to anyone, I would describe them to expect excellent service.</p>
                      <h3>- Neeraj Parson,  www.fishertondentalcare.co.uk</h3>
                  </div>
                  <!-- part 2 -->
                  <div class="col-sm-12 col-xs-12 testContent text-center noPad" style="float: none; list-style: outside none none; position: absolute; width: 1140px; z-index: 50; display: block;"> 
                      <p>I have been very satisfied with the service and quality of work of SEOExperts. They provided a very high standard of work for a very competitive price. Everything was explained and there were no hidden costs. They were also very easy to communicate with. I would definitely recommend them to anyone seeking a high quality and very reasonably priced service.</p>
                      <h3>- Moira Williamson,  www.trulymedicalgetaways.com</h3>
                  </div>
                  <!-- part 3 -->
                  <div class="col-sm-12 col-xs-12 testContent text-center noPad" style="float: none; list-style: outside none none; position: absolute; width: 1140px; z-index: 50; display: block;"> 
                      <p>The staff at Seo Experts India are friendly, efficient and reliable. In the fast changing world of internet marketing, they are always ahead of the game. I can gladly recommend them for search engine optimization services.</p>
                      <h3>- Beverly Hui,  www.capetownsplendour.com</h3>
                  </div>
                  <!-- part 4 -->
                  <div class="col-sm-12 col-xs-12 testContent text-center noPad" style="float: none; list-style: outside none none; position: absolute; width: 1140px; z-index: 50; display: block;"> 
                      <p>One of the major factors that lead me to SEOExperts India was their top Ranking in search engines for certain terms related to SEO in addition to that the marketing team’s friendly approach gained my interest further to discuss the project. SEO experts have achieved the anticipated results though they have not disclosed the processes involved. I would like to give a good rating for the skills being showcased while commencing the project. </p>
                      <h3>Anu Kishan, www.annexmed.com</h3>
                  </div>
                  <!-- part 5 -->
                  <div class="col-sm-12 col-xs-12 testContent text-center noPad" style="float: none; list-style: outside none none; position: absolute; width: 1140px; z-index: 50; display: block;"> 
                      <p>I discovered SEOExperts India over the internet & with all the information I found about them, they seemed like a reliable choice. In fact, after looking at the well-defined and organized campaign, the 1st impression I got was that they could deliver results . Moreover the questions they directed at me were directly related to the SEO campaign and their suggestions were accurate. Also their pricing structure was very competitive & the timeframe they provided was spot on!</p>
                      <h3>Ross Huntley, www.muscle-science-australia.com </h3>
                  </div>
                
              </div>
              </div>
              </div>
            </div>
          </div>
          <div class="defineFloat lbTest text-center">
                      <div class="defineFloat text-center lbtImage wow fadeIn">
                      </div>
                      <a href="reviews.php" class="btn btn-defaul commonInnerButton simpleHover hvr-grow btnFive cuArrow wow fadeIn"> READ MORE REVIEWS <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                      <span class="defineFloat text-center wow fadeInUp"><a href="javascript:void(0);">Call us on +1 (646) 808 0229</a></span>
                  </div>
        </div>
      </div>
    </div>
  </section>  
  <section id="higherRating" class="defineFloat">
    <div class="container" id="contForm">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 formOuter wow fadeIn">
          <div class="defineFloat text-center ">
            <h2>Let's Discuss Your Content Writing Goals</h2>
             <p>Call us: <a href="javascript:void(0);" title="+1 (646) 808 0229">+1 (646) 808 0229</a>, email us: <span class="salesEmail"></span> OR just fill up the form below. </p>
          </div>
            <form class="contactPageform" id="mainMobileform" method="post">
       <div class="containermessage"><p></p></div>
              <div class="form-group col-sm-4 col-xs-4">
                <input id="exampleInputName1" value="" name="txtName" type="text" class="form-control validate[required,custom[onlyLetterSp],minSize[3],maxSize[30]]" placeholder="Name" autocomplete="off">
              </div>
              <div class="form-group col-sm-4 col-xs-4">
                <input id="exampleInputEmail1" value="" name="txtEmail" type="email" class="form-control validate[required, custom[email]]" placeholder="Email" autocomplete="off">
              </div>
              <div class="form-group col-sm-4 col-xs-4">
                <input id="exampleInputNumber1" value="" name="txtPhone" type="text" class="form-control validate[required ,custom[phone] , minSize[10] , maxSize[12]]" placeholder="Phone(With Country &amp; AreaCode)" autocomplete="off">
              </div>
              <div class="form-group col-sm-12 col-xs-12">
                <textarea name="txtMessage"  class="form-control validate[required]" placeholder="Your Message">			</textarea>
              </div>
              <div class="form-group submit col-sm-12 col-xs-12">
                
                <p class="help-block"><input name="txtAccept" value="Yes" type="checkbox"> I'd like to get 1 Hour Free Consultation and also a Price Estimate. </p>
                <button type="submit" class="btn btn-default">Send</button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </section>

{% endblock exports %}
{% block footer %}{% include 'home/footer-section.html' %}{% endblock footer %}