 {% load static %}

<section id="testimonial" class="defineFloat">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 testOuter wow fadeInUp">
                <h2>Still Not Convinced?</h2>

                <div class="defineFloat bxslider">
                    <!-- part 1 -->
                    <div class="col-sm-12 col-xs-12 testContent text-center noPad">
                        <div class="defineFloat borderTest">
                            <span>Find out what our Customers say about Our Services</span>
                        </div>
                        <p>The major factors that lead me straight into the path of SEOExperts India were their own Google ranking
                            and the competitive price they were offering. To top it off , their process was very good and
                            efficient with prompt service and I’m getting good rankings in Google for my site. The team is
                            very professional and have an excellent skillset. Overall, the quality of service and the cost
                            was very good and if I were to recommend their service to anyone, I would describe them to expect
                            excellent service.</p>
                        <h3>- Neeraj Parson, www.fishertondentalcare.co.uk</h3>
                    </div>
                    <!-- part 2 -->
                    <div class="col-sm-12 col-xs-12 testContent text-center noPad">
                        <div class="defineFloat borderTest">
                            <span>Find out what our Customers say about Our Services</span>
                        </div>
                        <p>I have been very satisfied with the service and quality of work of SEOExperts. They provided a very
                            high standard of work for a very competitive price. Everything was explained and there were no
                            hidden costs. They were also very easy to communicate with. I would definitely recommend them
                            to anyone seeking a high quality and very reasonably priced service.</p>
                        <h3>- Moira Williamson, www.trulymedicalgetaways.com</h3>
                    </div>
                    <!-- part 3 -->
                    <div class="col-sm-12 col-xs-12 testContent text-center noPad">
                        <div class="defineFloat borderTest">
                            <span>Find out what our Customers say about Our Services</span>
                        </div>
                        <p>I have been reviewing the SEO reports sent to me recently for my business website.I want to tell
                            you that you brought the new website to the first page within just 7 weeks. Before we hired your
                            company, the website was just started and we were sometimes on page three but not any closer
                            to page one. Now we are on page one for several of our keywords. Certainly your team of experts
                            provide a cost effective process for web services and SEO. My thanks to you and your team. </p>
                        <h3>- Frank Simonetti, www.fsimonetti.com</h3>
                    </div>
                    <!-- part 4 -->
                    <div class="col-sm-12 col-xs-12 testContent text-center noPad">
                        <div class="defineFloat borderTest">
                            <span>Find out what our Customers say about Our Services</span>
                        </div>
                        <p>One of the major factors that lead me to SEOExperts India was their top Ranking in search engines
                            for certain terms related to SEO in addition to that the marketing team’s friendly approach gained
                            my interest further to discuss the project. SEO experts have achieved the anticipated results
                            though they have not disclosed the processes involved. I would like to give a good rating for
                            the skills being showcased while commencing the project.</p>
                        <h3>Anu Kishan, www.annexmed.com </h3>
                    </div>
                    <!-- part 5 -->
                    <div class="col-sm-12 col-xs-12 testContent text-center noPad">
                        <div class="defineFloat borderTest">
                            <span>Find out what our Customers say about Our Services</span>
                        </div>
                        <p>I discovered SEOExperts India over the internet & with all the information I found about them, they
                            seemed like a reliable choice. In fact, after looking at the well-defined and organized campaign,
                            the 1st impression I got was that they could deliver results . Moreover the questions they directed
                            at me were directly related to the SEO campaign and their suggestions were accurate. Also their
                            pricing structure was very competitive & the timeframe they provided was spot on!</p>
                        <h3>Ross Huntley, www.muscle-science-australia.com </h3>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="reviewsOuter">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li>
                        <img src="{% static 'home/images/seirating.jpg' %}" alt="">Rated 4.8 out of 5 based on 968 ratings
                        <span>|</span>
                    </li>
                    <li>
                        <a href="/reviews.html">See Featured Reviews
                            <span>»</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>