.articles h1 {
  color: rgb(184, 184, 184) !important;
  text-shadow: 2px 2px rgb(110, 110, 110);
}

.bordered {
  background: rgba(204, 204, 204, 0.6);
  border-top: 1px solid rgb(180, 180, 180);
  border-bottom: 1px solid rgb(180, 180, 180);
}

