.jumbotron {
    margin-top: 150px;
    background-image: url("../images/nai.052941ccf67c.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    overflow: hidden;
    border-radius: 0;
}